<form autocomplete="off" onsubmit="event.preventDefault();">
	<div class="form-group">
		<label for="data">{{ localize 'projectfu-theme.dialog.importTheme.themeData.label' }}</label>
		<input type="file" name="data" />
	</div>
</form>