<div class='resource-content desc'>
    <label data-tooltip="{{localize 'FU.ClassFeatureToneDescriptionTooltip'}}">
        {{localize 'FU.ClassFeatureToneDescription'}}
        <i class="fas fa-info-circle"></i>
    </label>
    {{editor enrichedHtml.description target='system.data.description' engine='prosemirror' button=true rollData=additionalData.rollData}}
</div>