<div class='resource-content desc'>
    <label class='resource-label-m' data-tooltip="{{localize 'FU.ClassFeatureToneDescriptionTooltip'}}">
        {{localize 'FU.Description'}}
        <i class="fas fa-info-circle"></i>
    </label>
	{{formInput dataFields.description
				name="system.data.description"
				value=system.data.description
				toggled=true
				rollData=additionalData.rollData
				enriched=enrichedHtml.description}}
</div>