<div class="fu-tags">
    <div class="fu-tag">
        {{localize types}}
    </div>
    <div class="fu-tag">
        {{localize statuses}}
    </div>
    <div class="fu-tag">
        {{localize attributes}}
    </div>
    <div class="fu-tag">
        {{localize recoveryOptions}}
    </div>
</div>
