<div class="item-full start gap-2 resource-content">
    <div>{{localize "FU.ClassFeatureKey"}}:</div>
    <div class="description-effect">{{system.data.key.name}}</div>
    <span>⬥</span>
    <div>{{localize "FU.ClassFeatureTone"}}:</div>
    <div class="description-effect">{{system.data.tone.name}}</div>
</div>