<div>
    <span>{{localize (lookup additionalData.types system.data.type)}}</span>
    <span>⬥</span>
    <span>{{localize (lookup additionalData.statuses system.data.status)}}</span>
    <span>⬥</span>
    <span>{{localize (lookup additionalData.attributeAbbreviations system.data.attribute)}}</span>
    <span>⬥</span>
    <span>{{localize (lookup additionalData.recoveryOptions system.data.recovery)}}</span>
</div>