<div class="unique-rp gap-5" style="margin: 5px 0;">
    <span class="rp-label">{{data.name}}</span>
    <div class="stats">
        <span class="stat-current">{{data.current}}</span>
        <span class="stat-divider">/</span>
        <span class="stat-max">{{data.max}}</span>
    </div>
</div>
