<div class='detail-desc flexrow flex-group-center desc' style='padding: 0 2px;'>
    <div>
        {{{localize 'FU.ChatCheckReroll' trait=(localize (pfuConcat 'FU.' (pfuCapitalize reroll.trait)))
                    value=(pfuConcat '<u>' reroll.value '</u>')}}}
    </div>
</div>

{{#if (pfuCollectionContains reroll.selection "ignore-fp")}}
<div class="detail-desc flexrow flex-group-center desc" style="padding: 0 2px;">
    <div>
        {{localize 'FU.DialogIgnoreFPCost'}}
    </div>
</div>
{{/if}}
