<div class="toggle-section tags {{#if (getGameSetting 'optionChatMessageHideTags')}}hidden{{/if}}">
    <div class="fu-tags">
        <div class="fu-tag">{{localize (concat 'FU.' (capitalize basic.type))}}</div>
    </div>
</div>
{{#if basic.quality}}
    <div class="toggle-section quality {{#if (getGameSetting 'optionChatMessageHideQuality')}}hidden{{/if}}">
        {{> 'systems/projectfu/templates/chat/partials/chat-item-armor-info.hbs' quality=basic.quality}}
    </div>
{{/if}}

{{#if (or basic.summary basic.description)}}
    <div class="toggle-section description {{#if (getGameSetting 'optionChatMessageHideDescription')}}hidden{{/if}}">
        {{> 'systems/projectfu/templates/chat/partials/chat-item-description.hbs' summary=basic.summary description=basic.description}}
    </div>
{{/if}}