{{#if weapon.quality}}
    <div class="toggle-section quality {{#if (pfuGetSetting 'optionChatMessageHideQuality')}}hidden{{/if}}">
        {{> 'systems/projectfu/templates/chat/partials/chat-item-quality.hbs' quality=weapon.quality}}
    </div>
{{/if}}

{{#if (or weapon.summary weapon.description)}}
    <div class="toggle-section description {{#if (pfuGetSetting 'optionChatMessageHideDescription')}}hidden{{/if}}">
        {{> 'systems/projectfu/templates/chat/partials/chat-item-description.hbs' summary=weapon.summary description=weapon.description}}
    </div>
{{/if}}