<div>
    <div class='chat-desc'>
        <details {{#unless (getGameSetting 'collapseDescriptions')}}{{open}}{{/unless}}>
            <summary class="collapsible-description align-center">{{localize 'FU.Description'}}</summary>
            {{#if summary}}
                <blockquote class='summary quote'>{{summary}}</blockquote>
            {{/if}}
            {{{description}}}
        </details>
    </div>
</div>