<div style="clear: both;"></div>
<div class='detail-desc flexrow flex-group-center' style='padding: 0 2px; margin-top: 1em'>
    <div>
		<span class='result-text'>
			{{#if winner}}
                {{{localize 'FU.OpposedCheckWinner' winner=winner}}}
            {{else}}
                {{{localize 'FU.OpposedCheckDraw'}}}
			{{/if}}
		</span>
    </div>
</div>
