<div>
    <div class='chat-desc'>
        <details {{#unless (pfuGetSetting 'optionChatMessageCollapseDescription')}}{{open}}{{/unless}}>
            <summary class="collapsible-description align-center">{{title}}</summary>
            {{{description}}}
        </details>
    </div>
</div>