{{#if ability.opportunity}}
    <div class="toggle-section quality {{#if (getGameSetting 'optionChatMessageHideQuality')}}hidden{{/if}}">
        {{> 'systems/projectfu/templates/chat/partials/chat-item-opportunity.hbs' opportunity=ability.opportunity}}
    </div>
{{/if}}

{{#if (or ability.summary ability.description)}}
    <div class="toggle-section description {{#if (getGameSetting 'optionChatMessageHideDescription')}}hidden{{/if}}">
        {{> 'systems/projectfu/templates/chat/partials/chat-item-description.hbs' summary=ability.summary description=ability.description}}
    </div>
{{/if}}

{{#if ability.weapon}}
    <div class='detail-desc flexrow flex-group-center desc' style='padding: 0 2px;'>
        <div>
            {{localize ability.weapon.slot}}:
            {{ability.weapon.name}}
        </div>
    </div>
{{/if}}
