{{#*inline "weapon"}}
    {{> 'systems/projectfu/templates/chat/partials/chat-weapon-details.hbs' weapon=details}}
{{/inline}}
{{#*inline "spell"}}
    {{> 'systems/projectfu/templates/chat/partials/chat-spell-details.hbs' spell=details}}
{{/inline}}
{{#*inline "basic"}}
    {{> 'systems/projectfu/templates/chat/partials/chat-basic-attack-details.hbs' basic=details}}
{{/inline}}
{{#*inline "ability"}}
    {{> 'systems/projectfu/templates/chat/partials/chat-ability-details.hbs' ability=details}}
{{/inline}}

<div data-item-id="{{details.id}}">
    {{> (lookup details "_type") }}
</div>