<div>
    <details {{#unless collapseDescriptions}}open{{/unless}}>
        <summary>{{localize 'FU.Description'}}</summary>
        <div class='chat-desc'>
            {{#if summary}}
                <blockquote class='summary quote'>{{summary}}</blockquote>
            {{/if}}
            {{{description}}}
        </div>
    </details>
</div>