{{#if basic.quality}}
    <div class="pfu-chat-message__toggle-section quality {{#if (pfuGetSetting 'optionChatMessageHideQuality')}}hidden{{/if}}">
        {{> 'systems/projectfu/templates/chat/partials/chat-item-quality.hbs' quality=basic.quality}}
    </div>
{{/if}}

{{#if (or basic.summary basic.description)}}
    <div class="pfu-chat-message__toggle-section description {{#if (pfuGetSetting 'optionChatMessageHideDescription')}}hidden{{/if}}">
        {{> 'systems/projectfu/templates/chat/partials/chat-item-description.hbs' summary=basic.summary description=basic.description}}
    </div>
{{/if}}