<div class="desc scrollable">
	{{#if headerText}}
		{{{localize headerText}}}
		<hr>
	{{/if}}
	{{#each settings as |setting|}}
		<div class="setting">
			{{formGroup setting.field value=setting.value localize=true}}
		</div>
	{{/each}}
</div>