<div class="description-with-tags">
	<div class="pfu-tags">
		{{#if system.data.complex}}
			<div class="fu-tag">{{localize "FU.ClassFeatureSupportModuleComplex"}}</div>
		{{/if}}
	</div>
	<div>
		{{{additionalData.enrichedDescription}}}
	</div>
</div>