<div class="detail-desc">
    <div>
        <div>
            <span>{{localize 'FU.ClassFeatureVehicleFrame'}}:</span>
            <span>{{localize (lookup additionalData.frames vehicle.frame)}}</span>
        </div>
        <div>
            <span>{{localize 'FU.ClassFeatureVehiclePassengers'}}:</span>
            <span>{{vehicle.passengers}}</span>
        </div>
    </div>
</div>