<div class="flexrow item-full start">
    <div>
        <div><b>{{localize 'FU.ClassFeaturePsychicGiftTrigger'}}:</b> {{system.data.trigger}}</div>
        <span class="description-effect">{{system.summary.value}}</span>
    </div>
</div>