/* ----------------------------------------- */
/* Barmeter Styles                       
/* ----------------------------------------- */
/* HP/MP/IP Input Bar */
.projectfu .bar-progress {
	font-size: 14px;
	height: 16px;
	border: 1px solid #c7c7c7;
	background-color: #656565;
	-webkit-box-shadow: 0.125em 0.125em 0em 0.0625em rgba(0, 0, 0, 0.5) inset;
	box-shadow: 0.125em 0.125em 0em 0.0625em rgba(0, 0, 0, 0.5) inset;
	position: relative;
}

.projectfu .bar-progress.diag {
	clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
}

.projectfu .bar-progress::after {
	content: '';
	display: block;
}

.projectfu .bar-progress-bar {
	height: 100%;
	max-width: 100%;
	background-color: #ea9aa8;
	-webkit-box-shadow: 0.125em 0.125em 0em 0.0625em rgba(0, 0, 0, 0.5) inset;
	box-shadow: 0.125em 0.125em 0em 0.0625em rgba(0, 0, 0, 0.5) inset;
	-webkit-transition: width 500ms ease-in-out;
	transition: width 500ms ease-in-out;
	position: relative;
}

.projectfu .bar-progress-bar.diag {
	clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
	margin-left: -2px;
}

.projectfu .bar-hp {
	background-color: #17b924;
	background-image: -webkit-gradient(linear, left top, right top, from(#17b924), to(rgba(255, 255, 255, 0.5)));
	background-image: linear-gradient(90deg, #17b924, rgba(255, 255, 255, 0.5));
}

.projectfu .bar-hp-crisis {
	background-color: #d1232a;
	background-image: -webkit-gradient(linear, left top, right top, from(#d1232a), to(rgba(255, 255, 255, 0.5)));
	background-image: linear-gradient(90deg, #d1232a, rgba(255, 255, 255, 0.5));
}

.projectfu .bar-mp {
	background-color: #16aad6;
	background-image: -webkit-gradient(linear, left top, right top, from(#16aad6), to(rgba(255, 255, 255, 0.5)));
	background-image: linear-gradient(90deg, #16aad6, rgba(255, 255, 255, 0.5));
}

.projectfu .bar-ip {
	background-color: #d68931;
	background-image: -webkit-gradient(linear, left top, right top, from(#d68931), to(rgba(255, 255, 255, 0.5)));
	background-image: linear-gradient(90deg, #d68931, rgba(255, 255, 255, 0.5));
}

.projectfu .bar-project {
	background-color: #d68931;
	background-image: -webkit-gradient(linear, left top, right top, from(#d68931), to(rgba(255, 255, 255, 0.5)));
	background-image: linear-gradient(90deg, #d68931, rgba(255, 255, 255, 0.5));
}

.projectfu .bar-level {
	background-color: #ffd166;
	background-image: -webkit-gradient(linear, left top, right top, from(#6ee36e), to(rgba(255, 255, 255, 0.5)));
	background-image: linear-gradient(90deg, #6ee36e, rgba(255, 255, 255, 0.5));
}

.projectfu .bar-zeropower {
	background-color: #9400d3;
	background-image: -webkit-gradient(linear, left top, right top, from(#9400d3), to(rgba(255, 255, 255, 0.5)));
	background-image: linear-gradient(90deg, #9400d3, rgba(255, 255, 255, 0.5));
}

.projectfu .bar-value {
	color: #ffffff;
}

.projectfu .center-line {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	width: 1px;
	background-color: #c7c7c7;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.projectfu .center-line.diag {
	-webkit-transform: translateX(-50%) rotate(28deg);
	-ms-transform: translateX(-50%) rotate(28deg);
	transform: translateX(-50%) rotate(28deg);
	margin-left: -4px;
}

@keyframes hz-bounce-l {
	from {
		transform: translateX(5px);
	}
	to {
		transform: translateX(10px);
	}
}

@keyframes hz-bounce-r {
	from {
		transform: translateX(-5px);
	}
	to {
		transform: translateX(-10px);
	}
}

.crisis-restore {
	position: absolute;
	width: 20px;
	top: 0;
	bottom: 0;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	cursor: pointer;
	z-index: 1;

	i {
		opacity: 0;
		transition: opacity 0.25s ease-in;
		pointer-events: none;
		flex: 0 0 auto;
		text-shadow: 0 0 2px black;

		&.fa-caret-left {
			animation: hz-bounce-l 1s ease-in-out infinite alternate;
		}

		&.fa-caret-right {
			animation: hz-bounce-r 1s ease-in-out infinite alternate;
		}
	}
}

/* TODO: This is used everywhere in the system BUT the sheet resource bars. */
.projectfu .resource-current-input {
	color: #ebf7af;
	background: #2b4a42;
	border: 1px solid #c7c7c7;
	height: 32px;
	text-align: center;
}

.bar-wrapper {
	flex: 1 0 100%;

	.bar {
	}
}

.resource-container:hover .bar-wrapper .crisis-restore i {
	opacity: 1;
}

.resource-label-wrapper {
	display: flex;
	flex: 0 0 auto;
}

.resource-icon {
}

.resource-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-height: min-content;
}

.resource-value-wrapper {
	position: relative;
	display: inline-block;
	font-family: var(--font-primary);
	font-size: var(--font-size-md);
	font-weight: bold;
	box-shadow: var(--input-box-shadow);
	--input-height: 28px;
	place-self: flex-end;

	&.value-small {
		input.resource-value-current,
		.resource-value-divider,
		.resource-value-max {
			width: 10ch;
		}
	}

	input.resource-value-current,
	.resource-value-divider,
	.resource-value-max {
		width: 14ch;
	}

	input.resource-value-current {
		padding: 0.25rem calc(50% + 1ch) 0.25rem 0.5rem;
		background: var(--pfu-color-app-control-fill);
		text-align: right;
		border-radius: var(--pfu-border-radius-small) var(--pfu-border-radius-small) 0 0;
		margin: 0 1px;
	}

	.resource-value-divider {
		position: absolute;
		height: var(--input-height);
		padding: 0.25em 0.5rem 0.25rem 0.5rem;
		text-align: center;
		right: 0;
		pointer-events: none;
		color: var(--pfu-color-app-control-content);
		margin: 0 1px;
	}

	.resource-value-max {
		position: absolute;
		height: var(--input-height);
		padding: 0.25rem 0.5rem 0.25rem calc(50% + 1ch);
		text-align: left;
		top: 0;
		right: 0;
		pointer-events: none;
		color: var(--pfu-color-app-control-content);
		margin: 0 1px;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.projectfu .bar-progress-segmented {
	font-size: 14px;
	height: 16px;
	border: 1px solid #c7c7c7;
	box-shadow: 0.125em 0.125em 0 0.0625em rgba(0, 0, 0, 0.5) inset;
	position: relative;
	display: flex;
	justify-content: space-evenly;

	.bar-progress-segmented__segment {
		flex: 1;
		box-shadow: 0 0 0 0.0625em rgba(0, 0, 0, 0.5) inset;

		&.bar-progress-segmented__segment--inactive {
			box-shadow: unset;
			background-color: #656565;
		}
	}
}
