/* ----------------------------------------- */
/* Dialogs Styles                       
/* ----------------------------------------- */
.projectfu.unique-dialog .dialog-content {
	/* Description Format */
}

.projectfu.unique-dialog .dialog-content .resource-content {
	color: #2b4a42;
	background-color: transparent;
}

.projectfu.unique-dialog .dialog-content .resource-content.resource-label {
	font-size: 1.125rem;
	font-weight: bold;
	font-family: "Yanone Kaffeesatz", sans-serif;
	font-variant: small-caps;
}

.projectfu.unique-dialog .dialog-content .desc {
	background: url(../static/ui/Bkg_highres.png), -webkit-gradient(linear, left top, right top, from(#f5f5dc), to(#c9c7b8));
	background: url(../static/ui/Bkg_highres.png), linear-gradient(to right, #f5f5dc, #c9c7b8);
	background-blend-mode: multiply;
	background-repeat: repeat-y;
	background-position: right top;
	border-radius: 10px;
	border: 1px solid rgba(44, 74, 66, 0.3294117647);
	padding: 0.25rem;
}

.projectfu.unique-dialog .dialog-content .desc .inline-desc {
	background: -webkit-gradient(linear, left top, right top, from(rgb(233, 243, 234)), to(rgba(233, 243, 234, 0.5)));
	background: linear-gradient(to right, rgb(233, 243, 234), rgba(233, 243, 234, 0.5));
	border-radius: 10px;
	border: 1px solid #a2b29f;
	padding: 5px;
}

.projectfu.unique-dialog .dialog-content fieldset {
	background: url(../static/ui/Bkg_highres.png), -webkit-gradient(linear, left top, right top, from(#f5f5dc), to(#c9c7b8));
	background: url(../static/ui/Bkg_highres.png), linear-gradient(to right, #f5f5dc, #c9c7b8);
	background-blend-mode: multiply;
	background-repeat: repeat-y;
	background-position: right top;
	border-radius: 10px;
	border: 1px solid rgba(44, 74, 66, 0.3294117647);
	padding: 5px;
	margin-bottom: 5px;
}

.projectfu.unique-dialog .dialog-content fieldset legend {
	border-radius: 10px;
	margin: 0 auto;
	padding: 0px 15px;
	background: #2b4a42;
	color: #ebf7af;
	position: relative;
	text-align: left;
	width: auto;
}

.projectfu.unique-dialog .dialog-content .radio-container {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	gap: 5px;
}

.projectfu.unique-dialog .dialog-content .radio-container label {
	font-size: 16px;
	line-height: 1.45em;
	font-family: "PT Sans Narrow", sans-serif;
}

.projectfu.unique-dialog .dialog-buttons {
	margin-top: 5px;
}

.projectfu.unique-dialog .dialog-group-check-cancel {
	padding: 0.5em;
}

.projectfu.unique-dialog .dialog-group-check-support>* {
	margin: 0.5em;
}

.projectfu.unique-dialog .dialog-group-check-support .leader {
	font-weight: bold;
}

.projectfu.unique-dialog .dialog-group-check-support .bond {
	padding: 0.25em;
	border: 1px solid gray;
	margin-bottom: 0.25em;
}

.projectfu.unique-dialog .dialog-group-check-support .bond .feeling,
.projectfu.unique-dialog .dialog-group-check-support .bond .bondWith {
	font-weight: bold;
}

.projectfu.unique-dialog .dialog-name .dialog-image {
	border: none;
	padding-right: 5px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 30px;
	flex: 0 0 30px;
	position: relative;
}

.projectfu.unique-dialog .dialog-name .dialog-image img {
	max-width: 100%;
	display: block;
	height: 24px;
	width: 24px;
	overflow: hidden;
	border-radius: 5px;
	background-image: -webkit-gradient(linear, left top, right top, from(#2b4a42), to(#3d665a));
	background-image: linear-gradient(to right, #2b4a42, #3d665a);
	-webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
	transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
	transition: transform 0.3s ease, opacity 0.3s ease;
	transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
}

.projectfu.unique-dialog .dialog-name .dialog-image:hover img {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transform-origin: center center;
	-ms-transform-origin: center center;
	transform-origin: center center;
	opacity: 0.75;
}

.projectfu.unique-dialog .dialog-name .dialog-image:hover img::before {
	content: "";
	position: absolute;
	width: 24px;
	height: 24px;
	opacity: 0.75;
	z-index: -1;
}

.projectfu.unique-dialog .active-effect-sheet .editor {
	height: 200px;
}

.projectfu.unique-dialog .targets-container {
	border: 2px dotted;
	min-height: 70px;
	padding: 5px;
	width: auto;
	overflow-x: auto;
}

.projectfu.unique-dialog .form-buttons button,
.projectfu.unique-dialog .action-button button {
	background: rgba(255, 255, 240, 0.8);
}