.pfu-tags {
	margin: 0;
	padding: 0.125rem 0;
}

.projectfu .tag {
	align-items: center;
	color: var(--color-text-primary);
	background: var(--pfu-color-app-control-fill);
	border-radius: 2px;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
	display: inline-flex;
	font-weight: 500;
	padding: 0 0.5em;
}

.pfu-tags .fu-tag {
	color: var(--pfu-color-app-control-content);
	background: var(--pfu-color-app-control-fill);
	box-shadow: 0.063rem 0.1rem var(--pfu-color-app-control-shadow);
	border: 0.063rem solid var(--pfu-color-app-control-border);
	text-shadow: 1px 1px var(--pfu-color-app-control-content-shadow);

	font-family: 'PFU Sans Narrow', sans-serif;
	font-variant: small-caps;
	font-size: 0.813rem;
	font-weight: 700;
	letter-spacing: 0.063rem;
	text-rendering: optimizeLegibility;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #3d665a;
	border-radius: 0.5rem;
	padding: 0 0.375rem;
	white-space: wrap;
	word-break: break-all;
	display: -ms-inline-flexbox;
	display: inline-flex;
	margin: 0.0625rem 0;

	& i {
		color: var(--pfu-color-app-control-content);
	}

	&:hover {
		color: var(--pfu-color-control-focus-content);

		& i {
			color: var(--pfu-color-control-focus-content);
		}
	}

	&.button {
		padding: 0.188rem;
		letter-spacing: 0;
	}

	&:not(.button) {
		filter: grayscale(100%);
	}

	&.trait {
		filter: grayscale(100%);
	}

	&.soldier {
		background: #8a7300;
		filter: unset;
	}

	&.elite {
		background: #b34700;
		filter: unset;
	}

	&.champion {
		background: #801e1f;
		filter: unset;
	}
}

.pfu-tag-selector {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;

	.tag {
		cursor: pointer;
		padding: 0.4em;
		border: 1px solid grey;
		font-size: 1.1rem;
		line-height: 1.2rem;
		border-radius: 0;
		background: var(--pfu-color-control-fill);
		color: var(--pfu-color-control-content);
		user-select: none;
		transition:
			background 0.1s,
			color 0.1s,
			border-color 0.1s;

		&:hover {
			filter: brightness(1.2);
		}

		&.active {
			background: color-mix(in srgb, var(--pfu-color-app-control-active-shadow) 70%, white);
			color: color-mix(in srgb, var(--pfu-color-control-content) 70%, white);
		}
	}
}
