.technosphere-slots {
	--pfu-section-border-color: #6f6c66;
	--pfu-section-border-radius: 1rem;
	--pfu-item-icon-size: 30px;

	display: flex;
	flex-direction: column;
	gap: var(--spacing-sm);

	.technosphere-slots__slot {
		display: flex;
		gap: var(--spacing-md);
		align-items: center;
		border: 1px solid var(--pfu-section-border-color);
		border-radius: var(--pfu-section-border-radius);
		padding-right: var(--spacing-lg);

		&:has(+ .technosphere-slots__slot--occupied) {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		> * {
			flex: auto;
		}

		&.technosphere-slots__slot--empty,
		&.technosphere-slots__slot--mnemosphere,
		&.technosphere-slots__slot--hoplosphere {
			background-color: rgb(from white r g b / 35%);
		}

		&.technosphere-slots__slot--over-capacity,
		&.technosphere-slots__slot--over-capacity.technosphere-slots__slot--occupied {
			background-color: rgb(from red r g b / 35%);
		}

		&.technosphere-slots__slot--occupied {
			background-color: rgb(from gray r g b / 35%);
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			margin-top: calc(-1 * var(--spacing-sm));
			border-top: 0;
		}

		&.technosphere-slots__slot--mnemosphere {
			.technosphere-slots__slot-image {
				background-image: url('../../static/ui/mnemosphere-slot.png');
			}
		}

		&.technosphere-slots__slot--hoplosphere {
			.technosphere-slots__slot-image {
				background-image: url('../../static/ui/hoplosphere-slot.png');
			}

			&.technosphere-slots__slot--occupied {
				.technosphere-slots__slot-image {
					background-image: url('../../static/ui/hoplosphere-slot-occupied.png');
				}
			}
		}

		.technosphere-slots__slot-image {
			flex: 0 0 auto;
			position: relative;
			display: inline-block;
			width: 32px;
			height: 32px;

			a {
				display: block;
				position: absolute;
				top: 10%;
				left: 10%;
				bottom: 10%;
				right: 10%;
				clip-path: circle(9px);

				img {
					min-width: 100%;
					min-height: 100%;
					max-width: 100%;
					max-height: 100%;
					width: 100%;
					height: 100%;
				}
			}
		}

		.technosphere-slots__slot-actions {
			flex: 0 0 auto;
		}

		.technosphere-slots__item-icon {
			min-width: var(--pfu-item-icon-size);
			max-width: var(--pfu-item-icon-size);
			min-height: var(--pfu-item-icon-size);
			max-height: var(--pfu-item-icon-size);
		}
	}
}
