.cell-equipment-weapon-details {
	height: 100%;
	color: var(--color-primary);

	font-weight: var(--font-weight-bold);
	font-size: 110%;
	text-align: end;

	display: flex;
	justify-content: end;
	align-items: center;

	.cell-equipment-weapon-details__check {
		flex: 0 1 120px;
	}

	.cell-equipment-weapon-details__damage {
		flex: 0 1 160px;
		text-align: start;
	}

	.cell-equipment-weapon-details__divider {
		border-left: 1px solid var(--color-primary);
		margin-left: 0.5rem;
		height: 80%;
	}
}
