.cell-effect-controls {
	/*height: 100%;*/
	padding-right: 5px;

	display: flex;
	justify-content: end;
	align-items: center;
	gap: 5px;

	> * {
		flex: 0 0 auto;
	}

	.cell-effect-controls__control {
		width: 1.5rem;
		height: 1.5rem;

		border: 0.01em solid var(--color-border-secondary);
		border-radius: 10px;
		box-shadow: 1px 2px var(--color-primary);
		background: var(--color-primary);

		color: var(--color-text-primary);
		text-decoration: none;

		display: inline-flex;
		align-items: center;
		justify-content: center;

		transition:
			background-color 0.3s,
			color 0.3s,
			transform 0.2s ease-in-out,
			box-shadow 0.2s ease-in-out;

		&.cell-effect-controls__control--active {
			color: var(--color-button-active-text);
			border: 1px solid var(--color-button-active-border-secondary);
			background: var(--gradient-button-active-bg);
			box-shadow: none;
			text-shadow: 0 0 5px var(--color-shadow-inverted);
		}

		&:hover {
			background: var(--gradient-button-hover-bg);
			color: var(--color-primary);
			text-shadow: none;
		}

		&:active {
			transform: translateY(1px);
		}

		&.cell-effect-controls__control--disabled,
		&.cell-effect-controls__control--active.cell-effect-controls__control--disabled {
			pointer-events: none;
			color: var(--color-button-active-text);
			border: 1px solid var(--color-button-active-border-secondary);
			background: var(--gradient-button-disabled-bg);
			box-shadow: none;
			text-shadow: 0 0 5px var(--color-shadow-inverted);

			&:hover {
			}
		}
	}
}
