.cell-effect-name {
	.cell-effect-name__main {
		display: flex;
		gap: 0.25rem;
		align-items: center;
		height: 100%;

		> * {
			flex: 0 0 auto;
		}

		.cell-effect-name__image {
			width: 24px;
			height: 24px;
			border-radius: 5px;
			background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
			transition:
				transform 0.3s ease,
				opacity 0.3s ease;

			&:hover {
				transform: scale(1.1);
				transform-origin: center;
				opacity: 0.75;
			}
		}

		.cell-effect-name__name {
			font-size: var(--font-size-base);
			font-family: var(--font-primary) sans-serif;
			color: var(--color-primary);
			font-weight: var(--font-weight-bold);
			overflow: hidden;
			text-overflow: ellipsis;
			flex-shrink: 1;

			&.cell-effect-name__name--suppressed {
				text-decoration: #d1232a line-through 2px;
				filter: opacity(60%);
			}
		}
	}
}
