.description-with-slots {
	grid-column: 1/-1;
	display: grid;
	grid-template-columns: subgrid;

	&.description-with-slots--flex {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;

		.description-with-slots__description-container {
			flex: 1 1 auto;
		}

		.description-with-slots__slots-container {
			flex: 0 0 auto;
		}
	}

	.description-with-slots__description-container {
		grid-column: 1/-3;
	}

	.description-with-slots__slots-container {
		grid-column: -3 / -1;
	}

	.description-with-slots__slots {
		background: var(--color-transparent-gradient);
		border-radius: 10px;
		border: 1px solid var(--color-border-secondary);
		padding: 1px;
		line-height: 0;
		width: max-content;
		cursor: default;
	}

	.description-with-slots__slot {
		position: relative;
		display: inline-block;
		width: 32px;
		height: 32px;

		img {
			clip-path: circle(9px);
			min-width: 100%;
			min-height: 100%;
			max-width: 100%;
			max-height: 100%;
			width: 100%;
			height: 100%;
		}

		&.description-with-slots__slot--mnemosphere {
			background-image: url('../../../static/ui/mnemosphere-slot.png');

			&.description-with-slots__slot--occupied {
				background-image: url('../../../static/ui/mnemosphere-slot-occupied.png');
			}
		}

		&.description-with-slots__slot--hoplosphere {
			background-image: url('../../../static/ui/hoplosphere-slot.png');

			&.description-with-slots__slot--occupied {
				background-image: url('../../../static/ui/hoplosphere-slot-occupied.png');
			}
		}

		&.description-with-slots__slot--over-capacity {
			background-color: var(--color-error);
			border-radius: 100%;
		}
	}
}
