.fu-application {
	color: var(--color-text-dark);
}

.fu-application__sidebar {
	padding: 0.75rem;
	border-right: 1px solid var(--color-border-light-primary);
	overflow-y: auto;
}

.fu-application__content {
	padding: 0.75rem;
	overflow-y: auto;
}

.fu-application__header {
}

.fu-application__browser {
	display: grid;
	grid-template-columns: 200px 1fr;
	height: 100%;
}

.fu-application h1,
.fu-application h2,
.fu-application h3,
.fu-application h4 {
	margin: 0 0 0.35em;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--color-text-dark-primary);
}

.fu-application h1 {
	font-size: 1.6em;
}
.fu-application h2 {
	font-size: 1.3em;
}
.fu-application h3 {
	font-size: 1.1em;
}
.fu-application h4 {
	font-size: 0.95em;
}
