.fu-application {
	color: var(--color-text-dark);
}

.fu-application__browser {
	display: grid;
	height: 100%;
	grid-template-areas:
		'tabs tabs'
		'sidebar content';
	grid-template-rows: auto 1fr;
	grid-template-columns: 240px 1fr;
}

.fu-application__tabs {
	grid-area: tabs;
}

.fu-application__tabs nav {
	background: var(--accent-bg);
	text-transform: uppercase;
}

.fu-application__sidebar {
	padding: 0.75rem;
	border-right: 1px solid var(--color-border-light-primary);
	overflow-y: auto;
	grid-area: sidebar;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.fu-application__sidebar__filter {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	align-items: start;
}

.fu-application__content {
	padding: 0.75rem;
	overflow-y: auto;
	grid-area: content;
}

.fu-application h1,
.fu-application h2,
.fu-application h3,
.fu-application h4 {
	margin: 0 0 0.35em;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--color-text-dark-primary);
}

.fu-application h1 {
	font-size: 1.6em;
}
.fu-application h2 {
	font-size: 1.3em;
}
.fu-application h3 {
	font-size: 1.1em;
}
.fu-application h4 {
	font-size: 0.95em;
}
