.fu-foldout-item {
	border-bottom: 1px solid #e0e0e0;
}

.fu-foldout-item:last-child {
	border-bottom: none;
}

.fu-foldout-summary {
	cursor: pointer;
	outline: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: background-color 0.2s ease;
	font-size: large;
	padding: 0 0.5rem;
	background: var(--color-tabStyle-gradient);
	color: var(--color-text-primary);
	text-shadow: 1px 1px 1px #000000;
	font-weight: var(--font-weight-bold);
	border-radius: 4px;
	box-shadow: 1px 2px var(--color-primary);
}

.fu-foldout-summary:hover {
	background-color: #f9f9f9;
}

.fu-foldout-summary::after {
	content: '\002B'; /* Plus sign */
	font-size: 1.2em;
	transition: transform 0.3s ease;
}

.fu-foldout-item[open] > .fu-foldout-summary {
	background-color: #e9e9e9;
}

.fu-foldout-item[open] > .fu-foldout-summary::after {
	content: '\2212'; /* Minus sign */
	transform: rotate(180deg);
}

.fu-foldout-content {
	padding: 15px 20px;
	line-height: 1.6;
	color: #555;
	background: linear-gradient(rgba(240, 246, 232, 0.7), rgba(230, 240, 220, 0.7));
	border-radius: 5px;
	border: 1px solid var(--border-primary);
}

/* Optional smooth animation */
.fu-foldout-item[open] .fu-foldout-content {
	animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
