.pfu-foldout {
	border-bottom: 1px solid #e0e0e0;
}

.pfu-foldout:last-child {
	border-bottom: none;
}

.pfu-foldout > summary {
	background: var(--color-tabStyle-gradient);
	cursor: pointer;
	outline: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: background-color 0.2s ease;
	padding: 0 0.5rem;
	border-radius: 4px;
	box-shadow: 1px 2px var(--color-primary);

	span,
	label,
	i {
		--color-text-primary: var(--pfu-color-app-item-header-content);
		color: var(--color-text-primary);
		text-shadow: 1px 1px var(--pfu-color-app-item-header-shadow);
		font-weight: var(--font-weight-bold);
		font-size: large;
	}
}

.pfu-foldout > summary:hover {
	background-color: #f9f9f9;
}

.pfu-foldout > summary::after {
	content: '\002B'; /* Plus sign */
	font-size: 1.2em;
	transition: transform 0.3s ease;
}

.pfu-foldout[open] > summary {
	background-color: #e9e9e9;
}

.pfu-foldout[open] > summary::after {
	content: '\2212'; /* Minus sign */
	transform: rotate(180deg);
}

.pfu-foldout > .pfu-foldout__content {
	padding: 15px 20px;
	line-height: 1.6;
	background: none;
	border-radius: 5px;
	border: 1px solid var(--border-primary);
}

/* Optional smooth animation */
.pfu-foldout[open] > .pfu-foldout__content {
	animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
