.fu-form__button {
	background-color: var(--color-primary);
	color: #ebf7af;
}

.fu-form__array__element {
	display: flex;
	margin: 2px;
	gap: 4px;
	align-items: center;
}

.fu-form__row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-self: center;
	margin: 4px;
	gap: 4px;
}

.fu-form__array__element__input {
	width: 100%;
}

/* Container */
.fu-dialog {
	color: var(--color-text-dark);
}

.fu-dialog__text {
	text-align: center;
}

.fu-dialog__icon-group {
	display: grid;
	gap: 2px;
}

.fu-dialog__output {
	font-size: large;
	color: var(--color-text-primary);
	padding: 4px;
	text-align: center;
	border: 1px solid var(--color-border-divider);
	background: var(--color-background-alt);
}

.fu-dialog-item_label {
	font-size: large;
	text-align: center;
	display: flex;
	margin: 4px;
	gap: 4px;
}

.fu-dialog__icon-option {
	display: inline-flex;
	width: 64px;
	height: 64px;
	align-items: center;
	justify-content: center;
	padding: 6px;
	border-radius: 6px;
	cursor: pointer;
	transition:
		outline 0.15s ease,
		background 0.15s ease;
}

.fu-dialog__icon-option.selected {
	background: var(--background-critical);
}

.fu-dialog__icon-option:disabled {
	opacity: 0.5;
	background: dimgrey;
	pointer-events: none;
}

.fu-dialog__icon {
	font-size: 48px; /* this controls icon size */
	line-height: 1; /* prevent tall vertical boxes */
	width: 100%;
	height: 100%;
	pointer-events: none; /* ensure clicking triggers label */
}

.fu-dialog__icon__small {
	width: 24px;
	height: auto;
}
