.fu-form__button {
	background-color: var(--color-primary);
	color: #ebf7af;
}

.fu-form__array__element {
	display: flex;
	margin: 2px;
	gap: 4px;
	align-items: center;
}

.fu-form__row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-self: center;
	margin: 4px;
	gap: 4px;
}

.fu-form__array__element__input {
	width: 100%;
}

/* Container */
.fu-dialog {
	color: var(--color-text-dark);
}

.fu-dialog__text {
	text-align: center;
}

.fu-dialog__output {
	font-size: large;
	color: var(--color-text-primary);
	padding: 4px;
	text-align: center;
	border: 1px solid var(--color-border-divider);
	background: var(--color-background-alt);
}

.fu-dialog-item_label {
	font-size: large;
	text-align: center;
	display: flex;
	margin: 4px;
	gap: 4px;
}

.-fu-form__row {
	display: flex;
}

.fu-dialog__icon-option {
	display: inline-flex;
	--icon-size: 100%;
	width: var(--icon-size);
	height: var(--icon-size);
	align-items: center;
	justify-content: center;
	padding: 0;
	border-radius: 6px;
	cursor: pointer;
	transition:
		outline 0.15s ease,
		background 0.15s ease;
}

.fu-dialog__icon-option img {
	display: block; /* removes inline spacing */
	width: 100%; /* scale to container */
	height: 100%;
	object-fit: contain; /* maintain aspect ratio */
}

.fu-dialog__icon-option.selected {
	background: var(--background-critical);
}

.fu-dialog__icon-option:disabled {
	opacity: 0.5;
	background: dimgrey;
	pointer-events: none;
}

.fu-icon {
	--icon-size: 100%;
	line-height: 1;
	font-size: var(--icon-size);
	width: var(--icon-size);
	height: var(--icon-size);
	pointer-events: none;
}

.fu-icon--s {
	--icon-size: 24px;
}
.fu-icon--m {
	--icon-size: 48px;
}
.fu-icon--l {
	--icon-size: 64px;
}

.fu-icon__radio-group input {
	margin: 0;
	content: none;
	padding: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.fu-icon__radio-group label {
	pointer-events: auto;
}

.fu-icon__radio-group label input {
	margin: 0;
	content: none;
	padding: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	opacity: 0;
}

.fu-icon__radio-group input:before,
.fu-icon__radio-group input:after {
	/*content: unset;*/
}

/* Highlight the selected label */
.fu-icon__radio-group label input:checked + .fu-icon__radio-group label {
	border: 2px solid blue; /* or any highlight */
	box-shadow: 0 0 4px blue;
}

.cc-selector-2 input:active + .drinkcard-cc,
.fu-icon__radio-group input:active + .drinkcard-cc {
	opacity: 0.9;
}
.cc-selector-2 input:checked + .drinkcard-cc,
.fu-icon__radio-group input:checked + .drinkcard-cc {
	-webkit-filter: none;
	-moz-filter: none;
	filter: none;
}

.drinkcard-cc {
	cursor: pointer;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-flex;
	-webkit-transition: all 100ms ease-in;
	-moz-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
	-webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
	filter: brightness(1.8) grayscale(1) opacity(0.7);
}

.drinkcard-cc:hover {
	-webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
	filter: brightness(1.2) grayscale(0.5) opacity(0.9);
}
