.fu-icon__container {
	display: flex;
	padding: 2px;
	justify-content: center;
	align-items: center;
	text-align: center;

	&.inset {
		background: var(--pfu-color-control-active-fill);
		border-radius: 4px;
		padding: 4px;
		aspect-ratio: 1 / 1;
		box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
	}
}

.fu-icon__badge {
	width: var(--icon-size);
	height: var(--icon-size);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	outline: none;
	border-radius: 50%;
}

.fu-icon__badge-label {
	font-weight: bold;
}

.fu-icon__badge-overlay {
	position: absolute;
	--icon-size: 18px;
	top: -5px;
	right: -10px;
	width: var(--icon-size);
	height: var(--icon-size);
	background: var(--color-background);
	color: var(--pfu-color-app-control-content);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.fu-icon__overlay {
	position: relative;
	display: grid;
	place-items: center;
}

.fu-icon__overlay__text {
	position: absolute;
	inset: 0; /* shorthand for top/right/bottom/left: 0 */
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none; /* avoids blocking clicks on the icon */
}

.fu-icon,
.fu-icon--xs,
.fu-icon--s,
.fu-icon--sm,
.fu-icon--m,
.fu-icon--l {
	--icon-size: 100%;
	line-height: 1;
	font-size: var(--icon-size);
	width: var(--icon-size);
	height: var(--icon-size);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	pointer-events: none;
	object-fit: contain;

	&.glow {
		filter: drop-shadow(0 0 4px var(--pfu-color-misc-shadow-highlight));
	}
}

.fu-icon--xs {
	--icon-size: 16px;
}
.fu-icon--s {
	--icon-size: 24px;
}
.fu-icon--sm {
	--icon-size: 36px;
}
.fu-icon--m {
	--icon-size: 48px;
}
.fu-icon--l {
	--icon-size: 64px;
}

/* Used for background image icons since they won't reserve advance width */
.fu-icon--bg {
	padding-inline: var(--icon-size);
}

.fu-icon__radio-group input {
	margin: 0;
	content: none;
	padding: 0;
	height: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.fu-icon__radio-group label {
	pointer-events: auto;
}

.fu-icon__radio-group label input {
	margin: 0;
	content: none;
	padding: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	opacity: 0;
}

.fu-icon__radio-group input:before,
.fu-icon__radio-group input:after {
	/*content: unset;*/
}

/* Highlight the selected label */
.fu-icon__radio-group label input:checked + .fu-icon__radio-group label {
	border: 2px solid blue; /* or any highlight */
	box-shadow: 0 0 4px blue;
	background-color: red;
}

.fu-icon__radio-group input:active + .fu-icon__radio__label {
	opacity: 0.9;
}
.fu-icon__radio-group input:checked + .fu-icon__radio__label {
	-webkit-filter: none;
	-moz-filter: none;
	filter: none;
}

.fu-icon__radio__label {
	cursor: pointer;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-flex;
	-webkit-transition: all 100ms ease-in;
	-moz-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
	-webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
	/* Remove brightness from icon filter -- looks better on most themes */
	filter: grayscale(1) opacity(0.7);
}

.fu-icon__radio__label:hover {
	-webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
	filter: brightness(1.2) grayscale(0.5) opacity(0.9);
}

.fu-icon__radio__label.selected {
	-webkit-filter: unset;
	filter: unset;
}
