/* ----------------------------------------- */
/* Inline Styles                       
/* ----------------------------------------- */
/* ----------------------------------------- */
/* Color Variables                      
/* ----------------------------------------- */
:root {
	--color-shadow-primary: #182a25;
	--pfu-color-app-section-content-secondary: #2b4a42ff;
}

#tooltip.link-matches a.content-link {
	color: #ffffff;
	text-shadow: 0.07rem 0.07rem 0.07rem #000000;
}

.locked-tooltip.link-matches a.content-link {
	color: #ffffff;
	text-shadow: 0.07rem 0.07rem 0.07rem #000000;
}

a.content-link,
a.inline-roll {
	color: var(--pfu-color-app-control-content);
	border: 0.063rem solid var(--pfu-color-app-control-border);
	background: var(--pfu-color-app-control-fill);
	box-shadow: 0.063rem 0.1rem var(--pfu-color-app-control-shadow);
	text-shadow: 1px 1px var(--pfu-color-app-control-content-shadow);
	border-radius: 0.5rem;
	padding: 0 0.2rem;
	font-weight: bold;

	-webkit-box-shadow: 0.063rem 0.125rem #2b4a42;
	margin: 0.04rem 0.15rem;
	white-space: nowrap;
	word-break: break-all;

	&.fas {
		text-shadow: 1px 1px var(--pfu-color-app-control-content-shadow);
	}

	&.broken {
		background: var(--pfu-color-app-control-fill);
		box-shadow: 0.063rem 0.1rem var(--pfu-color-app-control-shadow);
	}

	&:hover i {
		color: var(--pfu-color-app-control-focus-content);
	}

	& i {
		color: var(--pfu-color-app-control-content);
		margin: 0 0.15rem 0 0;
	}
}

.inline {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	gap: 0.025em;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	justify-content: center;
	align-items: center;
	text-align: center;
	line-height: 18px;
}
.inline img {
	border: none;
	position: relative;
	top: 3px;
}
.inline.broken {
	font-size: var(--font-size-14);
	background: color-mix(in srgb, red, transparent 95%);
	padding: 0.125em 0.25em;
	border: 1px dashed var(--color-border-highlight-alt);
	border-radius: 1px;
	white-space: nowrap;
	word-break: break-all;
}
.inline.broken .fas {
	margin-right: 0.125rem;
}
.inline.inline-common,
.inline.inline-check,
.inline.inline-damage,
.inline.inline-recovery,
.inline.inline-loss,
.inline.inline-effect,
.inline.inline-type,
.inline.inline-clock,
.inline.inline-weapon {
	border-radius: 0.5rem;
	font-size: var(--font-size-14);
	font-weight: bold;
	white-space: nowrap;
	word-break: break-all;
	color: var(--pfu-color-app-control-content);
	background: var(--pfu-color-app-control-fill);
	box-shadow: 0.063rem 0.1rem var(--pfu-color-app-control-shadow);
	border: 0.063rem solid var(--pfu-color-app-control-border);
	text-shadow: 1px 1px var(--pfu-color-app-control-content-shadow);
	margin: unset;
	padding: 0 0.25rem;
	display: inline-flex;
	vertical-align: text-top;
	height: calc(var(--font-size-18) + 0.25rem);

	&:hover .fun {
		background-color: var(--pfu-color-app-control-focus-content);
	}

	& .fua {
		width: inherit;
		height: inherit;
		position: relative;
		top: 1px;
		font-weight: normal;
	}

	& i.indicator,
	& i.fas {
		font-size: var(--font-size-14);
	}

	& .connector {
		font-style: normal;
		margin: 0 0.1rem;
	}

	& img {
		border: unset;
	}

	& .fun {
		filter: unset;
		-webkit-filter: unset;
		background-color: var(--pfu-color-app-control-content);
		fill: none;
		background-blend-mode: unset;
		mask-size: contain;
		height: 1em;
		width: 1em;

		&.fu-aura {
			background-image: unset;
			-webkit-mask-image: url('/icons/svg/aura.svg');
			mask-image: url('/icons/svg/aura.svg');
		}
	}
}
.inline.inline-damage .fun {
	margin-left: 0.125rem;
	display: inline-block;
	width: var(--font-size-18);
	height: var(--font-size-18);
}
.inline.inline-damage [class^='fu-'],
.inline.inline-damage [class*=' fu-'] {
	font-size: var(--font-size-18);
}
.inline.inline-recovery .fas,
.inline.inline-recovery .ra,
.inline.inline-loss .fas,
.inline.inline-loss .ra {
	margin-left: 0.125rem;
	vertical-align: middle;
	font-size: var(--font-size-18);
}
.inline.inline-recovery .indicator,
.inline.inline-loss .indicator {
	width: 0;
	height: 0;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.125em;
	border-left: calc(var(--font-size-16) / 2) solid transparent;
	border-right: calc(var(--font-size-16) / 2) solid transparent;
	-webkit-filter: drop-shadow(0px 1px 1px black);
	filter: drop-shadow(0px 1px 1px black);
}
.inline.inline-recovery .hp,
.inline.inline-loss .hp {
	background: -webkit-gradient(linear, left top, right top, from(#17b924), to(color-mix(in srgb, #17b924, black 30%)));
	background: linear-gradient(to right, #17b924, color-mix(in srgb, #17b924, black 30%));
	-webkit-background-clip: text;
	background-clip: text;
}
.inline.inline-recovery .mp,
.inline.inline-loss .mp {
	background: -webkit-gradient(linear, left top, right top, from(#16aad6), to(color-mix(in srgb, #16aad6, black 30%)));
	background: linear-gradient(to right, #16aad6, color-mix(in srgb, #16aad6, black 30%));
	-webkit-background-clip: text;
	background-clip: text;
}
.inline.inline-recovery .ip,
.inline.inline-loss .ip {
	background: -webkit-gradient(linear, left top, right top, from(#d68931), to(color-mix(in srgb, #d68931, black 30%)));
	background: linear-gradient(to right, #d68931, color-mix(in srgb, #d68931, black 30%));
	-webkit-background-clip: text;
	background-clip: text;
}
.inline.inline-recovery .indicator {
	border-bottom: calc(var(--font-size-16) * 0.866) solid #17b924;
}
.inline.inline-recovery:hover .indicator {
	-webkit-animation: 0.5s infinite alternate linear recovery-indicator-bobbing;
	animation: 0.5s infinite alternate linear recovery-indicator-bobbing;
}
.inline.inline-loss .indicator {
	border-top: calc(var(--font-size-16) * 0.866) solid #d1232a;
	border-bottom: calc(var(--font-size-16) * 0.134) solid transparent;
}
.inline.inline-loss:hover .indicator {
	-webkit-animation: 0.5s infinite alternate linear loss-indicator-bobbing;
	animation: 0.5s infinite alternate linear loss-indicator-bobbing;
}
.inline.inline-effect .fun {
	margin-right: 0.125rem;
	display: inline-block;
	width: var(--font-size-18);
	height: var(--font-size-18);
	-webkit-filter: brightness(0.5);
	filter: brightness(0.5);
}
.inline.inline-effect:hover .fun {
	-webkit-filter: brightness(1);
	filter: brightness(1);
}

.inline.inline-group {
	display: flex;
	margin-left: 0.5em;
	flex-direction: row;
	gap: 0;
	background: var(--background-critical);
	flex-grow: 1;
}

.inline.inline-text {
	margin-left: 0.125rem;
	margin-right: 0.125rem;
}

@-webkit-keyframes recovery-indicator-bobbing {
	to {
		translate: 0 -2px;
	}
}

@keyframes recovery-indicator-bobbing {
	to {
		translate: 0 -2px;
	}
}
@-webkit-keyframes loss-indicator-bobbing {
	to {
		translate: 0 2px;
	}
}
@keyframes loss-indicator-bobbing {
	to {
		translate: 0 2px;
	}
}
