<div class="item-m inline-desc buttons-inc" style="padding:0">
	<a class="decrement-button" data-action="modifyClassLevel" data-level-action="decrement">-</a>
	<span data-resource="item.level">{{ level.value }}</span>
	<span>/</span>
	<span>{{ level.max }}</span>
	<a class="increment-button" data-action="modifyClassLevel" data-level-action="increment">+</a>
</div>