<section class="tab {{tab.cssClass}}" data-tab="overview" data-group="primary">
	<section class="party overview">
		{{#unless characterCount}}
			<div class="label centered-message">
				{{localize 'FU.PartySheetEmpty'}}
			</div>
		{{/unless}}
		{{{overview}}}
	</section>
</section>