<div class="pfu-codex__entry__viewer">
	<img class="profile-img" src="{{entry.img}}" alt="{{entry.name}}">
	<div class="content">
		<span class="name">{{entry.name}}</span>
		<span class="description">{{{entry.enrichedDescription}}}</span>
	</div>
</div>

