{{!-- Inventory --}}
<section class="tab inventory desc {{tab.cssClass}}" data-tab="inventory" data-group="primary">
	{{> "systems/projectfu/templates/actor/sections/actor-section-inventory.hbs" actor=actor}}
</section>