{{!-- Inventory --}}
<section class="tab inventory {{tab.cssClass}}" data-tab="inventory" data-group="primary">
	<div class="desc" style="height: 100%">
		{{> "systems/projectfu/templates/actor/sections/actor-section-inventory.hbs" actor=actor}}
	</div>
</section>