<div class="cell-favorite-details-project-progress">
	<div class="cell-favorite-details-project-progress__progress-bar">
		{{> "systems/projectfu/templates/table/cell/cell-progress-bar.hbs" data }}
	</div>
	<div class="cell-favorite-details-project-progress__progress">
		{{> "systems/projectfu/templates/table/cell/cell-resource.hbs" }}
	</div>
</div>