<div class="cell-effect-name">
	<div class="cell-effect-name__main">
		<a data-action="rollEffect">
			{{> "systems/projectfu/templates/effects/active-effect-image.hbs" effect=effect}}
		</a>
		<div class="cell-effect-name__name {{#if suppressed}}cell-effect-name__name--suppressed{{/if}}">
			<span class="{{cssClass}}">{{name}}</span>
		</div>
	</div>
</div>