<div class="cell-class-level">
	<a class="cell-class-level__button" data-action="modifyClassLevel" data-level-action="decrement">
		<span>-</span>
	</a>
	<div class="cell-class-level__level">
		<span>{{ system.level.value }}</span>
		<span>/</span>
		<span>{{ system.level.max }}</span>
	</div>
	<a class="cell-class-level__button" data-action="modifyClassLevel" data-level-action="increment">
		<span>+</span>
	</a>
</div>