<div class="cell-class-level">
	<a class="cell-class-level__button" data-action="{{action}}" data-level-action="decrement">
		<span>-</span>
	</a>
	<div class="cell-class-level__level">
		<span>{{ current }}</span>
		<span>/</span>
		<span>{{ max }}</span>
	</div>
	<a class="cell-class-level__button" data-action="{{action}}" data-level-action="increment">
		<span>+</span>
	</a>
</div>