<div class="desc">
    <fieldset class="title-fieldset resource-content flex-group-center">
        <legend class="resource-label-sm">{{localize "FU.Resource"}}</legend>
        <select name="resource" class="resource-inputs select-dropdown-xl">
            {{selectOptions resources localize=true}}
        </select>
    </fieldset>
    <fieldset class="title-fieldset resource-content flex-group-center">
        <legend class="resource-label-sm">{{localize "FU.Amount"}}</legend>
        <input type="number" name="amount" value="10" min="0" step="1" class="resource-inputs select-dropdown-xl">
    </fieldset>
</div>