<main>
	<div class="form-group">
		<label for="name">{{localize 'FU.Name'}}</label>
		<input type="text" id="name" name="name"/>

		<label for="max">{{localize 'FU.ClockSections'}}</label>
		<input type="number" id="max" name="max" value="6"/>
	</div>
</main>