<fieldset class="title-fieldset resource-content flex-group-center">
	<legend class="resource-label-sm">{{localize "FU.TextEditorButtonCommandIcon"}}</legend>
	<div class="form-group icon-options grid grid-4col gap-8">
		{{#each allIcon as |iconName iconValue|}}
			<label class="icon-option">
				<input type="radio" name="iconType" class="icon-radio" value="{{iconValue}}" />
				<div class="fu-icon__container">
					<i class="fu-icon--xs {{iconName}}"></i>
				</div>
				<span>{{pfuCapitalize iconValue}}</span>
			</label>
		{{/each}}
	</div>
</fieldset>