<div class="desc">
    <fieldset class="title-fieldset resource-content flex-group-center">
        <legend class="resource-label-sm">{{localize "FU.DamageType"}}</legend>
        <select name="type" class="resource-inputs select-dropdown-xl">
            {{selectOptions damageTypes localize=true}}
        </select>
    </fieldset>
</div>