<section>
  <label for="faction">{{localize 'FU.DialogFirstTurnFaction'}}</label>
  <select name="faction" id="faction">
      {{selectOptions factions selected=selected valueAttr='value' labelAttr='translation' localize=true}}
  </select>
</section>
