{{#> 'systems/projectfu/templates/common/fieldset-toggle.hbs'
 name="system.rollInfo.damage.hasDamage.value"
 value=system.rollInfo.damage.hasDamage.value
 icon="fas fa-dice icon"
 label=(localize "FU.Damage")
}}
	<div class="grid grid-2col">
		<div class="resource-content flexcol flex-group-center">
			<label for="system.rollInfo.damage.type.value" class="resource-label-m flexlarge">
				{{localize 'FU.DamageType'}}
			</label>
			<select name="system.rollInfo.damage.type.value" class="resource-inputs select-dropdown-m">
				{{selectOptions damageTypes selected=system.rollInfo.damage.type.value sort=true localize=true}}
			</select>
		</div>
		<div class="resource-content flexcol flex-group-center">
			<label class="resource-label-m">{{localize 'FU.Bonus'}}</label>
			<input type="number" name="system.rollInfo.damage.value"
				   value="{{ system.rollInfo.damage.value }}"
				   class="resource-inputs"
				   data-dtype="Number" />
		</div>
	</div>
{{/ 'systems/projectfu/templates/common/fieldset-toggle.hbs'}}
