<div class="resource-content flexcol flex-group-center">
	<label class="resource-label-m">{{localize "FU.InventoryCost"}}</label>
	<input type="number" name="system.ipCost.value" value="{{ system.ipCost.value }}"
		   data-dtype="Number" class="resource-inputs select-dropdown-m" />
</div>