<div class="resource-content flex-row">
	<div class="resource-content flexcol flex-group-center">
		<label class="resource-label-m">{{localize 'FU.Requirements'}}</label>
		<input type="text" name="system.requirement.value" value="{{ system.requirement.value }}"
			   class="resource-inputs select-dropdown-full grid-span-4" />
	</div>
</div>