<label class="resource-content flexcol flex-group-center">
	{{localize "FU.TechnospheresSlots"}}
	<select name="system.slots" class="resource-inputs select-dropdown-full">
		{{selectOptions @root.FU.technospheres.armorSlots selected=system.slots labelAttr="label" localize=true}}
	</select>
</label>
