<div class="resource-content flexcol flex-group-center">
	<label class="resource-label-m">{{localize 'FU.Class'}}</label>
	<input type="text" name="system.class.value" value="{{ system.class.value }}"
		   class="resource-inputs select-dropdown-l" />
</div>