<div class="resource-content flexcol grid-span-3 flex-group-center">
	<label class="resource-label-m">{{localize 'FU.Quality'}}</label>
	<input type="text" name="system.quality.value" value="{{ system.quality.value }}"
		   class="resource-inputs select-dropdown-full grid-span-4" />
</div>
<div class="resource-content flexcol flex-group-center">
	<label class="resource-label-m">{{localize 'FU.Cost'}}</label>
	<input type="number" name="system.cost.value" value="{{ system.cost.value }}"
		   data-dtype="Number" class="resource-inputs select-dropdown-m" />
</div>