<div class="resource-content flexcol flex-group-center">
	<label class="resource-label-m">{{localize 'FU.Duration'}}</label>
	<select class="resource-inputs select-dropdown-l" name="system.duration.value">
		{{selectOptions FU.duration selected=system.duration.value sort=true localize=true }}
	</select>
</div>