<div class="resource-content flexcol flex-group-center">
	<label for="system.hands.value" class="resource-label-m flexlarge align-left">{{localize
	 'FU.InitiativeAbbr'}}</label>
	<input type="number" name="system.init.value" value="{{ system.init.value }}" data-dtype="Number"
		   class="resource-inputs select-dropdown-sm" />
</div>