<div class=" flexcol flex-group-center">
	<label class="resource-label-m">{{localize 'FU.Opportunity'}}</label>
	<input type="text" name="system.opportunity" value="{{ system.opportunity }}"
		   class="resource-inputs select-dropdown-full grid-span-4" />
</div>