{{#if item}}
    <div class="resource-content desc flexrow flex-group-center gap-5">
        <label for="system.type.value" class="resource-label-m">{{localize 'FU.FUID.Long'}}</label>
        <span style="flex: auto;">
            <input type="text" name="system.fuid" value="{{ system.fuid }}" class="flexlarge resource-inputs select-dropdown-full">
        </span>
        <button type="button" data-action="regenerateFuid" class="regenerate-fuid-button">
            <i class="fas fa-rotate-right"></i>
            <label>{{localize 'FU.FUID.Regenerate'}}</label>
        </button>
    </div>
{{/if}}