<div class="item-settings">
	<label class="checkbox resource-label-sm"> <span>{{localize 'FU.CustomWeapon'}}</span><input
	 type="checkbox" name="system.isCustomWeapon.value" {{ checked
		 system.isCustomWeapon.value }} />
	</label>
</div>