// Primary colors
$color-primary: #ebf7af;
$color-secondary: #2b4a42;
$color-ternary: #3d665a;
$color-quaternary: #cccbbb;

// Inverted primary colors
$color-primary-inverted: #000000;
$color-secondary-inverted: #412a3a;

// Semantic colors
$color-success: #17b924;
$color-danger: #d1232a;
$color-warning: #c78f31;
$color-info: #17a2b8;

// Neutral colors
$color-white: #ffffff;
$color-black: #000000;
$color-faint: #c9c7b8;
$color-beige: #f5f5dc;
$color-tan: #444;

// Tab Hover
$color-shadow: #e74c3c;
$color-shadow-inverted: #2a4a41;

// Progress Bar
$color-grey: rgba(255, 255, 255, 0.5);
$color-inset: #c7c7c7;
$color-hp: #17b924;
$color-hp-crisis: #d1232a;
$color-hp-ko: #000000;
$color-mp: #16aad6;
$color-ip: #d68931;
$color-project: #d68931;
$color-levelup: #ffd166;
$color-levelup-gradient: #6ee36e;
$color-zeropower: #9400d3;

$background-core: url('/systems/projectfu/styles/static/ui/HojitasDouble_highres.png'), linear-gradient(270deg, rgba(17, 41, 41, 0.9) 0%, rgba(38, 88, 83, 0.9) 100%);
$background-card: url('/systems/projectfu/styles/static/ui/Bkg_highres.png');

$color-background: $color-secondary;
$color-background-inverted: $color-secondary-inverted;
$color-background-alt: $color-primary;

$color-box-shadow: darken($color-secondary, 10%);
$color-box-shadow-inverted: darken($color-primary-inverted, 10%);

// Background for Actor Name & Levels
$color-charname-gradient:
	to right,
	#532853,
	#bfb8c4;
$color-charname-gradient-alt:
	to right,
	#2a4a41,
	#b9c4b8;

// Background for Tabs
$color-tabStyle-gradient:
	to bottom,
	#2c584d,
	#a0cdbc;

// Transparent Gradient
$color-transparent-gradient:
	to right,
	rgba(238, 244, 228, 0.5),
	rgba(226, 237, 213, 0.5);

$color-header-gradient:
	to right,
	#e9f3ea,
	transparent;
$color-quote-gradient:
	to right,
	#e1efe3,
	transparent;

// Affinity icons colors
$color-outline: black;
$color-icon-guard: #dddddd;
$color-icon-sword: #dddddd;
$color-icon-wind: #cfd600;
$color-icon-bolt-lightning: #ffef26;
$color-icon-moon: #e40134;
$color-icon-hill-rockslide: #d29d3e;
$color-icon-fire: #f59a00;
$color-icon-snowflake: #9cbccd;
$color-icon-sun: #fff7b2;
$color-icon-skull-crossbones: #d679a2;

// Define results colors
$font-size: 20px;
$rcaption-font-size: 0.875rem;
$text-shadow-side: 0.07rem 0.07rem 0.07rem $color-black;
$text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;

$background-default: linear-gradient(to right, #7da0ca, #004f89);
$border-default: #7da0ca;

$background-success: linear-gradient(to right, #91c469, #228c22);
$border-success: #91c469;

$background-failure: linear-gradient(to right, #edb7aa, #880012);
$border-failure: #edb7aa;

$background-critical: linear-gradient(to right, #f7c754, #d17f10);
$border-critical: #ffcc56;

$background-fumble: linear-gradient(to right, #b087a6, #15031e);
$border-fumble: #b087a6;

// Hit/Miss colors
$background-hit: linear-gradient(to right, #228c22, #91c469);
$border-hit: #91c469;

$background-miss: linear-gradient(to right, #880012, #edb7aa);
$border-miss: #edb7aa;

// Define damage type colors
$background-physical: linear-gradient(to right, #a1a1a1, #8c8c8c);
$border-physical: #a1a1a1;

$background-air: linear-gradient(to right, #b6e0ff, #8cb2c2);
$border-air: #b6e0ff;

$background-bolt: linear-gradient(to right, #fdda76, #fbc847);
$border-bolt: #fdda76;

$background-dark: linear-gradient(to right, #543987, #2b0d6b);
$border-dark: #543987;

$background-earth: linear-gradient(to right, #d28d3e, #9f5b1f);
$border-earth: #d28d3e;

$background-fire: linear-gradient(to right, #f58a00, #c05b00);
$border-fire: #f58a00;

$background-ice: linear-gradient(to right, #bce4fa, #4f7b9a);
$border-ice: #bce4fa;

$background-light: linear-gradient(to right, #fff7b2, #e1c29f);
$border-light: #fff7b2;

$background-poison: linear-gradient(to right, #d678a2, #a65a83);
$border-poison: #d678a2;

$background-untyped: linear-gradient(to right, #c0c0c0, #a8a8a8);
$border-untyped: #a8a8a8;

:root {
	--color-shadow-primary: #{$color-box-shadow};
}
