$ful-sl-star: url('/systems/projectfu/styles/static/icons/ful-sl-star.svg');
$fus-sl-star: url('/systems/projectfu/styles/static/icons/fus-sl-star.svg');
$fus-star: url('/systems/projectfu/styles/static/icons/fus-star.svg');
$fus-star2: url('/systems/projectfu/styles/static/icons/fus-star2.svg');
$fus-star2-border: url('/systems/projectfu/styles/static/icons/fus-star2-border.svg');

$fus-offensive: url('/systems/projectfu/styles/static/icons/fus-offensive.svg');
$fus-martial: url('/systems/projectfu/styles/static/icons/fus-martial.svg');
$ful-offensive: url('/systems/projectfu/styles/static/icons/ful-offensive.svg');
$ful-martial: url('/systems/projectfu/styles/static/icons/ful-martial.svg');
// $fu-d20: url('/systems/projectfu/styles/static/icons/fu-d20.svg');
// $fu-guard: url('/systems/projectfu/styles/static/icons/fu-guard.svg');

$fu-zenit: url('/systems/projectfu/styles/static/compendium/ui/coins_5.png');

.fu-zenit {
	background-image: $fu-zenit;
}

.fus-offensive {
	background-image: $fus-offensive;
}

.ful-offensive {
	background-image: $ful-offensive;
}

.fus-martial {
	background-image: $fus-martial;
}

.ful-martial {
	background-image: $ful-martial;
}

.fu-aura {
	background-image: url('/icons/svg/aura.svg');
}

.fua {
	width: 24px;
	height: 24px;
	background-size: cover;
	font-style: normal;
	-webkit-text-stroke: 0.05rem black;
	display: inline-block;
}

.fun {
	width: 24px;
	height: 24px;
	background-size: cover;
	fill: $color-secondary;
	font-style: normal;
	display: inline-block;
}

.fusl {
	width: 24px;
	height: 24px;
	background-size: cover;
	fill: $color-secondary;
	display: inline-block;
}

.fuk {
	width: 18px;
	height: 18px;
	background-size: cover;
	fill: $color-secondary;
	font-style: normal;
	display: inline-block;
}

.ful-sl-star {
	background-image: $ful-sl-star;
}

.fus-sl-star {
	background-image: $fus-sl-star;
}

.fus-star {
	background-image: $fus-star;
}

.fus-star2 {
	background-image: $fus-star2;
}
.fus-star2-border {
	background-image: $fus-star2-border;
}

.ra-1xh {
	font-size: 1.5em;
}

.ra.ral {
	text-shadow:
		-0.5px -0.5px 0 rgba(0, 0, 0, 0.5),
		/* Top-left */ 0.5px -0.5px 0 rgba(0, 0, 0, 0.5),
		/* Top-right */ -0.5px 0.5px 0 rgba(0, 0, 0, 0.5),
		/* Bottom-left */ 0.5px 0.5px 0 rgba(0, 0, 0, 0.5);
	/* Bottom-right */
}

.is-buff {
	color: $color-success !important;
}

.is-crisis {
	color: $color-danger !important;
}

.is-levelup {
	color: $color-levelup !important;
	-webkit-text-stroke: 1px $color-secondary;
	margin-left: 1px;
}

.is-buff,
.is-crisis,
.is-levelup {
	&.float-text {
		display: inline-block;
		position: relative;
		animation: floating 3s infinite ease-in-out;
	}
}

.is-buff.float-text,
.is-crisis.float-text,
.is-levelup.float-text {
	bottom: 2px;
	transform: translateY(-50%);
	cursor: pointer;
}

@keyframes floating {
	0%,
	100% {
		transform: translateY(0);
	}

	25%,
	75% {
		transform: translateY(-5px);
	}

	50% {
		transform: translateY(0);
	}
}

.spin2win:hover {
	& i {
		animation: hover-up-down 1s ease-in-out infinite alternate;
	}

	& label {
		cursor: pointer;
	}
}

@keyframes hover-up-down {
	0%,
	100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-3px);
	}
}

.hidden-radio {
	display: none;
}

.star-label {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-size: cover;
	cursor: pointer;
}

img:not([src]) {
	content: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
}

.icon-option {
	display: flex;
	align-items: center;
	height: 28px;
}
.icon-preview {
	margin: 0 5px;
}
