$ful-sl-star: url("/systems/projectfu/styles/static/icons/ful-sl-star.svg");
$fus-sl-star: url("/systems/projectfu/styles/static/icons/fus-sl-star.svg");

$fu-action-melee: url("/systems/projectfu/styles/static/icons/fu-action-melee.svg");
$fu-action-ranged: url("/systems/projectfu/styles/static/icons/fu-action-ranged.svg");
$fu-action-skill: url("/systems/projectfu/styles/static/icons/fu-action-skill.svg");
$fu-action-spell: url("/systems/projectfu/styles/static/icons/fu-action-spell.svg");
$fu-offensive: url("/systems/projectfu/styles/static/icons/fu-offensive.svg");
$fu-martial: url("/systems/projectfu/styles/static/icons/fu-martial.svg");

$fu-phys: url("/systems/projectfu/styles/static/icons/fu-phys.svg");
$fu-wind: url("/systems/projectfu/styles/static/icons/fu-wind.svg");
$fu-bolt: url("/systems/projectfu/styles/static/icons/fu-bolt.svg");
$fu-dark: url("/systems/projectfu/styles/static/icons/fu-dark.svg");
$fu-earth: url("/systems/projectfu/styles/static/icons/fu-earth.svg");
$fu-fire: url("/systems/projectfu/styles/static/icons/fu-fire.svg");
$fu-ice: url("/systems/projectfu/styles/static/icons/fu-ice.svg");
$fu-light: url("/systems/projectfu/styles/static/icons/fu-light.svg");
$fu-poison: url("/systems/projectfu/styles/static/icons/fu-poison.svg");

.spin2win:hover i {
  -webkit-animation: ra-spin 2s infinite linear;
  animation: ra-spin 2s infinite linear;
}

.fu-action-melee {
  background-image: $fu-action-melee;
}
.fu-action-ranged {
  background-image: $fu-action-ranged;
}
.fu-action-skill {
  background-image: $fu-action-skill;
}
.fu-action-spell {
  background-image: $fu-action-spell;
}
.fu-offensive {
  background-image: $fu-offensive;
}
.fu-martial {
  background-image: $fu-martial;
}
.fu-phys {
  background-image: $fu-phys;
}
.fu-wind {
  background-image: $fu-wind;
}
.fu-bolt {
  background-image: $fu-bolt;
}
.fu-dark {
  background-image: $fu-dark;
}
.fu-earth {
  background-image: $fu-earth;
}
.fu-fire {
  background-image: $fu-fire;
}
.fu-ice {
  background-image: $fu-ice;
}
.fu-light {
  background-image: $fu-light;
}
.fu-poison {
  background-image: $fu-poison;
}

.fun {
  width: 24px;
  height: 24px;
  background-size: cover;
  margin: -4px 0px;
  fill: $color-secondary;
}

.fusl {
  width: 20px;
  height: 20px;
  background-size: cover;
  fill: $color-secondary;
}

.fuk {
  width: 16px;
  height: 16px;
  background-size: cover;
  margin: -4px 0px;
  fill: $color-secondary;
}

.ful-sl-star {
  background-image: $ful-sl-star;
}

.fus-sl-star {
  background-image: $fus-sl-star;
}
.ra.ral {
  text-shadow:
    -0.5px -0.5px 0 rgba(0, 0, 0, 0.5),
    /* Top-left */
    0.5px -0.5px 0 rgba(0, 0, 0, 0.5),
    /* Top-right */
    -0.5px 0.5px 0 rgba(0, 0, 0, 0.5),
    /* Bottom-left */
    0.5px 0.5px 0 rgba(0, 0, 0, 0.5);
  /* Bottom-right */
}

.is-martial {
  color: $color-danger !important;
}
.is-buff {
  color: $color-success !important;

  &.float-text {
    display: inline-block;
    animation: floating 1s infinite ease-in-out;
  }
}

.is-crisis {
  color: $color-danger !important;

  &.float-text {
    display: inline-block;
    animation: floating 1s infinite ease-in-out;
  }
}