$ful-sl-star: url('/systems/projectfu/styles/static/icons/ful-sl-star.svg');
$fus-sl-star: url('/systems/projectfu/styles/static/icons/fus-sl-star.svg');
$fus-star: url('/systems/projectfu/styles/static/icons/fus-star.svg');
$fus-star2: url('/systems/projectfu/styles/static/icons/fus-star2.svg');
$fus-star2-border: url('/systems/projectfu/styles/static/icons/fus-star2-border.svg');

$fus-offensive: url('/systems/projectfu/styles/static/icons/fus-offensive.svg');
$fus-martial: url('/systems/projectfu/styles/static/icons/fus-martial.svg');
$ful-offensive: url('/systems/projectfu/styles/static/icons/ful-offensive.svg');
$ful-martial: url('/systems/projectfu/styles/static/icons/ful-martial.svg');
$fu-zenit: url('/systems/projectfu/styles/static/compendium/ui/coins_5.png');
$fu-fp: url('/systems/projectfu/styles/static/compendium/ui/fp.png');
$fu-up: url('/systems/projectfu/styles/static/compendium/ui/up.png');
$fu-xp: url('/systems/projectfu/styles/static/compendium/ui/xp.png');

$fu-shaken: url('/systems/projectfu/styles/static/statuses/Shaken.webp');
$fu-dazed: url('/systems/projectfu/styles/static/statuses/Dazed.webp');
$fu-slow: url('/systems/projectfu/styles/static/statuses/Slow.webp');
$fu-weak: url('/systems/projectfu/styles/static/statuses/Weak.webp');
$fu-enraged: url('/systems/projectfu/styles/static/statuses/Enraged.webp');
$fu-poisoned: url('/systems/projectfu/styles/static/statuses/Poisoned.webp');

$fu-flying: url('/systems/projectfu/styles/static/statuses/Flying.webp');
$fu-guard: url('/systems/projectfu/styles/static/statuses/Guard.webp');
$fu-cover: url('/systems/projectfu/styles/static/statuses/Cover.webp');
$fu-aura: url('/systems/projectfu/styles/static/statuses/Aura.webp');
$fu-barrier: url('/systems/projectfu/styles/static/statuses/Barrier.webp');

$fu-ins-up: url('/systems/projectfu/styles/static/statuses/InsUp.webp');
$fu-ins-down: url('/systems/projectfu/styles/static/statuses/InsDown.webp');
$fu-dex-up: url('/systems/projectfu/styles/static/statuses/DexUp.webp');
$fu-dex-down: url('/systems/projectfu/styles/static/statuses/DexDown.webp');
$fu-mig-up: url('/systems/projectfu/styles/static/statuses/MigUp.webp');
$fu-mig-down: url('/systems/projectfu/styles/static/statuses/MigDown.webp');
$fu-wlp-up: url('/systems/projectfu/styles/static/statuses/WlpUp.webp');
$fu-wlp-down: url('/systems/projectfu/styles/static/statuses/WlpDown.webp');

$fu-wlp-down: url('/systems/projectfu/styles/static/statuses/WlpDown.webp');

.fu-fp {
	background-image: $fu-fp;
}

.fu-up {
	background-image: $fu-up;
}

.fu-xp {
	background-image: $fu-xp;
}

.fu-shaken {
	background-image: $fu-shaken;
}

.fu-dazed {
	background-image: $fu-dazed;
}

.fu-weak {
	background-image: $fu-weak;
}

.fu-slow {
	background-image: $fu-slow;
}

.fu-enraged {
	background-image: $fu-enraged;
}

.fu-poisoned {
	background-image: $fu-poisoned;
}

.fu-guard {
	background-image: $fu-guard;
}

.fu-flying {
	background-image: $fu-flying;
}

.fu-cover {
	background-image: $fu-cover;
}

.fu-aura {
	background-image: $fu-aura;
}

.fu-barrier {
	background-image: $fu-barrier;
}

.fu-wlp-up {
	background-image: $fu-wlp-up;
}

.fu-wlp-down {
	background-image: $fu-wlp-down;
}

.fu-dex-up {
	background-image: $fu-dex-up;
}

.fu-dex-down {
	background-image: $fu-dex-down;
}

.fu-mig-up {
	background-image: $fu-mig-up;
}

.fu-mig-down {
	background-image: $fu-mig-down;
}

.fu-ins-up {
	background-image: $fu-ins-up;
}

.fu-ins-down {
	background-image: $fu-ins-down;
}

.fu-zenit {
	background-image: $fu-zenit;
}

.fus-offensive {
	background-image: $fus-offensive;
}

.ful-offensive {
	background-image: $ful-offensive;
}

.fus-martial {
	background-image: $fus-martial;
}

.ful-martial {
	background-image: $ful-martial;
}

.fu-effect-placeholder {
	background-image: url('/icons/svg/aura.svg');
}

.fu-weapon-enchant {
	background-image: url('/systems/projectfu/styles/static/icons/fus-weapon-enchant.svg');
}

/* Icon in inline element */
.fui {
	width: 16px;
	height: 16px;
	background-size: cover;
	font-style: normal;
	-webkit-text-stroke: 0.05rem black;
	display: inline-block;
	margin-right: 4px;
}

.fua {
	width: 24px;
	height: 24px;
	background-size: cover;
	font-style: normal;
	-webkit-text-stroke: 0.05rem black;
	display: inline-block;
}

.fun {
	width: 24px;
	height: 24px;
	background-size: cover;
	fill: $color-secondary;
}

.fusl {
	width: 24px;
	height: 24px;
	background-size: cover;
	fill: $color-secondary;
	display: inline-block;
}

.fuk {
	width: 18px;
	height: 18px;
	background-size: cover;
	fill: $color-secondary;
	font-style: normal;
	display: inline-block;
}

/* Webp Icons */
.fue {
	width: 20px;
	height: 20px;
	margin-right: 4px;
	background-size: cover;
	display: inline-block;
}

.ful-sl-star {
	background-image: $ful-sl-star;
}

.fus-sl-star {
	background-image: $fus-sl-star;
}

.fus-star {
	background-image: $fus-star;
}

.fus-star2 {
	background-image: $fus-star2;
}
.fus-star2-border {
	background-image: $fus-star2-border;
}

.ra-1x {
	font-size: 1.125rem;
	font-style: normal;
}

.ra-1xh {
	font-size: 1.5em;
	font-style: normal;
}

.ra.ral {
	text-shadow:
		-0.5px -0.5px 0 rgba(0, 0, 0, 0.5),
		/* Top-left */ 0.5px -0.5px 0 rgba(0, 0, 0, 0.5),
		/* Top-right */ -0.5px 0.5px 0 rgba(0, 0, 0, 0.5),
		/* Bottom-left */ 0.5px 0.5px 0 rgba(0, 0, 0, 0.5);
	/* Bottom-right */
}

.is-buff {
	color: $color-success !important;
}

.is-crisis {
	color: $color-danger !important;
}

.is-levelup {
	color: $color-levelup !important;
	-webkit-text-stroke: 1px $color-secondary;
	margin-left: 1px;
}

.is-buff,
.is-crisis,
.is-levelup {
	&.float-text {
		display: inline-block;
		position: relative;
		animation: floating 3s infinite ease-in-out;
	}
}

.is-buff.float-text,
.is-crisis.float-text,
.is-levelup.float-text {
	bottom: 2px;
	transform: translateY(-50%);
	cursor: pointer;
}

@keyframes floating {
	0%,
	100% {
		transform: translateY(0);
	}

	25%,
	75% {
		transform: translateY(-5px);
	}

	50% {
		transform: translateY(0);
	}
}

.spin2win {
	&:hover {
		& i {
			animation: hover-up-down 1s ease-in-out infinite alternate;
		}

		& label {
			cursor: pointer;
		}
	}
}

@keyframes hover-up-down {
	0%,
	100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-3px);
	}
}

.hidden-radio {
	display: none;
}

.star-label {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-size: cover;
	cursor: pointer;
}

img:not([src]) {
	content: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
}

.icon-option {
	display: flex;
	align-items: center;
	height: 28px;
}
.icon-preview {
	margin: 0 5px;
}

.image-icon-s {
	width: 24px;
	height: 24px;
}

.effect-icon-wrapper {
	display: inline-block;
	position: relative;
}

.effect-icon-image {
	object-fit: cover;
	border-radius: 5px; /* Match Foundry's token styling */
}

.effect-icon-label {
	position: absolute;
	bottom: 0;
	right: 0;
	background: $color-shadow;
	color: white;
	font-size: 0.8rem;
	pointer-events: none;

	border-radius: 999px;
	padding: 1px 5px;
	transform: translate(30%, 30%); /* push outwards */
}
