/* ----------------------------------------- */
/* Item Card Structure                       */
/* ----------------------------------------- */
.chat-message,
.chat-message.whisper {
  // Styles for the chat card message
  background-image: url("/systems/projectfu/styles/static/ui/bg.png"),
    linear-gradient(to right, $color-beige, $color-faint) !important;
  background-blend-mode: multiply !important;
  background-repeat: repeat-y;
  background-position: right top;
  margin: 3px;
  padding: 1em 0.5em;
  font-size: var(--font-size-14);
  border: 2px solid #6f6c66;
  background-size: cover;
  border-radius: 5px;

  .message-header {

    // Styles for the header
    .title-desc .backgroundstyle {
      margin: 30px 0 0 0;
    }

    .title-desc img {
      // Styles for the img element within title-desc
      border: 0px;
      filter: drop-shadow(2px 2px 4px $color-black);
      position: relative;
      bottom: 195px;
      margin-bottom: -200px;
      width: 48px;
      height: 48px;
    }

    .title-desc p {
      // Styles for the p element within title-desc
      font-family: alice;
      line-height: 1.2;
      color: $color-primary;
      font-size: 26px;
      text-shadow: 2px 2px 4px $color-black;
      box-shadow: 3px 6px $color-secondary;
      border-style: solid;
      border-width: thin;
      border-color: $color-beige;
      padding: 10px;
      border-radius: 12px;
      background-color: $color-ternary;
      overflow-wrap: anywhere;
    }
  }

  // Styles for editing chat description
  .chat-desc {
    text-align: left;
    font-size: 14px;
    padding: 0.5em;
    margin: 5px 0 5px;
    color: #272a2a;
    box-shadow: 3px 6px $color-background-inverted;
    background-image: linear-gradient(to right,
        rgba(211, 229, 230, 0.3),
        rgba(195, 219, 214, 0.8));
    border-style: solid;
    border-width: thin;
    border-color: #272a2a;
    border-radius: 8px;

    strong {
      color: #272a2a;
    }

    .resource-label {
      color: $color-secondary;
      font-weight: bold;
      font-size: 16px;
      border: transparent;
    }
  }
}

// Styles for editing chat's item detail description
.detail-desc {
  color: $color-black;
  box-shadow: 3px 6px $color-secondary;
  background-image: linear-gradient(to bottom,
      rgb(212, 231, 232),
      rgba(195, 219, 214, 0.7));
  border: thin solid $color-background-inverted;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-bottom: 10px;

  .summary {
    font-size: 16px;
    color: $color-secondary;
  }
    & > div {
    margin: 0;
    height: 100% !important;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 1px;
      background-color: $color-background-inverted;
    }

    &:nth-child(3)::before,
    &:last-child::before {
      display: none; // Show the border for all divs except the third child and the last child
    }
  }
}

.mainhand-header {
  font-family: alice;
  line-height: 0.5em;
  color: $color-primary;
  font-size: 16px;
  text-shadow: 2px 2px 4px $color-black;
  box-shadow: 3px 6px $color-secondary;
  border-style: solid;
  border-width: thin;
  border-color: $color-beige;
  padding: 10px;
  border-radius: 6px;
  background-color: $color-ternary;
  margin: 1em 0em;
}

.offhand-header {
  font-family: alice;
  line-height: 0.5em;
  color: $color-primary;
  font-size: 16px;
  text-shadow: 2px 2px 4px $color-black;
  box-shadow: 3px 6px $color-secondary;
  border-style: solid;
  border-width: thin;
  border-color: $color-beige;
  padding: 10px;
  border-radius: 6px;
  background-color: $color-ternary;
  margin: 2em 0 0;
}

.accuracy-desc {
  &.align-left {
    margin-top: 24px;
    margin-bottom: 24px;

    .result-text {
      text-align: right;
      color: $color-primary;
      font-size: 18px;
      margin-bottom: 10px;
      background-image: linear-gradient(DarkRed, Crimson);
    }

    .accuracy-box {
      span.accuracy-title {
        color: $color-primary;
        font-size: 24px;
        text-shadow: 1px 2px 4px $color-black;
        box-shadow: 3px 7px $color-secondary;
        border-radius: 8px 8px 8px 0px;
        padding: 4px 14px 7px 14px;
        background-color: $color-ternary;
        font-family: "alice";
        border-width: 1px;
        border-color: $color-beige;
        border-style: solid;
      }
    }

    .accuracy-details {
      margin: 7px 0;

      span.accuracy-detail-text {
        color: $color-primary;
        font-size: 16px;
        text-shadow: 1px 2px 4px $color-black;
        box-shadow: 3px 6px #2a4a41;
        border-radius: 0px 8px 8px 8px;
        padding: 2px 8px;
        background-color: $color-ternary;
        font-family: "alice";
        border-width: 1px;
        border-color: $color-beige;
        border-style: solid;
      }
    }

    .float-box {
      float: right;
      font-size: 18px;
      font-weight: bold;
      border-radius: 8px;
      color: $color-secondary;
      box-shadow: 3px 6px $color-secondary;
      background-color: rgba(225, 239, 227, 0.5);
      border-style: solid;
      border-width: thin;

      &.acc-float {
        margin: 13px 0 5px;
        padding: 0 5px;
      }

      .float-text {
        display: inline-block;
        font-size: 34px;
        animation: floating 3s infinite ease-in-out;
      }
    }
  }
}

.damage-desc {
  &.align-left {
    margin-top: 24px;
    margin-bottom: 24px;

    .result-text {
      text-align: right;
      color: $color-primary;
      font-size: 18px;
      margin-bottom: 10px;
      background-image: linear-gradient($color-danger);
    }

    .damage-box {
      span.damage-title {
        color: $color-white;
        font-size: 24px;
        text-shadow: 1px 2px 4px $color-black;
        box-shadow: 3px 7px $color-secondary;
        border-radius: 8px 8px 8px 0px;
        padding: 4px 14px 7px 14px;
        background-color: $color-ternary;
        font-family: "alice";
        border-width: 1px;
        border-color: $color-beige;
        border-style: solid;
      }
    }

    .damage-details {
      margin: 7px 0;

      span.damage-detail-text {
        color: $color-white;
        font-size: 16px;
        text-shadow: 1px 2px 4px $color-black;
        box-shadow: 3px 6px $color-secondary;
        border-radius: 0px 8px 8px 8px;
        padding: 2px 8px;
        background-color: $color-ternary;
        font-family: "alice";
        z-index: 10;
        position: relative;
        border-width: 1px;
        border-color: $color-beige;
        border-style: solid;
      }
    }

    .float-box {
      float: right;
      font-size: 18px;
      font-weight: bold;
      border-radius: 8px;
      color: $color-secondary;
      box-shadow: 3px 6px $color-secondary;
      background-color: rgba(225, 239, 227, 0.5);
      border-style: solid;
      border-width: thin;

      &.dam-float {
        margin-top: -5px;
        padding: 0 5px;
      }

      .float-text {
        display: inline-block;
        font-size: 34px;
        animation: floating 3s infinite ease-in-out;
      }
    }
  }
}

.group-check-supporters {

    .group-check-supporters-title, .group-check-supporters-supporter {
        & > *:not(:last-child) {
            border-right: 1px solid black;
        }
    }


    .group-check-supporters-title {
        font-weight: bolder;
    }
}