/* ----------------------------------------- */
/* Item Card Structure                       */
/* ----------------------------------------- */
.chat-message .message-header .message-sender {
	flex: 3;
	margin: 0;
	white-space: nowrap;
	font-family: $font-primary;
	font-size: 1rem;
	font-weight: bold;
}

.chat-message .chat-header {
	padding: 0.125rem 0;
	align-items: center;

	img {
		flex: 0 0 2.25rem;
		height: auto;
		width: 2rem;
		border: 0;
		filter: drop-shadow(2px 2px 4px $color-black);
		position: relative;
		cursor: pointer;
	}
	h2,
	h3 {
		border-bottom: none !important;
		flex: 1;
		font-family: $font-primary;
		font-size: 1rem;
		font-weight: bold;
		font-variant: small-caps;
	}
	h2 {
		border-bottom: none !important;
		margin: 0 0.5rem;
		font-size: 1.25rem;
	}
}

// Styles for the chat card message
.chat-message,
.chat-message.whisper {
	background:
		#{$background-core},
		linear-gradient(to right, $color-beige, $color-faint);
	background-blend-mode: multiply !important;
	background-repeat: repeat-y;
	background-position: right top;
	margin: 3px;
	padding: 0.5rem;
	font-size: var(--font-size-14);
	border: 2px solid #6f6c66;
	background-size: cover;
	border-radius: 5px;

	// Styles for editing chat description
	.chat-desc {
		text-align: left;
		font-size: 0.875rem;
		padding: 0.313rem 0.5rem;
		margin: 5px 0;
		color: #272a2a;
		box-shadow: 1px 2px $color-secondary;
		background-image: linear-gradient(to bottom, rgb(212, 231, 232), rgba(195, 219, 214, 0.7));
		border-radius: 8px;
		border-top: 1px solid $color-faint;

		strong {
			color: #272a2a;
		}

		.resource-label {
			color: $color-secondary;
			font-weight: bold;
			font-size: 16px;
			border: transparent;
		}

		.summary {
			margin: 0 0 0.188rem 0.625rem;
		}

		.summary {
			font-family: $font-quote;
			font-weight: 700;
			font-style: italic;
			font-size: 1rem;
			line-height: 1.45em;
			color: $color-ternary;
		}
		p {
			font-family: $font-primary;
			font-size: 1rem;
			line-height: 1.45em;
		}
	}
}
.chat-message.whisper {
	background:
		#{$background-core},
		linear-gradient(to right, #ffffff, #bebebe);
	background-blend-mode: multiply !important;
	background-repeat: repeat-y;
	background-position: right top;
	border: 2px solid #545469;
}

.chat-message.blind {
	background:
		#{$background-core},
		linear-gradient(to right, #f6e4f7, #eaceeb);
	background-blend-mode: multiply !important;
	background-repeat: repeat-y;
	background-position: right top;
	border: 2px solid #6b476b;
}

// Styles for editing chat's item detail description
.detail-desc {
	color: $color-black;
	box-shadow: 1px 2px $color-secondary;
	background-image: linear-gradient(to bottom, rgb(212, 231, 232), rgba(195, 219, 214, 0.7));
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	margin: 2px auto 5px;
	font-family: 'PT Sans';
	font-size: 20px;
	flex-grow: 1;

	.multi-target-label {
		font-size: 15px;
	}

	.difficulty {
		border: 2px solid #dc6773;
	}

	.summary {
		font-size: 16px;
		color: $color-secondary;
	}

	label {
		&.title {
			font-family: 'PT Sans Caption' !important;
			font-weight: 700;
			font-size: 0.75rem;
			color: $color-secondary;
			font-variant: small-caps;
		}

		&.detail {
			font-family: 'PT Sans';
			font-weight: 700;
			font-size: 1.1rem;
			font-variant: small-caps;
		}

		@mixin total-style($background, $border) {
			font-family: 'PT Sans Caption';
			font-weight: 700;
			border-radius: 8px;
			background-image: $background;
			border: 2px solid $border;
			color: $color-white;
			font-size: $font-size;
			text-shadow: $text-shadow;

			.startcap {
				text-shadow: none;
				display: flex;
				align-items: center;
				justify-content: start;
				padding: 0 5px;
				&.detail {
					color: $color-white;
					font-size: $rcaption-font-size;
					text-shadow: $text-shadow;
				}
			}

			.endcap {
				color: $color-white;
				font-size: $rcaption-font-size;
				text-shadow: $text-shadow;
				display: flex;
				align-items: center;
				justify-content: end;
				padding: 0 5px;
			}
		}

		&.total {
			@include total-style($background-default, $border-default);

			&.success {
				@include total-style($background-success, $border-success);
			}

			&.failure {
				@include total-style($background-failure, $border-failure);
			}

			&.critical {
				@include total-style($background-critical, $border-critical);
			}

			&.fumble {
				@include total-style($background-fumble, $border-fumble);
			}
		}

		@mixin damageType-style($background, $border) {
			font-family: 'PT Sans Caption';
			font-weight: 700;
			border-radius: 8px;
			background-image: $background;
			border: 2px solid $border;
			color: $color-white;
			font-size: $font-size;
			text-shadow: $text-shadow;

			.startcap {
				text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
				display: flex;
				align-items: center;
				justify-content: start;
				padding: 0 5px;
				&.detail {
					color: $color-white;
					font-size: $rcaption-font-size;
					text-shadow: $text-shadow;
				}
			}

			.endcap {
				color: $color-white;
				font-size: $rcaption-font-size;
				text-shadow: $text-shadow;
				display: flex;
				align-items: center;
				justify-content: end;
				padding: 0 5px;
			}
		}

		&.damageType {
			@include damageType-style($background-default, $border-default);

			&.physical {
				@include damageType-style($background-physical, $border-physical);
			}

			&.air {
				@include damageType-style($background-air, $border-air);
			}

			&.bolt {
				@include damageType-style($background-bolt, $border-bolt);
			}

			&.dark {
				@include damageType-style($background-dark, $border-dark);
			}

			&.earth {
				@include damageType-style($background-earth, $border-earth);
			}

			&.fire {
				@include damageType-style($background-fire, $border-fire);
			}

			&.ice {
				@include damageType-style($background-ice, $border-ice);
			}

			&.light {
				@include damageType-style($background-light, $border-light);
			}

			&.poison {
				@include damageType-style($background-poison, $border-poison);
			}

			&.untyped {
				@include damageType-style($background-untyped, $border-untyped);
			}
		}
	}

	& > div {
		margin: 0;
		height: 100% !important;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		position: relative;
		font-size: 0.875rem;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			width: 1px;
			background-color: $color-background-inverted;
		}

		&:nth-child(3)::before,
		&:last-child::before {
			display: none; // Show the border for all divs except the third child and the last child
		}
	}

	.icon-letter {
		position: sticky;
		background-color: $color-secondary;
		color: $color-primary;
		padding: 0 2px;
		border-radius: 5px;
		font-size: 10px;
		margin: 0;
		flex: 0 0 16px;
		text-align: center;
	}

	.crisis {
		color: red;
	}
}

.vs-container {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'PT Sans Caption';
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 0;
	padding: 0 0.125rem;
	white-space: nowrap;
	flex: 0;
}

.combineAccDmg {
	display: flex;
	gap: 5px;

	.accuracy-check {
		flex-grow: 1;
	}
}

.action-button {
	gap: 1px;
	height: 32px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: normal;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $color-primary;
	text-shadow: 1px 1px 1px $color-black;
	box-shadow: 1px 2px $color-secondary;
	border-radius: 8px;
	background: linear-gradient($color-tabStyle-gradient), $color-secondary;
	transition:
		transform 0.2s ease-in-out,
		box-shadow 0.2s ease-in-out;

	&.active {
		border: 1px solid darkslategrey;
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		transform: translateY(1px);
		border-radius: 8px;
	}

	&:active {
		transform: translateY(1px);
		box-shadow: 0px 1px $color-secondary;
	}

	&:focus {
		outline: none;
		box-shadow: 1px 2px $color-success;
	}

	button {
		background-color: transparent;
		color: $color-white;
		cursor: pointer;
		border: 0;

		&:hover,
		&:focus {
			box-shadow: unset;
		}
	}

	button:disabled {
		opacity: 0.75;
		cursor: not-allowed;
		pointer-events: none;
	}

	&:has(button:disabled) {
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		transform: translateY(1px);
	}
}

.group-check-supporters {
	.group-check-supporters-title,
	.group-check-supporters-supporter {
		& > *:not(:last-child) {
			border-right: 1px solid black;
		}
	}

	.group-check-supporters-title {
		font-weight: bolder;
	}
}

.message-content .targets {
	// padding: 0 0.5em;
	display: flex;
	flex-direction: column;

	.target {
		@mixin total-style($background, $border) {
			font-family: 'PT Sans Caption';
			font-weight: 700;
			border-radius: 8px;
			background-image: $background;
			border: 2px solid $border;
			color: $color-white;
			font-size: $rcaption-font-size;
			text-shadow: $text-shadow;

			.startcap {
				text-shadow: none;
				display: flex;
				align-items: center;
				justify-content: start;
				padding: 0 5px;
			}

			.endcap {
				color: $color-white;
				font-size: $rcaption-font-size;
				text-shadow: $text-shadow;
				display: flex;
				align-items: center;
				justify-content: end;
				padding: 0 5px;
			}
		}

		&.total {
			@include total-style($background-default, $border-default);

			&.hit {
				@include total-style($background-hit, $border-hit);
			}

			&.miss {
				@include total-style($background-miss, $border-miss);
			}
		}

		&:not(:last-child) {
			margin-bottom: 0.125em;
		}

		.hit,
		.miss {
			white-space: nowrap;
			font-size: var(--font-size-14);
			font-family: $font-primary;
			font-size: 1rem;
			font-weight: bold;
			font-variant: small-caps;
			text-align: right;
		}

		&.flexrow {
			gap: 0.25em;
		}
	}
}

.exp-award {
	font-family: 'PT Sans Narrow', sans-serif;
	.exp-calculation {
		grid-template-columns: 3fr 1fr;

		& > :not(legend) {
			font-size: var(--font-size-15);
		}

		& > .d-contents:nth-child(even):not(.exp-total) > * {
			background-color: color-mix(in srgb, $color-ternary 20%, transparent);
		}

		.exp-total > * {
			border-top: 1px solid $color-ternary;
		}
	}

	.active-characters {
		.character:not(:last-child) {
			margin-bottom: 0.5em;
		}
	}
}

.editor,
.journal-entry-content,
.editor-container,
.chat-message {
	.editor-edit,
	.editor-content,
	.journal-entry-page,
	.message-content {
		font-weight: normal;

		h1,
		h2,
		h3 {
			border-bottom: 2px solid $color-secondary;
		}

		h1 {
			line-height: 1.2em;
		}

		h2,
		h3,
		h4 {
			line-height: 1.2em;
		}

		hr {
			margin: 10px 0;
		}

		p {
			margin: 0;
			line-height: 1.2em;
		}

		h1 + p,
		h2 + p,
		h3 + p,
		h4 + p,
		h5 + p,
		h6 + p,
		p + p {
			margin-top: 10px;
		}

		blockquote {
			line-height: 1.2em;
		}

		.editor-content {
			font-size: 16px;
			line-height: 1.2em;
			width: 100%;
		}
	}
}

.title-fieldset {
	legend {
		border-radius: 8px;
		margin: 0 auto;
		padding: 2px 30px;
		background: $color-secondary;
		color: #ffffff;
		position: relative;
		text-align: center;
		width: auto;
	}
}

.title-fieldset {
	&.desc {
		background: linear-gradient(to right, rgba(238, 244, 228, 0.5), rgba(226, 237, 213, 0.5));
		border-radius: 12px;
		border: 1px solid rgba(44, 74, 66, 0.3294117647);
	}
}

.unique-clock {
	display: flex;
	justify-content: center;
	align-items: center;

	.progress {
		--size: 50px;
		--border-width: 2px;
		width: var(--size);
		height: var(--size);
		position: relative;
	}

	.progress[data-segments='1'] .divider {
		display: none;
	}
	.progress[data-segments='2'] .pie {
		clip-path: polygon(50% -25%, 50% 125%, 120% 50%);
	}
	.progress[data-segments='3'] .pie {
		clip-path: polygon(50% -50%, 50% 50%, 140% 100%);
	}
	.progress[data-segments='4'] .pie {
		clip-path: polygon(50% -25%, 50% 50%, 120% 50%);
	}
	.progress[data-segments='5'] .pie {
		clip-path: polygon(50% -10%, 50% 50%, 110% 30%);
	}
	.progress[data-segments='6'] .pie {
		clip-path: polygon(50% -10%, 50% 50%, 100% 20%);
	}
	.progress[data-segments='7'] .pie {
		clip-path: polygon(50% 0, 50% 50%, 110% 0);
	}
	.progress[data-segments='8'] .pie {
		clip-path: polygon(50% 0, 50% 50%, 100% 0);
	}
	.progress[data-segments='9'] .pie {
		clip-path: polygon(50% 0, 50% 50%, 95% 0);
	}
	.progress[data-segments='10'] .pie {
		clip-path: polygon(50% 0, 50% 50%, 85% 0);
	}
	.progress[data-segments='11'] .pie {
		clip-path: polygon(50% 0, 50% 50%, 85% 0);
	}
	.progress[data-segments='12'] .pie {
		clip-path: polygon(50% 0, 50% 50%, 80% 0);
	}

	.progress .foreground {
		pointer-events: none;
		position: absolute;
		width: var(--size);
		height: var(--size);
		border-radius: 50%;
		border: var(--border-width) solid $color-secondary;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
		z-index: 2;
	}

	.progress .divider {
		pointer-events: none;
		position: absolute;
		width: var(--border-width);
		height: calc(50% - 0.5 * var(--border-width));
		top: calc(0.5 * var(--border-width));
		right: calc(50% - var(--border-width) / 2);
		background: $color-ternary;
		transform-origin: center bottom;
		transform: rotate(calc((var(--index) * 1turn) / var(--segments)));
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
		z-index: 2;
	}

	.progress input[type='radio'].pie {
		position: absolute;
		top: 0;
		margin: 0;
		appearance: none;
		width: var(--size);
		height: var(--size);
		border-radius: 50%;
		transform: rotate(calc(((var(--index) - 1) * 1turn) / var(--segments)));
		z-index: 1;
	}

	.progress .pie:hover {
		cursor: pointer;
	}

	.progress .pie:checked,
	.progress .pie:checked ~ .pie {
		background-color: $color-secondary;
	}

	.progress .pie:hover,
	.progress .pie:hover ~ .pie {
		background-color: $color-secondary-inverted;
	}

	.progress .pie:checked:hover,
	.progress .pie:checked:hover ~ .pie,
	.progress .pie:checked ~ .pie:hover,
	.progress .pie:checked ~ .pie:hover ~ .pie,
	.progress .pie:hover ~ .pie:checked,
	.progress .pie:hover ~ .pie:checked ~ .pie {
		background-color: $color-secondary;
	}
}
