/* ----------------------------------------- */
/* Mixin                      
/* ----------------------------------------- */
@mixin element-invisible {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	clip: rect(0 0 0 0);
	overflow: hidden;
}

@mixin hide {
	display: none;
}

@mixin gap($value) {
	gap: $value;
}

@for $i from 1 through 20 {
	.gap-#{$i} {
		@include gap($i * 1px);
	}
}

@mixin border-right-except-last {
	> div:not(:last-child) {
		border-right: 1px solid $color-secondary;
	}
}

@mixin mb($value) {
	margin-bottom: $value;
}

@for $i from 1 through 20 {
	.mb-#{$i} {
		@include mb($i * 1px);
	}
}

@mixin flexgrow($value) {
	flex-grow: $value;
}

@for $i from 1 through 10 {
	.flexgrow-#{$i} {
		@include flexgrow($i);
	}
}
