/* ----------------------------------------- */
/* Width & Height Mixin                      
/* ----------------------------------------- */
$sizes: 5, 10, 15, 25, 50, 75, 100;

@each $size in $sizes {
	.w-#{$size} {
		width: $size * 1%;
	}

	.h-#{$size} {
		height: $size * 1%;
	}
}
