/* ----------------------------------------- */
/* Typography                       
/* ----------------------------------------- */
@font-face {
	font-family: 'Yanone Kaffeesatz';
	src: url('../fonts/yanone-kafffeesatz/YanoneKaffeesatz-VariableFont_wght.ttf') format('truetype');
	font-optical-sizing: auto;
	font-weight: 200 700;
	font-style: normal;
}

@font-face {
	font-family: 'Fabula Ultima icons';
	src: url('../fonts/fabula-ultima/FabulaUltimaIcons-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CreditValley';
	src: url('../fonts/credit-valley/CreditValley.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CreditValleybold';
	src: url('../fonts/credit-valley/CreditValleybold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'trigger-bold';
	src: url('../fonts/trigger-bold/trigger-bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Evilz';
	src: url('../fonts/evil-font/Evilz.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FnT_BasicShapes1';
	src: url('../fonts/fnt-bs/FNT_BS.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'old retro labels tfb';
	src: url('../fonts/old-retro-labels-tfb/old_retro_labels_tfb.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@counter-style diamonds {
	system: cyclic;
	suffix: ' ';
	symbols: '◆';
}

@font-face {
	font-family: 'Material Symbols Outlined';
	font-style: normal;
	src: url('../fonts/material-symbols/MaterialSymbolsOutlined[FILL,GRAD,opsz,wght].woff2') format('woff');
}

@font-face {
	font-family: 'Material Symbols Rounded';
	font-style: normal;
	src: url('../fonts/material-symbols/MaterialSymbolsRounded[FILL,GRAD,opsz,wght].woff2') format('woff');
}

@font-face {
	font-family: 'Material Symbols Sharp';
	font-style: normal;
	src: url('../fonts/material-symbols/MaterialSymbolsSharp[FILL,GRAD,opsz,wght].woff2') format('woff');
}

.mats-o {
	font-family: 'Material Symbols Outlined';
}

.mats-r {
	font-family: 'Material Symbols Rounded';
}

.mats-s {
	font-family: 'Material Symbols Sharp';
}

.mats-o,
.mats-r,
.mats-s {
	font-weight: normal;
	font-style: normal;
	font-size: 1.5rem; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	vertical-align: middle;

	&.mats-icon::before {
		content: var(--mats-icon);
	}
}

.mats-fill {
	font-variation-settings: 'FILL' 1;
}

// Font Variables
$font-title: 'CreditValleybold';
$font-primary: 'PT Sans Narrow', sans-serif;
$font-secondary: 'Yanone Kaffeesatz', sans-serif;
$font-quote: 'EB Garamond', sans-serif;

// Styles for .window-app class
.window-app:not([id$='-popout']) {
	font-family: $font-primary;

	// Default styles for header
	h1 {
		font-family: $font-title;
		font-size: 2rem !important;
		font-weight: 700;
		color: $color-secondary;
		font-variant: small-caps;
	}

	h2 {
		font-family: $font-secondary;
		font-size: 1.75rem !important;
		font-weight: 700;
		font-variant: small-caps;
	}

	h3 {
		font-family: $font-secondary;
		font-size: 1.625rem !important;
		font-weight: 700;
		font-variant: small-caps;
	}

	h4 {
		font-family: $font-secondary;
		font-size: 1.5rem !important;
		font-weight: 700;
		font-variant: small-caps;
	}

	h5 {
		font-family: $font-secondary;
		font-size: 1.375rem !important;
		font-weight: 700;
		font-variant: small-caps;
	}

	h6 {
		font-family: $font-secondary;
		font-size: 1.25rem !important;
		font-weight: 700;
		font-variant: small-caps;
	}

	.sheet-body,
	.journal-sheet-container {
		p,
		li {
			font-family: $font-primary;
			font-style: normal;
			font-size: 1rem;
		}

		blockquote,
		blockquote p {
			font-family: $font-quote !important;
			font-style: italic;
			font-size: 1rem;
		}

		// Change bullet content for li
		.editor,
		.journal-page-content,
		.editor-content,
		.chat-desc {
			ul {
				list-style: diamonds;

				li,
				.ProseMirror li {
					&::marker {
						color: $color-secondary;
						font-size: 0.875rem;
					}
				}
			}

			ol {
				li,
				.ProseMirror li {
					&::marker {
						color: $color-secondary;
						font-size: 1rem;
						font-weight: bold;
					}
				}
			}
		}
	}

	.label {
		font-variant: small-caps;
		border: none;
	}

	// Navigation Styles
	nav,
	a.item {
		font-weight: bold;
	}

	// Item and Zenit Content Styles
	[class^='item-'] {
		font-weight: bold;
	}

	.item,
	.zenit-content {
		font-size: 1rem;

		.item-name {
			font-size: 0.875rem;
			font-weight: bold;
		}

		.item-quality {
			font-size: 0.875rem;
		}
	}

	// Item Summary Font Style
	input.resource-inputs {
		font-size: 0.875rem;

		&.summary {
			font-family: $font-quote;
			font-weight: 700;
			font-style: italic;
			font-size: 1rem;
			line-height: 1.45em;
		}
	}

	// Resource Content Styles
	.resource-content {
		font-family: $font-primary;

		&.affinity {
			label {
				font-family: 'Yanone Kaffeesatz', sans-serif;
				font-size: 1.125rem;
				color: $color-secondary;
			}
		}

		// Resource Body Text Sizes
		.resource-text-sm {
			font-size: 1rem;
			font-family: $font-primary;
		}

		.resource-text-m {
			font-size: 1rem;
			font-family: $font-primary;
		}

		// Resource Label Sizes
		.resource-label-t {
			font-size: 1rem;
			font-weight: bold;
			font-family: $font-secondary;
			font-variant: small-caps;
		}

		.resource-label-sm {
			font-size: 1rem;
			font-weight: bold;
			font-family: $font-secondary;
			font-variant: small-caps;
		}

		.resource-label-m {
			font-size: 1.125rem;
			font-weight: bold;
			font-family: $font-secondary;
			font-variant: small-caps;
		}

		.resource-label-l {
			font-size: 1.25rem;
			font-weight: bold;
			font-family: $font-secondary;
			font-variant: small-caps;
		}

		.resource-label-xl {
			font-size: 1.5rem;
			font-weight: bold;
			font-family: $font-secondary;
			font-variant: small-caps;
		}
	}

	label.is-crisis {
		font-size: 1.4rem;
		font-weight: bold;
		font-family: $font-secondary;
		font-variant: small-caps;
		font-style: italic;
	}

	.action-button {
		font-weight: bold;
		font-size: 0.813rem;
		line-height: 1.2em;
	}

	.editor,
	.journal-entry-content,
	.editor-container {
		.editor-edit,
		.editor-content,
		.journal-entry-page {
			font-weight: normal;

			h1,
			h2,
			h3 {
				border-bottom: 2px solid $color-secondary;
			}

			h1 {
				line-height: 1.2em;
				margin-bottom: 5px;
			}

			h2,
			h3,
			h4 {
				line-height: 1.45em;
				margin-bottom: 5px;
			}

			hr {
				margin: 5px 0;
			}

			p {
				margin: 0;
				line-height: 1.6em;

				&:not(:first-child) {
					margin-top: 0.5rem;
					margin-bottom: 0.5rem;
				}
			}

			blockquote {
				line-height: 1.45em;
			}

			.editor-content {
				font-size: 1rem;
				line-height: 1.45em;
				width: 100%;
			}
		}
	}

	.charname input {
		font-family: $font-secondary;
		font-weight: 500;
		font-size: 2.125rem;
		text-transform: none;
		font-variant: small-caps;
	}

	.pronouns input {
		font-family: $font-secondary;
		font-size: 1.35rem;
		padding-top: 0.3rem;
		font-variant: small-caps;
	}

	// Styles for .detail-desc class
	.detail-desc {
		font-size: 0.875rem;
		line-height: 1.45em;
		font-weight: bold;
		font-family: $font-primary;

		div {
			font-size: 0.875rem;
			padding: 5px 0;
		}
	}

	.description-effect {
		font-size: 0.938rem;
		line-height: 1.45em;
		font-weight: normal !important;
		font-family: $font-primary;
	}

	// Uppercase Text
	.uppercase {
		font-variant: small-caps;
	}

	// Quote Styles
	.quote {
		border-left: 3px solid #999;
		padding-left: 10px;
		font-style: italic;
	}

	// Styles for Chat Description
	.chat-desc {
		.summary {
			font-family: $font-quote;
			font-weight: 700;
			font-style: italic;
			font-size: 1rem;
			line-height: 1.45em;
			color: $color-ternary;
		}
		p {
			font-family: $font-primary;
			font-size: 1rem;
			line-height: 1.45em;
		}
	}

	// Styles for Chat Message
	.chat-message {
		.message-header {
			.flavor-text {
				font-size: 1.25rem;
				line-height: 1.45em;
			}
		}
	}

	// Auto Shrink Text
	.auto-shrink {
		overflow: hidden;
		width: 100%;
		box-sizing: border-box;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	// Navbar Text
	.sheet nav.sheet-tabs .item {
		font-variant: small-caps;
		font-size: 1rem;
		line-height: 1.45em;
	}
}

@mixin martial-icon {
	font-family: 'Fabula Ultima icons';
	font-size: 1.75rem;
	color: $color-danger !important;
	-webkit-text-stroke: 0.5px $color-black;
}

.is-offensive {
	@include martial-icon;

	&::before {
		content: 'o';
	}
}

.is-martial {
	@include martial-icon;

	&::before {
		content: 'w';
	}
}

@mixin action-icon {
	font-family: 'Fabula Ultima icons';
	font-size: 1.75rem;
	color: $color-black !important;
}

.is-melee {
	@include action-icon;

	&::before {
		content: 'm';
	}
}

.is-range {
	@include action-icon;

	&::before {
		content: 'r';
	}
}

.is-spell {
	@include action-icon;

	&::before {
		content: 'c';
	}
}

.is-skill {
	@include action-icon;

	&::before {
		content: 's';
	}
}

.is-two-weapon {
	color: $color-black !important;
	font-family: 'Evilz';
	font-size: 1.75rem;
	-webkit-text-stroke: 0.5px $color-black;

	&.equip {
		color: $color-secondary !important;
		-webkit-text-stroke: transparent;
	}

	&::before {
		content: '4';
	}
}

.is-header {
	font-size: 1.75rem;
	color: $color-black;
	font-family: 'old retro labels tfb';

	&::before {
		content: 'd';
	}
}

// @mixin aff-icon {
// 	font-family: 'Fabula Ultima icons';
// 	font-size: 1.75rem;
// }

.fu-phys {
	font-family: 'Fabula Ultima icons';
	font-size: 1.75rem;
	color: #dedede !important;

	&::before {
		content: 'p';
	}
}

.fu-wind {
	font-family: 'Fabula Ultima icons';
	font-size: 1.75rem;
	color: #cfd600 !important;

	&::before {
		content: 'a';
	}
}

.fu-bolt {
	font-family: 'Fabula Ultima icons';
	font-size: 1.75rem;
	color: #ffef26 !important;

	&::before {
		content: 'b';
	}
}

.fu-dark {
	font-family: 'Fabula Ultima icons';
	font-size: 1.75rem;
	color: #543987 !important;

	&::before {
		content: 'd';
	}
}

.fu-earth {
	font-family: 'Fabula Ultima icons';
	font-size: 1.75rem;
	color: #d28d3e !important;

	&::before {
		content: 'e';
	}
}

.fu-fire {
	font-family: 'Fabula Ultima icons';
	font-size: 1.75rem;
	color: #f58a00 !important;

	&::before {
		content: 'f';
	}
}

.fu-ice {
	font-family: 'Fabula Ultima icons';
	font-size: 1.75rem;
	color: #bce4fa !important;

	&::before {
		content: 'i';
	}
}

.fu-light {
	font-family: 'Fabula Ultima icons';
	font-size: 1.75rem;
	color: #fff7b2 !important;

	&::before {
		content: 'l';
	}
}

.fu-poison {
	font-family: 'Fabula Ultima icons';
	font-size: 1.75rem;
	color: #d678a2 !important;

	&::before {
		content: 't';
	}
}

@mixin card-suit-icon {
	font-family: 'FnT_BasicShapes1';
	font-size: 1.75rem;
	-webkit-text-stroke: 0.5px $color-black;
}

// Specific styles for each card suit
.is-diamond {
	@include card-suit-icon;
	color: $color-danger !important;

	&::before {
		content: 'Q';
	}
}

.is-club {
	@include card-suit-icon;
	color: $color-black !important;

	&::before {
		content: 'P';
	}
}

.is-heart {
	@include card-suit-icon;
	color: $color-danger !important;

	&::before {
		content: 'O';
	}
}

.is-spade {
	@include card-suit-icon;
	color: $color-black !important;

	&::before {
		content: 'R';
	}
}

.fnt {
	font-family: 'FnT_BasicShapes1';
	font-size: 1.125rem;
	-webkit-text-stroke: 0.5px $color-black;
}

.retrolabels {
	color: $color-black;
	font-family: 'old retro labels tfb';
}

.evil {
	font-family: 'Evilz';
	font-size: 1.125rem;
	-webkit-text-stroke: 0.5px $color-black;
}

$font-sizes: (10, 11, 12, 13, 14, 15, 16, 18, 20, 24, 28, 32, 36, 48, 64, 80);

@each $size in $font-sizes {
	.font-size-#{$size} {
		font-size: var(--font-size-#{$size});
	}
}

.strikethrough {
	text-decoration: line-through;
}

.action-disabled {
	pointer-events: none;
	opacity: 0.5;
}
