@font-face {
	font-family: 'Fabula Ultima icons';
	src: url('/systems/projectfu/styles/fonts/FabulaUltimaIcons-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CreditValley';
	src: url('/systems/projectfu/styles/fonts/credit-valley/CreditValley.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CreditValleybold';
	src: url('/systems/projectfu/styles/fonts/credit-valley/CreditValleybold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Evilz';
	src: url('/systems/projectfu/styles/fonts/evil-font/Evilz.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Heydings Icons';
	src: url('/systems/projectfu/styles/fonts/heydings-icons/heydings_icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FnT_BasicShapes1';
	src: url('/systems/projectfu/styles/fonts/fnt-bs/FNT_BS.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Web Symbols';
	src: url('/systems/projectfu/styles/fonts/web-symbols/WebSymbols-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'old retro labels tfb';
	src: url('/systems/projectfu/styles/fonts/old-retro-labels-tfb/old_retro_labels_tfb.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@counter-style diamonds {
	system: cyclic;
	suffix: ' ';
	symbols: '◆';
}

@font-face {
	font-family: 'Material Symbols Outlined';
	font-style: normal;
	src: url('/systems/projectfu/styles/fonts/material-symbols/MaterialSymbolsOutlined[FILL,GRAD,opsz,wght].woff2') format('woff');
}

@font-face {
	font-family: 'Material Symbols Rounded';
	font-style: normal;
	src: url('/systems/projectfu/styles/fonts/material-symbols/MaterialSymbolsRounded[FILL,GRAD,opsz,wght].woff2') format('woff');
}

@font-face {
	font-family: 'Material Symbols Sharp';
	font-style: normal;
	src: url('/systems/projectfu/styles/fonts/material-symbols/MaterialSymbolsSharp[FILL,GRAD,opsz,wght].woff2') format('woff');
}

.mats-o {
	font-family: 'Material Symbols Outlined';
}

.mats-r {
	font-family: 'Material Symbols Rounded';
}

.mats-s {
	font-family: 'Material Symbols Sharp';
}

.mats-o,
.mats-r,
.mats-s {
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
}

.mats-fill {
	font-variation-settings: 'FILL' 1;
}

// Font Variables
$font-title: 'CreditValleybold';
$font-primary: 'PT Sans Narrow', sans-serif;
$font-secondary: 'Antonio', sans-serif;
$font-quote: 'EB Garamond', sans-serif;

// Styles for .window-app class
.window-app {
	font-family: $font-primary;

	// Default styles for header
	h1 {
		font-family: $font-title;
		font-size: 30px;
		font-weight: 700;
		color: $color-secondary;
		text-transform: uppercase;
	}

	h2 {
		font-family: $font-secondary;
		font-size: 24px;
		font-weight: 700;
		text-transform: uppercase;
	}

	h3 {
		font-family: $font-secondary;
		font-size: 20px;
		font-weight: 700;
		text-transform: uppercase;
	}

	h4 {
		font-family: $font-secondary;
		font-size: 18px;
		font-weight: 700;
	}

	h5 {
		font-family: $font-secondary;
		font-size: 16px;
		font-weight: 700;
	}

	h6 {
		font-family: $font-secondary;
		font-size: 14px;
		font-weight: 700;
	}

	.sheet-body,
	.journal-sheet-container {
		p,
		li {
			font-family: $font-primary;
			font-style: normal;
			font-size: 16px;
		}

		blockquote,
		blockquote p {
			font-family: $font-quote !important;
			font-style: italic;
			font-size: 16px;
		}

		// Change bullet content for li
		.editor,
		.journal-page-content,
		.editor-content,
		.chat-desc {
			ul {
				list-style: diamonds;

				li,
				.ProseMirror li {
					&::marker {
						color: $color-secondary;
						font-size: 14px;
					}
				}
			}

			ol {
				li,
				.ProseMirror li {
					&::marker {
						color: $color-secondary;
						font-size: 16px;
						font-weight: bold;
					}
				}
			}
		}
	}

	.label {
		text-transform: uppercase;
		border: none;
	}

	// Navigation Styles
	nav,
	a.item {
		font-weight: bold;
	}

	// Item and Zenit Content Styles
	[class^='item-'] {
		font-weight: bold;
	}

	.item,
	.zenit-content {
		font-size: 16px;

		.item-name {
			font-size: 16px;
			font-weight: bold;
		}

		.item-quality {
			font-size: 14px;
		}
	}

	// Item Summary Font Style
	input.resource-inputs {
		font-size: 14px;

		&.summary {
			font-family: $font-quote;
			font-weight: 700;
			font-style: italic;
			font-size: 16px;
			line-height: 1.45em;
		}
	}

	// Resource Content Styles
	.resource-content {
		font-family: $font-primary;

		&.affinity {
			label {
				font-family: 'Antonio', sans-serif;
				line-height: 1.68em;
				font-size: 18px;
				color: $color-secondary;
			}
		}

		// Resource Body Text Sizes
		.resource-text-sm {
			font-size: 14px;
			font-family: $font-primary;
		}

		.resource-text-m {
			font-size: 16px;
			line-height: 1.45em;
			font-family: $font-primary;
		}

		// Resource Label Sizes
		.resource-label-t {
			font-size: 12px;
			line-height: 1.45em;
			line-height: 1.45em;
			font-weight: bold;
			font-family: $font-secondary;
			text-transform: uppercase;
		}

		.resource-label-sm {
			font-size: 14px;
			line-height: 1.45em;
			font-weight: bold;
			font-family: $font-secondary;
			text-transform: uppercase;
		}

		.resource-label-m {
			font-size: 16px;
			line-height: 1.45em;
			font-weight: bold;
			font-family: $font-secondary;
			text-transform: uppercase;
		}

		.resource-label-l {
			font-size: 18px;
			line-height: 1.45em;
			font-weight: bold;
			font-family: $font-secondary;
			text-transform: uppercase;
		}

		.resource-label-xl {
			font-size: 20px;
			line-height: 1.45em;
			font-weight: bold;
			font-family: $font-secondary;
			text-transform: uppercase;
		}
	}

	label.is-crisis {
		font-size: 18px;
		font-weight: bold;
		font-family: $font-secondary;
		text-transform: uppercase;
		font-style: italic;
	}

	.action-button {
		font-weight: bold;
		font-size: 13px;
		line-height: 1.2em;
	}

	.editor,
	.journal-entry-content,
	.editor-container {
		.editor-edit,
		.editor-content,
		.journal-entry-page {
			font-weight: normal;

			h1,
			h2,
			h3 {
				border-bottom: 2px solid $color-secondary;
			}

			h1 {
				line-height: 1.2em;
				margin-bottom: 5px;
			}

			h2,
			h3,
			h4 {
				line-height: 1.45em;
				margin-bottom: 5px;
			}

			hr {
				margin: 5px 0;
			}

			p {
				margin: 0;
				line-height: 1.45em;
			}

			h1 + p,
			h2 + p,
			h3 + p,
			h4 + p,
			h5 + p,
			h6 + p,
			p + p {
				margin-top: 5px;
			}

			blockquote {
				line-height: 1.45em;
			}

			.editor-content {
				font-size: 16px;
				line-height: 1.45em;
				width: 100%;
			}
		}
	}

	.charname input {
		font-family: Antonio;
		font-weight: bold;
		font-size: 1.25rem;
		text-transform: uppercase;
	}

	.pronouns input {
		font-family: Antonio;
		font-size: 16px;
		text-transform: uppercase;
	}

	// Styles for .detail-desc class
	.detail-desc {
		font-size: 14px;
		line-height: 1.45em;
		font-weight: bold;
		font-family: $font-primary;

		div {
			font-size: 14px;
			padding: 5px 0;
		}
	}

	.description-effect {
		font-size: 15px;
		line-height: 1.45em;
		font-weight: normal !important;
		font-family: $font-primary;
	}

	// Uppercase Text
	.uppercase {
		text-transform: uppercase;
	}

	// Quote Styles
	.quote {
		border-left: 3px solid #999;
		padding-left: 10px;
		font-style: italic;
	}

	// Styles for Chat Description
	.chat-desc {
		.summary {
			font-family: $font-quote;
			font-weight: 700;
			font-style: italic;
			font-size: 16px;
			line-height: 1.45em;
			color: $color-ternary;
		}
	}

	// Styles for Chat Message
	.chat-message {
		.message-header {
			.flavor-text {
				font-size: 20px;
				line-height: 1.45em;
			}
		}
	}

	// Auto Shrink Text
	.auto-shrink {
		overflow: hidden;
		width: 100%;
		box-sizing: border-box;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	// Navbar Text
	.sheet nav.sheet-tabs .item {
		text-transform: uppercase;
		font-size: 16px;
		line-height: 1.45em;
	}
}

.is-offensive::before {
	content: 'r';
}

.is-offensive {
	color: $color-danger !important;
	font-family: 'Heydings Icons';
	font-size: 24px;
	-webkit-text-stroke: 0.5px $color-black;
}

.is-martial::before {
	content: 'E';
}

.is-martial {
	color: $color-danger !important;
	font-family: 'FnT_BasicShapes1';
	font-size: 24px;
	-webkit-text-stroke: 0.5px $color-black;
}

.is-melee::before {
	content: 'm';
}

.is-melee {
	color: $color-black !important;
	font-family: 'Fabula Ultima icons';
	font-size: 24px;
}

.is-range::before {
	content: 'r';
}

.is-range {
	color: $color-black !important;
	font-family: 'Fabula Ultima icons';
	font-size: 24px;
}

.is-spell::before {
	content: 'c';
}

.is-spell {
	color: $color-black !important;
	font-family: 'Fabula Ultima icons';
	font-size: 24px;
}

.is-skill::before {
	content: 's';
}

.is-skill {
	color: $color-black !important;
	font-family: 'Fabula Ultima icons';
	font-size: 24px;
}

.is-two-weapon::before {
	content: '4';
}

.is-two-weapon {
	color: $color-black !important;
	font-family: 'Evilz';
	font-size: 24px;
	-webkit-text-stroke: 0.5px $color-black;
}

.is-header::before {
	content: 'd';
}

.is-header {
	font-size: 24px;
	color: $color-black;
	font-family: 'old retro labels tfb';
}

.is-diamond::before {
	content: 'Q';
}

.is-diamond {
	color: $color-danger !important;
	font-family: 'FnT_BasicShapes1';
	font-size: 24px;
	-webkit-text-stroke: 0.5px $color-black;
}

.is-club::before {
	content: 'P';
}

.is-club {
	font-family: 'FnT_BasicShapes1';
	font-size: 24px;
	-webkit-text-stroke: 0.5px $color-black;
}

.is-heart::before {
	content: 'O';
}

.is-heart {
	color: $color-danger !important;
	font-family: 'FnT_BasicShapes1';
	font-size: 24px;
	-webkit-text-stroke: 0.5px $color-black;
}

.is-spade::before {
	content: 'R';
}

.is-spade {
	font-family: 'FnT_BasicShapes1';
	font-size: 24px;
	-webkit-text-stroke: 0.5px $color-black;
}

.heydings {
	font-family: 'Heydings Icons';
	font-size: 18px;
	-webkit-text-stroke: 0.5px $color-black;
}

.fnt {
	font-family: 'FnT_BasicShapes1';
	font-size: 18px;
	-webkit-text-stroke: 0.5px $color-black;
}

.evil {
	font-family: 'Evilz';
	font-size: 18px;
	-webkit-text-stroke: 0.5px $color-black;
}

.websymbols {
	font-family: 'Web Symbols';
	font-size: 18px;
	-webkit-text-stroke: 0.5px $color-black;
}

.retrolabels {
	color: $color-black;
	font-family: 'old retro labels tfb';
}

$font-sizes: (10, 11, 12, 13, 14, 15, 16, 18, 20, 24, 28, 32, 36, 48, 64, 80);

@each $size in $font-sizes {
	.font-size-#{$size} {
		font-size: var(--font-size-#{$size});
	}
}
