<nav class="navigation tabs" data-action="tab">
    <label>{{localize 'FU.Tabs'}}:</label>
    <a class="button active" data-tab="skills" data-group="main">{{localize 'FU.Skills'}}</a>
    <a class="button" data-tab="other" data-group="main">{{localize 'FU.Other'}}</a>
</nav>