<header class="items-main rollable align-center auto-shrink" data-roll-type="behavior">
	<i class="fas fa-redo-alt"></i>
	<label class="rollable">{{localize "FU.BehaviorCheck"}}</label>
</header>
<ol class="items-list">
	<li class="item flexrow items-header">
		<div class="item-name">{{localize "FU.BehaviorActive"}}</div>
		<div class="item-level">{{localize "FU.BehaviorWeight"}}</div>
		<div class="item-controls">
			<a class="item-control item-create" aria-describedby="tooltip" data-tooltip="{{localize 'FU.BehaviorAdd'}}" data-type="behavior"> <i class="fas fa-plus"></i>{{localize 'FU.Add'}} </a>
		</div>
	</li>
	{{#each items as |item id|}} {{#if (and item.system.isBehavior.value)}}
	<li class="item flexrow" data-item-id="{{ item._id }}">
		<div class="item-name">
			<div class="item-image">
				<a class="rollable" data-roll-type="item"><img src="{{ item.img }}" aria-describedby="tooltip" data-tooltip="{{ item.name }}" width="24" height="24" /></a>
			</div>
			<h4>{{ item.name }}</h4>
		</div>
		<div class="item-level">
			<span>{{ item.system.weight.value }}</span>
		</div>
		{{> "systems/fabulaultima/templates/actor/parts/actor-control.html" item=item}}
	</li>
	{{/if}} {{/each}}
	<ol class="items-list">
		<li class="item flexrow items-header">
			<div class="item-name">{{localize "FU.BehaviorInactive"}}</div>
			<div class="item-level">{{localize "FU.BehaviorWeight"}}</div>
			<div class="item-controls">
				<a class="item-control item-create" aria-describedby="tooltip" data-tooltip="{{localize 'FU.BehaviorAdd'}}" data-type="behavior"> <i class="fas fa-plus"></i>{{localize 'FU.Add'}} </a>
			</div>
		</li>
		{{#each behaviors as |item id|}} {{#if (not item.system.isBehavior.value)}}
		<li class="item flexrow" data-item-id="{{ item._id }}">
			<div class="item-name">
				<div class="item-image">
					<a class="rollable" data-roll-type="item"><img src="{{ item.img }}" aria-describedby="tooltip" data-tooltip="{{ item.name }}" width="24" height="24" /></a>
				</div>
				<h4>{{ item.name }}</h4>
			</div>
			<div class="item-level">
				<span>{{ item.system.weight.value }}</span>
			</div>
			{{> "systems/fabulaultima/templates/actor/parts/actor-control.html" item=item}}
		</li>
		{{/if}} {{/each}}
	</ol>
</ol>
