{{!-- Character Relevent Bonuses --}} {{#if (eq actor.type "character")}}
<section class="align-right npc-border-col">
  <div class="flex-group-center">
    <div class="resource flex-group-center">
      <label class="resource-label">Bonus HP</label>
      <input
        type="text"
        name="system.resources.hp.bonus"
        value="{{system.resources.hp.bonus}}"
        data-dtype="Number"
        class="inputdesc"
      />
    </div>
    <div class="resource flex-group-center">
      <label class="resource-label">Bonus MP</label>
      <input
        type="text"
        name="system.resources.mp.bonus"
        value="{{system.resources.mp.bonus}}"
        data-dtype="Number"
        class="inputdesc"
      />
    </div>
    <div class="resource flex-group-center">
      <label class="resource-label">Bonus Def</label>
      <input
        type="text"
        name="system.derived.def.bonus"
        value="{{system.derived.def.bonus}}"
        data-dtype="Number"
        class="inputdesc"
      />
    </div>
    <div class="resource flex-group-center">
      <label class="resource-label">Bonus MDef</label>
      <input
        type="text"
        name="system.derived.mdef.bonus"
        value="{{system.derived.mdef.bonus}}"
        data-dtype="Number"
        class="inputdesc"
      />
    </div>
    <div class="resource flex-group-center">
      <label class="resource-label">Bonus Init</label>
      <input
        type="text"
        name="system.derived.init.bonus"
        value="{{system.derived.init.bonus}}"
        data-dtype="Number"
        class="inputdesc"
      />
    </div>
  </div>
</section>
{{/if}} {{!-- NPC Relevent Bonuses --}} {{#if (eq actor.type "npc")}}
<section class="align-right npc-border-col">
  <div class="flex-group-center">
    <div class="resource flex-group-center">
      <label class="resource-label">Bonus HP</label>
      <input
        class="inputdesc"
        type="text"
        name="system.resources.hp.bonus"
        value="{{system.resources.hp.bonus}}"
        data-dtype="Number"
      />
    </div>
    <div class="resource flex-group-center">
      <label class="resource-label">Bonus MP</label>
      <input
        class="inputdesc"
        type="text"
        name="system.resources.mp.bonus"
        value="{{system.resources.mp.bonus}}"
        data-dtype="Number"
      />
    </div>
    <div class="resource flex-group-center">
      <label class="resource-label">Bonus Def</label>
      <input
        class="inputdesc"
        type="text"
        name="system.derived.def.bonus"
        value="{{system.derived.def.bonus}}"
        data-dtype="Number"
      />
    </div>
    <div class="resource flex-group-center">
      <label class="resource-label">Bonus MDef</label>
      <input
        class="inputdesc"
        type="text"
        name="system.derived.mdef.bonus"
        value="{{system.derived.mdef.bonus}}"
        data-dtype="Number"
      />
    </div>
    <div class="resource flex-group-center">
      <label class="resource-label">Bonus Init</label>
      <input
        class="inputdesc"
        type="text"
        name="system.derived.init.bonus"
        value="{{system.derived.init.bonus}}"
        data-dtype="Number"
      />
    </div>
  </div>
</section>
{{/if}}
