<div class="input-container">
    <input type="text" data-tooltip="Bond Name" name="system.resources.bond.name" value="{{system.resources.bond.name}}" data-dtype="String" class="resource-input-bonds">
</div>
<div class="input-container">
    <select value="{{system.resources.bond.admInf}}" name="system.resources.bond.admInf" class="resource-input-bonds">
        {{#select system.resources.bond.admInf}}
        <option value=""></option>
        <option value="Admiration">{{localize 'FU.Admiration'}}</option>
        <option value="Inferiority">{{localize 'FU.Inferiority'}}</option>
        {{/select}}
    </select>
</div>
<div class="input-container">
    <select value="{{system.resources.bond.loyMis}}" name="system.resources.bond.loyMis" class="resource-input-bonds">
        {{#select system.resources.bond.loyMis}}
        <option value=""></option>
        <option value="Loyalty">{{localize 'FU.Loyalty'}}</option>
        <option value="Mistrust">{{localize 'FU.Mistrust'}}</option>
        {{/select}}
    </select>
</div>
<div class="input-container">
    <select value="{{system.resources.bond.affHat}}" name="system.resources.bond.affHat" class="resource-input-bonds">
        {{#select system.resources.bond.affHat}}
        <option value=""></option>
        <option value="Affection">{{localize 'FU.Affection'}}</option>
        <option value="Hatred">{{localize 'FU.Hatred'}}</option>
        {{/select}}
    </select>
</div>
<div class="input-container flexrow">
    <input type="number" data-tooltip="Bond Strength" name="system.resources.bond.strength" value="{{system.resources.bond.strength}}" data-dtype="Number" class="resource-input">
    <a class="item-control item-delete resource-input-bonds" data-tooltip="{{localize 'FU.Delete'}}" data-type="bond" style="border-radius: 10%; margin: 0 5px 0 7px;">
        <i class="fas fa-trash" ></i>
    </a>
</div>