<div class="sp-tracker flexrow flex-group-center grid grid-4col">
  <div class="desc-header grid grid-4col">
    <label class="resource-label grid-span-3">SP Available</label>
    <span class="resource-label">{{spTracker.spAvailable}}</span>
  </div>

  <!--Start Available Skills-->
  {{#if spTracker.availableSkills.species}}
  <div class="ability resource-content">
    <label
      class="resource-label flexlarge align-left grid-span-3"
      data-label=""
    >
      <p class="desc-body">Available skills from Species</p>
    </label>
    <span>{{spTracker.availableSkills.species}}</span>
  </div>
  {{/if}} {{#if spTracker.availableSkills.vulnerabilities}}
  <div class="ability resource-content">
    <label
      class="resource-label flexlarge align-left grid-span-3"
      data-label=""
    >
      <p class="desc-body">Available skills from vulnerabilities</p>
    </label>
    <span>{{spTracker.availableSkills.vulnerabilities}}</span>
  </div>
  {{/if}} {{#if spTracker.availableSkills.rank}}
  <div class="ability resource-content">
    <label
      class="resource-label flexlarge align-left grid-span-3"
      data-label=""
    >
      <p class="desc-body">Available skills from rank</p>
    </label>
    <span>{{spTracker.availableSkills.rank}}</span>
  </div>
  {{/if}}
  <!--End Available Skills-->

  <div class="desc-header grid grid-4col">
    <label class="resource-label grid-span-3">SP Used</label>
    <span class="resource-label">{{spTracker.spUsed}}</span>
  </div>

  <!--Start Used Skills-->
  {{#if spTracker.usedSkills.specialAttacks}}
  <div class="ability resource-content">
    <label
      class="resource-label flexlarge align-left grid-span-3"
      data-label=""
    >
      <p class="desc-body">Used skills from special attacks</p>
    </label>
    <span>{{spTracker.usedSkills.specialAttacks}}</span>
  </div>
  {{/if}} {{#if spTracker.usedSkills.spells}}
  <div class="ability resource-content">
    <label
      class="resource-label flexlarge align-left grid-span-3"
      data-label=""
    >
      <p class="desc-body">Used skills from spells</p>
    </label>
    <span>{{spTracker.usedSkills.spells}}</span>
  </div>
  {{/if}} {{#if spTracker.usedSkills.extraDefense}}
  <div class="ability resource-content">
    <label
      class="resource-label flexlarge align-left grid-span-3"
      data-label=""
    >
      <p class="desc-body">Used skills from extra defense</p>
    </label>
    <span>{{spTracker.usedSkills.extraDefense}}</span>
  </div>
  {{/if}} {{#if spTracker.usedSkills.extraHP}}
  <div class="ability resource-content">
    <label
      class="resource-label flexlarge align-left grid-span-3"
      data-label=""
    >
      <p class="desc-body">Used skills from extra HP</p>
    </label>
    <span>{{spTracker.usedSkills.extraHP}}</span>
  </div>
  {{/if}} {{#if spTracker.usedSkills.extraMP}}
  <div class="ability resource-content">
    <label
      class="resource-label flexlarge align-left grid-span-3"
      data-label=""
    >
      <p class="desc-body">Used skills from extra MP</p>
    </label>
    <span>{{spTracker.usedSkills.extraMP}}</span>
  </div>
  {{/if}} {{#if spTracker.usedSkills.initiativeBonus}}
  <div class="ability resource-content">
    <label
      class="resource-label flexlarge align-left grid-span-3"
      data-label=""
    >
      <p class="desc-body">Used skills from extra initiative bonus</p>
    </label>
    <span>{{spTracker.usedSkills.initiativeBonus}}</span>
  </div>
  {{/if}} {{#if spTracker.usedSkills.accuracyCheck}}
  <div class="ability resource-content">
    <label
      class="resource-label flexlarge align-left grid-span-3"
      data-label=""
    >
      <p class="desc-body">Used skills from extra accuracy check</p>
    </label>
    <span>{{spTracker.usedSkills.accuracyCheck}}</span>
  </div>
  {{/if}} {{#if spTracker.usedSkills.magicCheck}}
  <div class="ability resource-content">
    <label
      class="resource-label flexlarge align-left grid-span-3"
      data-label=""
    >
      <p class="desc-body">Used skills from extra magic check</p>
    </label>
    <span>{{spTracker.usedSkills.magicCheck}}</span>
  </div>
  {{/if}} {{#if spTracker.usedSkills.resistances}}
  <div class="ability resource-content">
    <label
      class="resource-label flexlarge align-left grid-span-3"
      data-label=""
    >
      <p class="desc-body">Used skills from resistances</p>
    </label>
    <span>{{spTracker.usedSkills.resistances}}</span>
  </div>
  {{/if}} {{#if spTracker.usedSkills.immunities}}
  <div class="ability resource-content">
    <label
      class="resource-label flexlarge align-left grid-span-3"
      data-label=""
    >
      <p class="desc-body">Used skills from immunities</p>
    </label>
    <span>{{spTracker.usedSkills.immunities}}</span>
  </div>
  {{/if}} {{#if spTracker.usedSkills.absorption}}
  <div class="ability resource-content">
    <label
      class="resource-label flexlarge align-left grid-span-3"
      data-label=""
    >
      <p class="desc-body">Used skills from absorption</p>
    </label>
    <span>{{spTracker.usedSkills.absorption}}</span>
  </div>
  {{/if}} {{#if spTracker.usedSkills.specialRules}}
  <div class="ability resource-content">
    <label
      class="resource-label flexlarge align-left grid-span-3"
      data-label=""
    >
      <p class="desc-body">Used skills from special rules</p>
    </label>
    <span>{{spTracker.usedSkills.specialRules}}</span>
  </div>
  {{/if}} {{#if spTracker.usedSkills.equipment}}
  <div class="ability resource-content">
    <label
      class="resource-label flexlarge align-left grid-span-3"
      data-label=""
    >
      <p class="desc-body">Used skills from equipment (?)</p>
    </label>
    <span>{{spTracker.usedSkills.equipment}}</span>
  </div>
  {{/if}}
  <!--End Used Skills-->
</div>
