<header class="items-main">Rituals</header>
<ol class="items-list">
	<ol class="items-list">
		<li class="item flexrow items-header">
			<div class="item-name">Name</div>
			<div class="item-mpcost">MP Cost</div>
			<div class="item-dlevel">Difficulty Level</div>
			<div class="item-clock">Clock</div>
			<div class="item-controls">
				<a class="item-control item-create" aria-describedby="tooltip" data-tooltip="{{localize 'FU.RitualCreate'}}" data-type="ritual">
					<i class="fas fa-plus icon"></i>
					{{localize 'FU.Add'}}
				</a>
			</div>
		</li>
		{{#each rituals as |item id|}}
		<li class="item" data-item-id="{{ item._id }}">
			<div class="flexrow">
				<div class="item-name">
					<div class="item-image">
						<a class="rollable" data-roll-type="item">
							<div class="item-image-wrap">
								<img src="{{ item.img }}" title="{{ item.name }}" class="item-image-res" />
							</div>
						</a>
					</div>
					<h4 class="click-item">
						<i class="fas fa-chevron-down" style="display: none"></i>
						<i class="fas fa-chevron-up" style="display: none"></i>
						{{ item.name }}
					</h4>
				</div>
				<div class="item-mpcost">{{ item.mpCost }}</div>
				<div class="item-dlevel">{{ item.dLevel }}</div>
				<div class="item-clock">
					<span>{{ item.clock }}</span>
				</div>
				{{> "systems/fabulaultima/templates/actor/parts/actor-control.html" item=item}}
			</div>
			<span>{{ item.quality }}</span>
			<div class="individual-description">{{#if item.system.description}} {{editor item.system.description target="item.system.description" rollData=rollData button=false owner=owner editable=false}} {{/if}}</div>
		</li>
		{{/each}}
	</ol>

	<!-- Project Header -->
	<header class="items-main-header">
		<span class="items-main">
			<label class="items-label">{{localize "FU.Projects"}}</label>
		</span>
		<!-- Zennit Header -->
		<span class="items-main zenit-container">
			<div class="zenit-content">
				<i class="fas fa-coin rollable ra-2x"></i>
				<label for="zenit-value" class="align-right zenit-text custom-input-style">
					<span>{{ system.resources.zenit.value }}z</span>
				</label>
			</div>
		</span>
	</header>
	<ol class="items-list">
		<li class="item flexrow items-header">
			<div class="item-name">Name</div>
			<div class="item-duration">Current Progress</div>
			<div class="item-days">Progress</div>
			<div class="item-days">Per Days</div>
			<div class="item-cost">Cost</div>
			<div class="item-controls">
				<a class="item-control item-create" aria-describedby="tooltip" data-tooltip="{{localize 'FU.ProjectCreate'}}" data-type="project">
					<i class="fas fa-plus icon"></i>
					{{localize 'FU.Add'}}
				</a>
			</div>
		</li>
		{{#each projects as |item id|}}
		<li class="item" data-item-id="{{ item._id }}">
			<div class="flexrow">
				<div class="item-name">
					<div class="item-image">
						<a class="rollable" data-roll-type="item">
							<div class="item-image-wrap">
								<img src="{{ item.img }}" title="{{ item.name }}" class="item-image-res" />
							</div>
						</a>
					</div>
					<h4 class="click-item">
						<i class="fas fa-chevron-down" style="display: none"></i>
						<i class="fas fa-chevron-up" style="display: none"></i>
						{{ item.name }}
					</h4>
				</div>
				<div class="item-duration">{{ item.system.progress.current }} / {{ item.system.progress.max }}</div>
				<div class="item-progressPerDays">{{ item.system.progressPerDay.value }}</div>
				<div class="item-days">{{ item.system.days.value }}</div>
				<div class="item-cost">
					<span>{{ item.system.cost.value }}z</span>
				</div>
				{{> "systems/fabulaultima/templates/actor/parts/actor-control.html" item=item}}
			</div>
			<span>{{ item.quality }}</span>
			<div class="individual-description">{{#if item.system.description}} {{editor item.system.description target="item.system.description" rollData=rollData button=false owner=owner editable=false}} {{/if}}</div>
		</li>
		{{/each}}
	</ol>
</ol>
