{{#if (eq actor.type "character")}}
<header class="items-main">{{localize 'FU.Limits'}}</header>
<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">{{localize 'FU.Name'}}</div>
    <div class="item-zero">{{localize 'FU.LimitTrigger'}}</div>
    <div class="item-zero">{{localize 'FU.LimitEffect'}}</div>
    <div class="item-clock">{{localize 'FU.Clock'}}</div>
    <div class="item-controls">
      <div class="item-controls">
        <a
          class="item-control item-create"
          title="{{localize 'FU.LimitCreate'}}"
          data-type="zeroPower"
        >
          <i class="fas fa-plus icon"></i>{{localize 'FU.Add'}}</a
        >
      </div>
    </div>
  </li>
  {{#each zeroPowers as |item id|}}
  <li class="item" data-item-id="{{ item._id }}">
    <div class="flexrow">
      <div class="item-name">
        <div class="item-image">
          <a class="rollable" data-roll-type="item"
            ><img
              src="{{ item.img }}"
              title="{{ item.name }}"
              width="24"
              height="24"
          /></a>
        </div>
        <h4 class="click-item">
          <i class="fas fa-chevron-down icon" style="display: none"></i>
          <i class="fas fa-chevron-up icon" style="display: none"></i>
          {{ item.name }}
        </h4>
      </div>
      <div class="item-zero">{{ item.zeroTrigger }}</div>
      <div class="item-zero">{{ item.zeroEffect }}</div>
      <div class="item-clock addable">
        <span data-resource="item.system.trigger.current">{{
          item.system.trigger.current
        }}</span>
        <span>/</span>
        <span>{{ item.system.trigger.max }}</span>
      </div>
      {{> "systems/fabulaultima/templates/actor/parts/actor-control.html"
      item=item}}
    </div>
    <div class="individual-description align-left">
      <div class="resource-label">{{ item.zeroTrigger }}</div>
      {{#if item.system.zeroTrigger.description}}
      {{editor
      item.system.zeroTrigger.description
      target="item.system.zeroTrigger.description" rollData=rollData
      button=false owner=owner editable=false}}
      {{/if}}
      <div class="resource-label">{{ item.zeroEffect }}</div>
      {{#if item.system.zeroEffect.description}}
      {{editor
      item.system.zeroEffect.description
      target="item.system.zeroEffect.description" rollData=rollData button=false
      owner=owner editable=false}}
      {{/if}}
    </div>
  </li>
  {{/each}}
</ol>
{{/if}}

<header class="items-main">{{localize 'FU.Spells'}}</header>
<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">{{localize 'FU.Name'}}</div>
    <div class="item-duration">{{localize 'FU.Duration'}}</div>
    <div class="item-target">{{localize 'FU.Target'}}</div>
    <div class="item-mpcost">{{localize 'FU.MindPointCost'}}</div>
    <div class="item-controls">
      <a
        class="item-control item-create"
        title="Create Spell"
        data-type="spell"
      >
        <i class="fas fa-plus icon"></i>{{localize 'FU.Add'}}
      </a>
    </div>
  </li>
  {{#each spells as |item id|}}
  <li class="item" data-item-id="{{ item._id }}">
    <div class="flexrow">
      <div class="item-name">
        <div class="item-image">
          <a class="rollable" data-roll-type="item">
            <div class="item-image-wrap">
              <img
                src="{{ item.img }}"
                title="{{ item.name }}"
                class="responsive-img"
              />
            </div>
          </a>
        </div>
        <h4 class="click-item">
          <i class="fas fa-chevron-down icon" style="display: none"></i>
          <i class="fas fa-chevron-up icon" style="display: none"></i>
          {{ item.name }} {{#if item.isOffensive}}
          <span class="is-martial">&#x1F5F2;</span>
          <!-- 🗲 -->
          {{/if}}
        </h4>
      </div>
      <div class="item-duration">{{ item.duration }}</div>
      <div class="item-target">{{ item.target }}</div>
      <div class="item-mpcost">
        <span>{{ item.mpCost }}</span>
      </div>
      {{> "systems/fabulaultima/templates/actor/parts/actor-control.html"
      item=item}}
    </div>
    <div class="individual-description align-left">
      {{#if item.system.description}}
      {{editor item.system.description
      target="item.system.description" rollData=rollData button=false
      owner=owner editable=false}}
      {{/if}}
    </div>
  </li>
  {{/each}}
</ol>

<header class="items-main">{{localize 'FU.Miscs'}}</header>
<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">{{localize 'FU.Name'}}</div>
    <div class="item-class">{{localize 'FU.ItemType'}}</div>
    <div class="item-controls">
      <a
        class="item-control item-create"
        aria-describedby="tooltip"
        data-tooltip="{{localize 'FU.MiscCreate'}}"
        data-type="miscAbility"
      >
        <i class="fas fa-plus icon"></i>
        {{localize 'FU.Add'}}
      </a>
    </div>
  </li>
  {{#each abilities as |item id|}}
  <li class="item" data-item-id="{{ item._id }}">
    <div class="flexrow">
      <div class="item-name">
        <div class="item-image">
          <a class="rollable" data-roll-type="item"
            ><img
              src="{{ item.img }}"
              aria-describedby="tooltip"
              data-tooltip="{{ item.name }}"
              width="24"
              height="24"
          /></a>
        </div>
        <h4 class="click-item">
          <i class="fas fa-chevron-down" style="display: none"></i>
          <i class="fas fa-chevron-up" style="display: none"></i>
          {{ item.name }}
        </h4>
      </div>
      <div class="item-class">
        <span>{{capitalize item.system.subtype.value}}</span>
      </div>
      {{> "systems/fabulaultima/templates/actor/parts/actor-control.html"
      item=item}}
    </div>
    <div class="individual-description align-left">
      {{#if item.system.description}}
      {{editor item.system.description
      target="item.system.description" rollData=rollData button=false
      owner=owner editable=false}}
      {{/if}}
    </div>
  </li>
  {{/each}}
</ol>
