<div class="tab flexcol {{tab.cssClass}}" data-group="primary" data-tab="behavior">
  <section class="desc flexgrow-1">
      <header class="items-main-header">
      <span class="items-main spin2win rollable" data-roll-type="behavior" data-action="roll">
        <i class="fas fa-dice-d20 ra-1x"></i>
        <label class="items-label">{{ localize "FU.Behavior" }}</label>
      </span>
      </header>
	  {{{activeBehaviorsTable}}}
	  {{{inactiveBehaviorsTable}}}
  </section>
</div>