{{!-- Pressure Template --}}
<div class="affinities desc">
	<div class="grid grid-10col">
		{{#if system.pressurePoints}}
			{{#each weaponCategories as |category|}}
				<div class="resource-content flex-group-center">
					<label data-tooltip="{{category}}">
						<i class="fu-icon--s {{pfuIconClass @key}} {{#unless (pfuCollectionContains @key ../system.pressurePoints.entries)}}fu-form__disabled{{/unless}}"></i>
					</label>
				</div>
			{{/each}}
		{{/if}}
	</div>
</div>