{{!-- Clock Template --}}
<fieldset class="section-container title-fieldset desc resource-content">
	<legend class="resource-label-m" aria-describedby="tooltip">
		<a class="item-create-dialog resource-inputs resource-label-m" data-tooltip="{{localize 'FU.ClockAdd'}}"
		   style="width: fit-content;" data-type="newClock">
			{{#if isOwner}}<i class="fas fa-plus icon"></i>{{/if}}{{localize 'FU.Clocks'}}
		</a>
	</legend>
	{{#each items as |item id|}}
		{{#if (and item.system.isFavored.value item.system.hasClock.value)}}
			{{progress item 'system.progress' displayName=true type='clockCounter' }}
		{{/if}}
	{{/each}}

	{{!-- Optional Feature Sections --}}
	{{#each optionalFeatures}}
		{{#each items }}
			{{#if (and item.system.isFavored.value item.system.data.hasClock.value)}}
				{{progress item 'system.data.progress' displayName=true type='featureCounter' }}
			{{/if}}
		{{/each}}
	{{/each}}
</fieldset>