<div class=" grid grid-3col" style="height: 100%;">
    {{>"systems/projectfu/templates/actor/partials/actor-derived-stats.hbs"}}
    <!-- FU Points -->
    {{#if showMetaCurrency}}
    <div class="header-end flex-group-center resource-content" style="align-self: baseline;">
        <a class="rollable" data-action="spendMetaCurrency">
            {{#if (eq actor.type "npc")}}
                <span class="resource-label-l">
                    <i class="fas fa-feather icon"></i>
                    {{localize 'FU.UltimaPoints'}}
                </span>
            {{/if}}
            {{#if (eq actor.type "character")}}
                <span class="resource-label-l">
                    <i class="fas fa-feather icon"></i>
                    {{localize 'FU.FabulaPoints'}}
                </span>
            {{/if}}
        </a>
        <div class="buttons-inc" style="display: flex; justify-content: center; align-items: center;">
            <input type="number" name="system.resources.fp.value" value="{{ system.resources.fp.value }}"
                data-dtype="Number" id="fp-input" class="fp-resource-inputs" style="text-align: center;" />
        </div>
    </div>
    {{/if}}
</div>