<div class="breakline-border resource-content">
	<div class="center-label rollable">
		<label class="section-title resource-label-xl"><i class="fa-solid fa-diamond"></i>{{ customLabel }}</label>
	</div>
</div>