{{!-- Pressure Template --}}
<div class="affinities">
	<div class="grid grid-10col">
		{{#if pressurePoints}}
			{{#each weaponCategories as |category|}}
				<div class="resource-content flex-group-center">
					<label class="fu-icon__container"
						   data-tooltip="{{localize category}} <br> {{#if (pfuCollectionContains @key ../pressurePoints.entries)}}{{localize 'FU.PressurePoint'}}{{/if}}">
						<i class="fu-icon--s {{pfuIconClass @key}} {{#unless (pfuCollectionContains @key ../pressurePoints.entries)}}fu-form__disabled{{/unless}}"></i>
					</label>
				</div>
			{{/each}}
		{{/if}}
	</div>
</div>