/* Increment/Decrement Buttons */
.buttons-inc {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-secondary;

  input.fp-resource-inputs,
  input.up-resource-inputs {
    color: $color-secondary;
    font-size: 28px;
    font-weight: bold;
    background-color: transparent;
    border-color: transparent;
    vertical-align: middle;
    height: auto;
  }

  &.roll-check {
    margin: 6px 0;
  }

  .increment-button,
  .decrement-button,
  .roll-check-option {
    color: $color-secondary;
    font-size: 22px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 40px;
    margin: 1%;
    visibility: hidden;

    &:hover {
      background-color: rgba(0, 128, 128, 0.1);
    }
  }

  &:hover .increment-button,
  &:hover .decrement-button,
  &:hover .roll-check-option {
    visibility: visible;
  }

  .roll-check-option {
    visibility: visible;
    width: 26px;
  }
}

/* Action Buttons */
.action-button {
  gap: 1px;
  width: 100%;
  height: 32px;
  appearance: none;
  border: none;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  white-space: normal;
  color: $color-primary;
  text-shadow: 1px 1px 1px $color-black;
  box-shadow: 3px 6px $color-secondary;
  border-radius: 8px;
  background-color: $color-secondary;
  background-image: linear-gradient($color-tabStyle-gradient);
  
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;

  &:active {
    transform: translateY(3px);
    box-shadow: 1px 2px $color-secondary;
  }

  &:focus {
    outline: none;
    box-shadow: 3px 6px $color-success;
  }
}

.zenit-style {
  flex: 0 0 150px;
  color: $color-primary;
  font-size: 17px;
  text-shadow: 1px 1px 1px $color-black;
  box-shadow: 3px 6px $color-secondary;
  border-radius: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: $color-secondary;
  background-image: linear-gradient($color-tabStyle-gradient);
  margin-right: 8px;
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;

    input,
    .zenit-text {
      font-size: 16px;
      font-weight: bold;
      text-shadow: 1px 1px 1px $color-black;
      background: transparent;
      color: $color-primary;
      height: inherit;
      background-color: transparent;
      border-color: transparent;
      text-align: right;
      max-width: 78%;
      padding: 0;
    }

  &:focus {
    outline: none;
    box-shadow: 3px 6px $color-info;
  }

}

.study-style {
  background-image: linear-gradient($color-tabStyle-gradient);
  color: $color-primary;
  flex: 0 0 90px;
  font-size: 16px;
  text-shadow: 1px 1px 1px $color-black;
  box-shadow: 3px 6px $color-secondary;
  border-radius: 8px;
  margin-right: 4px;
  padding: 0;
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;

    input,
   .study-text {
      font-size: 16px;
      font-weight: bold;
      text-shadow: 1px 1px 1px $color-black;
      background: transparent;
      color: $color-primary;
      height: inherit;
      background-color: transparent;
      border-color: transparent;
      text-align: right;
      max-width: 78%;
    }

  &:focus {
    outline: none;
    box-shadow: 3px 6px $color-info;
  }

}

.tab-style {
  color: $color-primary;
  font-size: 17px;
  text-shadow: 1px 1px 1px $color-black;
  box-shadow: 3px 6px $color-secondary;
  border-radius: 8px;
  margin-top: 12px;
  margin-bottom: 8px;
  background-color: $color-secondary;
  background-image: linear-gradient($color-tabStyle-gradient);
  margin-right: 8px;
  word-wrap: break-word;

  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;

  &.active {
    border: 1px solid darkslategrey;
    border-radius: 8px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    transform: translateY(1px);
  } 
  
  &:hover {
    transform: translateY(-1px);
    z-index: 1;
    text-shadow: $color-info;
  }

  &:active {
    transform: translateY(2px);
    box-shadow: 1px 2px $color-secondary;
  }

  &:focus {
    outline: none;
    box-shadow: 3px 6px $color-info;
  }
}

.slot-style {
  color: $color-primary;
  font-size: 18px;
  box-shadow: 3px 6px $color-secondary;
  border-radius: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: $color-secondary;
  background-image: linear-gradient($color-tabStyle-gradient);
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;

  &:active {
    transform: translateY(3px);
    box-shadow: 1px 2px $color-secondary;
  }

  &:focus {
    outline: none;
    box-shadow: 3px 6px $color-success;
  }
}

.item-control {
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 13px;
  }
}

.item-equip {
  $size-outline: 2px; 
  $color-outline: #000;
  $color-text-shadow: #333;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 24px
  }

  &:before {
    z-index: -1;
    text-shadow: $size-outline $size-outline 1px $color-outline;
  }
}

.item-create-bond {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
  height: 1em;
  width: 3em;

  i {
    border-radius: 20%;
    font-size: 16px;
    margin-right: 1em;
  }
}

label.elite {
  line-height: 0;
  font-size: 14px;
}