/* ----------------------------------------- */
/* Divider Styles                       
/* ----------------------------------------- */
.breakline-border {
	position: relative;
	width: 100%;
	height: 3px;
	background-image: linear-gradient(to left, transparent, $color-secondary 50%, transparent);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.center-label {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $color-secondary;
}
