/* ----------------------------------------- */
/* Effect Styles                       
/* ----------------------------------------- */
.effects .item {
	.effect-name {
		border-bottom: none;
		text-align: left;
		justify-content: left;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.effect-source,
	.effect-duration,
	.effect-controls {
		border-bottom: none;
		text-align: center;
		justify-content: center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		font-weight: bold;
	}

	.effect-controls {
		border: none;
	}
}
