/* ----------------------------------------- */
/*  Items Header                             */
/* ----------------------------------------- */

.individual-description {
  display: none;

  .editor {
    height: fit-content;
    min-height: fit-content;
    padding: 0 1px;
  }
}

.items-header>* {
  font-size: 14px;
  background: linear-gradient($color-tabStyle-gradient);
  border-radius: 4px;
  box-shadow: 2px 4px $color-secondary;
  text-align: center;
}

.items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
  align-items: center;
}

.items-main-header {
  height: 34px;
  margin: 5px 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .items-levels {
    height: inherit;
    width: 100px;
    font-weight: bold;
    color: Ivory;
    font-size: 22px;
    box-shadow: 2px 5px $color-secondary;
    border: thin solid $color-shadow-inverted;
    background: linear-gradient($color-tabStyle-gradient);
    border-radius: 30px 8px 0px 4px;
    text-align: right;
  }
}

/* ----------------------------------------- */
/*  Items Main                              */
/* ----------------------------------------- */

.items-main {
  height: inherit;
  width: 180px;
  font-weight: bold;
  text-shadow: 1px 1px 1px $color-black;
  color: $color-primary;
  font-size: 24px;
  box-shadow: 3px 6px $color-secondary;
  border: thin $color-shadow-inverted;
  background: linear-gradient($color-tabStyle-gradient);
  border-radius: 8px 30px 4px 0px;
  padding: 5px 0 0 5px;

  &.items-label {
    margin: 5em;
  }

  &.zenit-container {
    width: 10.5em;
    border-radius: 40px 8px 0px 4px;
    font-size: 14px;
    box-sizing: border-box;
    white-space: normal;
    text-overflow: ellipsis;
    padding: 4px 4px 0px 0;

    .zenit-content {
      white-space: nowrap;
      max-width: 100%;
      margin-left: 10px;

      .fas:hover {
        color: blanchedalmond;
        cursor: pointer;
      }

      input,
      .zenit-text {
        font-size: 16px;
        font-weight: bold;
        text-shadow: 1px 1px 1px $color-black;
        background: transparent;
        color: $color-primary;
        height: inherit;
        background-color: transparent;
        border-color: transparent;
        vertical-align: middle;
        text-align: right;
        margin: 5px 0 10px;
        max-width: 68%;
      }
    }
  }

  &.sl {
    border-radius: 30px 8px 0px 4px;
    text-align: right;
    width: 5em;

    .fas:hover {
      color: blanchedalmond;
      cursor: pointer;
    }

    input {
      font-size: 16px;
      font-weight: bold;
      background: transparent;
      color: $color-primary;
      height: inherit;
      background-color: transparent;
      border: none;
      /* Use 'border' to remove borders */
      vertical-align: middle;
    }
  }

  .total-class-levels {
    margin-right: 5px;
  }

  &.armor-hand,
  &.acc-hand {
    width: 10.5em;
    border-radius: 40px 8px 0px 4px;
    font-size: 14px;
    box-sizing: border-box;
    white-space: normal;
    text-overflow: ellipsis;
    padding: 4px 4px 0px 0;

    .equipped-item {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      margin-left: 10px;
    }
  }

  &.left-hand {
    height: inherit;
    width: 11em;
    border-radius: 0 0 4px 40px;
    font-size: 14px;
    white-space: normal;
    padding: 5px;
    margin: 0;

    .equipped-item {
      position: relative;
      display: flex;
      align-items: center;
      white-space: nowrap;
      justify-content: flex-end;
    }

    .equipped-item-content {
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 79%;
      margin-left: 10px;
    }
  }

  &.right-hand {
    height: inherit;
    width: 11em;
    border-radius: 0 0 40px 0px;
    font-size: 14px;
    white-space: normal;
    padding: 5px;
    margin: 0;

    .equipped-item {
      position: relative;
      display: flex;
      align-items: center;
      /* Vertically center the icon and text */
      white-space: nowrap;
      /* Prevent text from wrapping */
    }

    .equipped-item-content {
      text-overflow: ellipsis;
      /* Show ellipsis for overflowing text */
      overflow: hidden;
      /* Hide overflowing text */
      max-width: 70%;
      margin: 0 2px;
    }
  }
}

.icon-letter {
  position: sticky;
  background-color: $color-secondary;
  color: #fff;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 12px;
  margin: 0 3px;
}

/* ----------------------------------------- */
/*  Fixes                                    */
/* ----------------------------------------- */
/* Responsive Image */
.item-image-wrap {
  height: 24px;
  width: 24px;
  overflow: hidden;
}

.item-image-res {
  max-width: 100%;
  height: auto;
  display: block;
}

/* ----------------------------------------- */
/*  Items Lists                              */
/* ----------------------------------------- */

.items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: visible;
  scrollbar-width: thin;
  color: #444;
}

.items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  text-align: left;
  display: flex;
  align-items: center;
}

.items-list .item-name h3,
.items-list .item-name h4 {
  margin: 0;
  white-space: normal;
  overflow: hidden;
  text-overflow: clip;
  transition: white-space 0.3s ease;
  flex: 1;
}

.items-list .item-controls {
  display: flex;
  flex: 0 0 78px;
  justify-content: flex-end;
  align-items: inherit;
}

.items-list .item-controls a {
  font-size: 14px;
  text-align: center;
  margin: 0 3px;
}

.items-list .item {
  align-items: center;
  padding: 1px;
  transition:
    background-color 0.5s ease,
    border-color 0.5s ease,
    border-radius 0.5s ease,
    color 0.5s ease;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 5px;
  color: $color-secondary;

  .item-name {
    color: $color-secondary;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-color: $color-secondary;
    color: darken($color-secondary, 20%);
  }
}

.items-list .item .item-name .item-image {
  border: none;
  margin-right: 5px;
  flex: 0 0 auto;
}

.items-list .items-header {
  margin: 10px 2px;
  align-items: center;
  border: transparent;
  background-color: transparent;
}

.items-list .items-header>* {
  font-size: 14px;
  text-align: center;
  color: ivory;
  text-shadow: 1px 1px 1px $color-black;
}

.items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
  color: ivory;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(2px);
    /* Adjust the downward distance as needed */
  }

  100% {
    transform: translateY(0);
  }
}

.is-martial {
  color: red !important;

  &.float-text {
    display: inline-block;
    animation: floating 3s infinite ease-in-out;
  }
}



.item-formula {
  flex: 0 0 200px;
}

.item-def,
.item-mdef,
.item-init,
.item-equipped,
.item-mpcost,
.item-ip-cost,
.item-cost,
.item-progressPerDays,
.item-days,
.item-level,
.item-clock {
  flex: 0 0 63px;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  span {
    font-size: 16px;
    transform: skew(-15deg);
  }
}

.item-sl {
  flex: 0 0 130px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .item-sl-stars {
    height: 32px;
    width: 32px;
  }
}

.item-progress,
.item-progressPerDay,
.item-attack,
.item-target,
.item-damage,
.item-dlevel {
  flex: 0 0 120px;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-class,
.item-target,
.item-duration,
.item-zero {
  flex: 0 0 100px;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-attack,
.item-class,
.item-damage {
  font-weight: bold;
}

span[data-tooltip] {
  display: inline-block;
}