/* ----------------------------------------- */
/* Resources Styles                       
/* ----------------------------------------- */
/* Non-breaking space after icon */
.icon::after {
	content: '\00a0';
}

/* Section Header Title */
.title-fieldset {
	border-radius: 10px;

	legend {
		display: flex;
		border-radius: 10px;
		margin: 0 auto;
		padding: 2px 10px;
		background: $color-secondary;
		color: $color-primary;
		position: relative;
		text-align: center;
		width: auto;
		border: 0.01em solid #148782;
	}
}

/* Resource Content Styles */
.resource-content {
	color: $color-secondary;
	background-color: transparent;

	.resource-label-sm {
		&.summary {
			margin: 0 0.5em;
		}
	}

	/* Style for Inputs */
	.resource-inputs {
		color: $color-primary;
		background-color: $color-secondary;
		border: thin solid $color-secondary;
		width: 4em;
		height: auto;
		padding: 0;
		justify-content: center;
		text-align: center;
		border-color: $color-secondary;
		border-radius: 5px;

		input {
			height: 2em;
			text-decoration-line: underline;
		}

		option {
			background-color: $color-secondary;
			color: $color-primary;
		}

		input.charname-resource-inputs {
			color: $color-primary;
			background-color: transparent;
			border: transparent;
		}

		&.bonus {
			width: calc(100% - 2px);
		}

		&.summary {
			width: 100%;
			margin: 2px 0;
			text-align: left;
			background-color: transparent;
			border: transparent;
			color: $color-ternary;

			blockquote {
				padding: 0;
			}
		}

		&.select-dropdown {
			background-size: 16px 16px;
			width: 4em;
			padding: 0;
		}

		&.select-dropdown-m {
			background-size: 16px 16px;
			width: 7em;
		}

		&.select-dropdown-l {
			background-size: 16px 16px;
			width: 10em;
		}

		&.select-dropdown-xl {
			background-size: 16px 16px;
			width: 20em;
		}

		&.select-dropdown-full {
			background-size: 16px 16px;
			width: 100%;
		}
	}

	/* Fabula/Ultima Point Input Text */
	input.fp-resource-inputs,
	input.up-resource-inputs {
		color: $color-secondary;
		font-size: 32px;
		font-weight: bold;
		background-color: transparent;
		border-color: transparent;
	}

	// Style for Traits Section
	input.traitdesc {
		color: $color-primary;
		background-color: $color-secondary;
		border: $color-secondary 1px solid;
		border-radius: 0 10px 0 0;
		flex: 4;
	}

	&.traits {
		margin: 0 5px;

		input {
			color: $color-primary;
			background-color: $color-secondary;
			border: thin solid $color-secondary;
			height: 22px;
			width: 100%;
			border-radius: 5px;
		}
		&.compact {
			flex-grow: 1;
		}
	}

	/*  Sidebar Section Style */
	&.levelup-container {
		border: none;

		& input.resource-inputs-charname {
			color: $color-primary;
			background-color: $color-secondary;
			margin: 1px;
		}

		& .resource-inputs {
			width: 100%;
			padding: 0;
		}

		& .side-bar {
			width: 85%;
		}

		&.creature {
			padding: 0;
			border-radius: 10px;
			background: none;

			.resource-inputs {
				color: $color-primary;
				background-color: $color-secondary;
				width: 3.5em;
				padding: 0;
				justify-content: center;
				text-align: center;

				border-radius: 5px;
			}
		}

		.combineBar {
			background: $color-secondary;
			border-radius: 0px;
			width: 100%;
			align-items: center;
		}
	}

	& .villain-field {
		margin-bottom: 6px !important;
		border-radius: 0 0 0 14px;
		width: 100%;
		border: 0.125em solid #c7c7c7;
	}

	&.level-field {
		background: linear-gradient(#{$color-transparent-gradient});
	}
}

/* Style for Bonds Section */
.bonds {
	margin: 0 5px;
	row-gap: 5px;
	column-gap: 2px;

	.resource-inputs {
		color: $color-primary;
		background-color: $color-secondary;
		border: thin solid $color-secondary;
		width: 100%;
		justify-content: center;
		text-align: center;
		height: 24px;
		border-radius: 5px;

		option {
			background-color: $color-secondary;
			color: $color-primary;
		}

		&.select-bonds {
			background-size: 16px 16px;
			height: auto;
			margin: 3px;
		}
	}
}

.bond-strength {
	color: #ffffff;
	background-color: $color-secondary;
	border: thin solid $color-secondary;
	text-align: center;
	border-radius: 5px;
	padding: 0 0.5rem;
	height: fit-content;
}

.npc-level-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	> label {
		padding: 2px;
		border-radius: initial !important;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid rgba(44, 74, 66, 0.3294117647);
		width: 100%;
		justify-content: center;

		background: url(../static/ui/Bkg_highres.png), linear-gradient(to right, #f5f5dc, #c9c7b8);
		background-blend-mode: multiply;
		background-repeat: repeat-y;
		background-position: right top;
		border: 1px solid #6f6c66;
		background-size: cover;
	}

	.level-input {
		width: 100%;
		border-radius: 0 12px 0 0;
	}

	.rank-select,
	.champion-input {
		border-radius: 0;
	}
	.champion-input {
		display: inline-flex;

		* {
			width: 0;
			flex: 0;
		}

		input {
			width: min-content;
		}

		&::before,
		&::after {
			font-size: 120%;
		}

		&::before {
			content: '(';
		}
		&::after {
			content: ')';
		}
	}
}
