<a style='margin: 4px;'
   data-action='openCompendium'
   data-tab="{{tab}}"
   data-text="{{text}}"
   data-tooltip="{{localize 'FU.CompendiumBrowserOpen'}}">
	<i class="fu-icon--s {{pfuIconClass 'compendium'}}"></i>
</a>