<div class='fu-icon__container flex-group-center' data-tooltip="{{localize label}}">
	<div class='fu-icon__badge'>
		<i class='fu-icon--s {{icon}}'></i>
		{{#if die}}
			<span class="fu-icon__badge-overlay">{{die}}</span>
		{{/if}}
	</div>
	{{#unless compact}}
		{{localize label}}
	{{/unless}}
</div>