/* ----------------------------------------- */
/* Settings Form Styles                       
/* ----------------------------------------- */
form.settings-form {
	input.mats-icon-picker {
		flex: 0.3;

		+ .mats-o {
			overflow: hidden;
		}
	}
}
