<!-- override ClassFeatureDataModel.expandTemplate to supply your own template -->
<div class="flexcol resource-content gap-2 mb-3">
    <label class="resource-label-m">{{localize 'FU.ClassFeatureArcanumMerge'}}</label>
    <div class="description-effect">{{{additionalData.enrichedMerge}}}</div>
    
    <label class="resource-label-m">{{localize 'FU.ClassFeatureArcanumDismiss'}}</label>
    <div class="description-effect">{{{additionalData.enrichedDismiss}}}</div>
</div>
