<div class="item-full start gap-2 resource-content">
    <span><strong>{{localize 'FU.ClassFeatureArcanumDomains'}}: </strong></span>
    <span class="description-effect">{{system.data.domains}}</span>
</div>