<label class="fu-rule-element__property">
	<span>{{localize 'FU.Effect'}}</span>
	<input
	 type="text"
	 name="{{pfuConcat path ".effect"}}"
	 value="{{action.effect}}"
	 placeholder="e.g. Item.XYZ123.ActiveEffect.ABC123"
	/>
</label>