<label class="fu-rule-element__property">
	<span>{{localize 'FU.Mode'}}</span>
	<select name="{{pfuConcat path ".mode"}}">
		{{selectOptions options.changeSetMode selected=action.mode sort=true localize=true}}
	</select>
</label>

{{pfuTraits action.traits (pfuConcat path '.traits')}}
