<label class="fu-rule-element__property">
	<span>{{localize 'FU.Message'}}</span>
</label>
<div class="fu-rule-element__editor">
	<prose-mirror name={{pfuConcat path ".message"}} value="{{action.message}}" toggled>
		{{{action.enrichedMessage}}}
	</prose-mirror>
</div>
