<label class="fu-rule-element__property">
	<span>{{localize 'FU.Application'}}</span>
	{{formGroup action.schema.fields.application value=action.application name=(pfuConcat path ".application")}}
</label>