<div class="item-image">
	<div class="effect-roll rollable effect-icon-wrapper" data-action="rollEffect" data-tooltip="{{ effect.name }}">
		<img class="cell-effect-name__image" src="{{ img }}" />
		{{#if progress.enabled}}
			<div class="effect-icon-label">{{progress.current}}</div>
		{{/if}}
	</div>
</div>