<div class="form-group">
    <label class="resource-label-m flexlarge">{{localize 'FU.EffectType'}}</label>
    <select name="system.type" class="resource-inputs select-dropdown-m">
        {{selectOptions effectType selected=system.type sort=true localize=true}}
    </select>
</div>