<div class="item-image">
	<div class="effect-roll rollable effect-icon-wrapper" data-action="rollEffect" data-tooltip="{{ effect.name }}">
		<img class="effect-icon-image" src="{{ effect.img }}" />
		{{#if effect.system.rules.progress.enabled}}
			<div class="effect-icon-label">{{effect.system.rules.progress.current}}</div>
		{{/if}}
	</div>
</div>