<nav class="navigation tabs" data-action="tab">
    <label>{{localize 'FU.Tabs'}}:</label>
    <a class="button active" data-tab="description" data-group="main">{{localize 'FU.Description'}}</a>
    <a class="button" data-tab="attributes" data-group="main">{{localize 'FU.Attributes'}}</a>
    <a class="button" data-tab="effects" data-group="main">{{localize 'FU.Effects'}}</a>
</nav>