<div class="item-full start gap-2 resource-content">
    <span>{{localize 'FU.ClassFeatureGadgetsRank'}}:</span>
    <span class='description-effect bold'>{{localize (lookup additionalData.ranks system.data.rank)}}</span>
    {{#if system.summary.value}}
        <span>⬥</span>
        <span>{{system.summary.value}}</span>
    {{/if}}
</div>