<div class="header-effect-controls">
	<a aria-describedby="tooltip"
	   data-tooltip="{{localize "FU.EffectCreate"}}"
	   data-action="createEffect"
	   data-effect-type="{{type}}">
		<i class="fas fa-plus icon"></i>{{localize "FU.Add"}}
	</a>
</div>
