<div class="header-item-controls">
	<a aria-describedby="tooltip"
	   data-tooltip="{{localize "FU.Create"}} {{localize "FU.Equipment"}}"
	   data-action="{{action}}">
		<i class="fas fa-plus icon"></i>{{localize "FU.Add"}}
	</a>
</div>
