<div class="bar-container">
    <div class="resource-value">
        <div class="resource-text" data-tooltip="ZP: {{ this.zeropower.progress.current }}/ {{ this.zeropower.progress.max }}">
            <span>ZP</span>
            <span>{{ this.zeropower.progress.current }}</span>
        </div>
    </div>
</div>