<div class="bar-container">
    <div class="bar-label label-zeropower">
        <span>{{ localize "FU.ZeroPowerAbbr" }}</span>
    </div>
    <div class="bar bar-progress diag">
        <div class="bar-progress-bar diag bar-zeropower"
            style="width: {{calculatePercentage this.zeropower.progress.current this.zeropower.progress.max}};">
        </div>
        <span class="bar-value"></span>
    </div>
    <div class="resource-value">
        {{#if (eq this.zeropower.progress.current this.zeropower.progress.max)}}
        <div class="resource-text full">
        {{else}}
        <div class="resource-text">
        {{/if}}
            <span>{{ this.zeropower.progress.current }}</span>
        </div>
    </div>
</div>