<div class="bar-container">
    <div class="resource-value">
        <div class="resource-text" data-tooltip="{{localize 'FU.ZenitAbbr'}}: {{ this.actor.system.resources.zenit.value }}">
            {{{ formatResource this.actor.system.resources.zenit.value this.actor.system.resources.zenit.value "&nbsp;Z" }}}
        </div>
    </div>
</div>