<div class="bar-container">
    <div class="bar-label label-ip">
        <span style="padding-left: 5px;">{{ localize "FU.InventoryAbbr" }}</span>
    </div>
    <div class="bar bar-progress diag">
        <div class="bar-progress-bar diag bar-ip"
            style="width: {{pfuPercentage this.actor.system.resources.ip.value this.actor.system.resources.ip.max}};">
        </div>
        <span class="bar-value"></span>
    </div>
    <div class="resource-value">
        {{#if (eq this.actor.system.resources.ip.value this.actor.system.resources.ip.max)}}
        <div class="resource-text full">
        {{else}}
        <div class="resource-text">
        {{/if}}
            <span>{{ this.actor.system.resources.ip.value }}</span>
        </div>
    </div>
</div>