<div class="bar-container">
    <div class="resource-value">
        <div class="resource-text"
            data-tooltip="{{localize 'FU.ExpAbbr'}}: {{ this.actor.system.resources.exp.value }} / 10">
            {{{ formatResource (clamp this.actor.system.resources.exp.value 0 999) 10 "XP" }}}
        </div>
    </div>
</div>