<div class="bar-container">
    <div class="bar bar-progress" data-tooltip="{{localize 'FU.Exp'}}">
        <div class="bar-progress-bar bar-level"
            style="width: {{calculatePercentage this.actor.system.resources.exp.value 10}};">
        </div>
        <span class="bar-value"></span>

        <div class="resource-value-compact">
            <div class="resource-text">
                <span>{{ this.actor.system.resources.exp.value }} / 10 </span>
            </div>
        </div>
    </div>
    <div class="resource-value">
        <i class="fas fa-feather-pointed icon icon" style="font-size: 1.15rem;"></i>
        <div class="resource-text">
            <span>{{ this.actor.system.resources.exp.value }} /  10 </span>
        </div>
    </div>
</div>