<div class="bar-container resource-no-bar resource-zenit">
  <div class="resource-value">
    <div class="resource-text">
      <span>{{this.actor.system.resources.zenit.value}}</span>
    </div>
  </div>
  <div class="resource-value-compact">
        <div class="resource-text">
            <span>{{ this.actor.system.resources.exp.value }} XP</span>
        </div>
  </div>
</div>