<div class="bar-container">
  <div class="resource-value-compact" style="width:100%">
    <div class="resource-text" style="width:100%">
      <div style="width:50%;display:inline-block;text-align:right">
        <i class="fas fa-feather icon"></i>
      </div>
      <span>{{this.actor.system.resources.fp.value}}</span>
    </div>
  </div>
</div>