<div class="bar-container" style="justify-content:left">
    <div class="bar-label label-zenit">
        <span style="padding-left:5px">{{ localize "FU.ZenitAbbr" }}</span>
    </div>
    <div class="resource-value-compact" style="width: 100%; justify-content: left">
        <div class="resource-text">
          <span>{{ this.actor.system.resources.zenit.value }}</span>
        </div>
    </div>
</div>