<div class="bar-container">
    <div class="bar-label label-ip">
        <span>{{ localize "FU.InventoryAbbr" }}</span>
    </div>
    <div class="bar bar-progress">
        <div class="bar-progress-bar bar-ip"
            style="width: {{calculatePercentage this.actor.system.resources.ip.value this.actor.system.resources.ip.max}};">
        </div>
        <span class="bar-value"></span>
    </div>
    <div class="resource-value">
        {{#if (eq this.actor.system.resources.ip.value this.actor.system.resources.ip.max)}}
        <div class="resource-text full">
        {{else}}
        <div class="resource-text">
        {{/if}}
            <span>{{ this.actor.system.resources.ip.value }}</span>
        </div>
    </div>
</div>