<div class="bar-container resource-no-bar resource-fp">
  <div class="resource-value">
    <div class="resource-text">
      <span>{{this.actor.system.resources.fp.value}}</span>
    </div>
  </div>
  <div class="resource-value-compact">
      <div class="resource-text">
          <span>{{ this.actor.system.resources.fp.value }} FP</span>
      </div>
  </div>
</div>