<div class="bar-container">
    <div class="resource-value">
        <div class="resource-text" data-tooltip="{{localize 'FU.ZeroPowerAbbr'}}: {{ this.zeropower.progress.current }}/ {{ this.zeropower.progress.max }}">
            {{{ formatResource (clamp this.zeropower.progress.current 0 999) this.zeropower.progress.max "ZP" }}}
        </div>
    </div>
</div>
