<div class="bar-container">
  <div class="resource-value-compact" style="width:100%">
    <div class="resource-text" style="width:100%">
      <span style="width:50%"><i class="fuk fu-zenit icon-aff"></i></span>
      <span>{{this.actor.system.resources.zenit.value}}</span>
    </div>
  </div>
</div>