<div class="projectfu document-carousel">
	<div class="carousel-track">
		{{#each documents}}
			<figure class="carousel-item">
				<img src="{{img}}" alt="{{name}}">
				<figcaption>{{name}}</figcaption>
			</figure>
		{{/each}}
	</div>
</div>
