<form class="{{cssClass}} {{actor.type}} backgroundstyle fabulaultima-actor-sheet" autocomplete="off">
  <!-- Start Sheet Header -->
  <header class="sheet-header">
    <div class="combine-header">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
      <div class="header-fields">
        <div class="header-center grid grid-6col">
          <h1 class="charname grid-span-4 flex-between">
            <input name="name" type="text" value="{{actor.name}}" placeholder="Name"
              class="resource-input-charname auto-shrink" />
          </h1>

          <!-- Level -->
          <span class="resource-content levelup-container flex-group-center">
            <label class="resource-label-sm">
              <i class="fa-solid fa-chart-simple icon"></i>{{localize
              'FU.LevelAbbr'}}
            </label>
            <input type="number" name="system.level.value" value="{{system.level.value}}" data-dtype="Number"
              class="resource-input" />
          </span>

          <!-- Rank -->
          <span class="resource-content levelup-container flex-group-center">
            <label class="resource-label-sm" data-tooltip="Champion Rank" aria-describedby="tooltip">
              <i class="fa-solid fa-feather-pointed icon"></i>{{localize 'FU.Rank'}}
            </label>
            <span class="flexrow combineBar">
              <input type="number" name="system.isChampion.value" value="{{system.isChampion.value}}" data-dtype="Number"
                class="resource-input" {{#if system.isCompanion.value}} disabled {{/if}} />
              <span>
                <input type="checkbox" id="isEliteCheckbox" class="style-checkbox"
                  data-tooltip="{{localize 'FU.isElite'}}" name="system.isElite.value" {{#if system.isCompanion.value}}
                  disabled {{/if}} {{checked system.isElite.value}} />
              </span>
            </span>
          </span>

        </div>

        <!-- Point Bars -->
        <div class="grid grid-3col">
          <!-- HP -->
          <div class="resource flex-group-center">
            <div class="grid grid-2col" style="padding: 0 3px;">
              <label
                  class="resource-label align-left grid-span-1"
                  data-tooltip="{{localize 'FU.HealthPoints'}}"
                  aria-describedby="tooltip"
                >
                <span class="resource-label">
                  {{#if (lte system.resources.hp.value (half
                  system.resources.hp.max))}}
                  <i class="fa-solid fa-heart-crack"></i>
                  {{else}}
                  <i class="fa-solid fa-heart"></i>
                  {{/if}}{{localize 'FU.HealthAbbr'}}
                </span>
              </label>

              <span class="resource-label grid-start-2 align-right">
                {{half system.resources.hp.max}} <i class="fa-solid fa-heart-crack"></i>
              </span>
            </div>
            <div class="bar bar-progress">
              <div class="bar-progress-bar bar-hp" style="width: 100%"></div>
              <span class="bar-value"></span>
            </div>
            <div
              class="resource-content flexrow flex-center flex-between align-center"
            >
              <input
                class="resource-current-input bar-start"
                type="number"
                name="system.resources.hp.value"
                value="{{system.resources.hp.value}}"
                data-dtype="Number"
              />
              <span
                class="resource-middle-input bar-middle"
                data-tooltip="{{localize 'FU.HealthPoints'}}<br>Current: {{system.resources.hp.value}}<br>Crisis: {{half system.resources.hp.max}}
              <br>Bonus: {{system.resources.hp.bonus}} <br>Max: {{system.resources.hp.max}}"
                aria-describedby="tooltip"
              >
              {{#if (lte system.resources.hp.value (half
                system.resources.hp.max))}}
                <i class="fa-solid fa-caret-up is-martial"></i>
                {{else}}
                <i class="fa-solid fa-caret-up"></i>
              {{/if}}
              </span>
              <input
                class="resource-max-input bar-end"
                type="number"
                name="system.resources.hp.max"
                value="{{system.resources.hp.max}}"
                data-dtype="Number"
                disabled="{{system.resources.hp.max}}"
              />
            </div>
          </div>

          <!-- MP -->
          <div class="resource flex-group-center">
            <div class="grid grid-2col" style="padding: 0 3px;">
            <label
              class="resource-label align-left "
              data-tooltip="Mind Points"
              aria-describedby="tooltip"
            >
              <span class="resource-label">
                <i class="fa-solid fa-wand-magic-sparkles icon"></i>{{localize
                'FU.MindAbbr'}}
              </span>
            </label>
          </div>
            <div class="bar bar-progress">
              <div class="bar-progress-bar bar-mp" style="width: 100%"></div>
              <span class="bar-value"></span>
            </div>
            <div
              class="resource-content flexrow flex-center flex-between align-center"
            >
              <input
                class="resource-current-input bar-start"
                type="number"
                name="system.resources.mp.value"
                value="{{system.resources.mp.value}}"
                data-dtype="Number"
                class="resource-input bar-start"
              />
              <span
                class="resource-middle-input bar-middle"
                data-tooltip="{{localize 'FU.MindPoints'}}<br>Current: {{system.resources.mp.value}}<br>Bonus: {{system.resources.mp.bonus}} <br>Max: {{system.resources.mp.max}}"
                aria-describedby="tooltip"
              >
                <i class="fa-solid fa-caret-up"></i>
              </span>
              <input
                class="resource-max-input bar-end"
                type="number"
                name="system.resources.mp.max"
                value="{{system.resources.mp.max}}"
                data-dtype="Number"
                disabled="{{system.resources.mp.max}}"
              />
            </div>
          </div>

          <!-- Creature Rank -->
          <div class="resource-content levelup-container creature flex-group-center">
            <label class="resource-label" data-tooltip="Species Type" aria-describedby="tooltip">
              <div class="resource-label">
                <i class="fa-solid fa-chart-simple icon"></i>{{localize 'FU.Creature'}}
              </div>
            </label>
            <div class="resource-content flexrow flex-center flex-between buttons-inc combineBar">
              <select value="{{system.species.value}}" name="system.species.value"
                class="resource-input creature-input">
                {{#select system.species.value}}
                {{#if system.isCompanion.value}}
                <!-- Altered options for companions -->
                <option value="beast">{{localize 'FU.Beast'}}</option>
                <option value="construct">{{localize 'FU.Construct'}}</option>
                <option value="elemental">{{localize 'FU.Elemental'}}</option>
                <option value="plant">{{localize 'FU.Plant'}}</option>
                <option value="custom">{{localize 'FU.Custom'}}</option>
                {{else}}
                <!-- Default options for non-companions -->
                <option value="beast">{{localize 'FU.Beast'}}</option>
                <option value="construct">{{localize 'FU.Construct'}}</option>
                <option value="demon">{{localize 'FU.Demon'}}</option>
                <option value="elemental">{{localize 'FU.Elemental'}}</option>
                <option value="monster">{{localize 'FU.Monster'}}</option>
                <option value="plant">{{localize 'FU.Plant'}}</option>
                <option value="undead">{{localize 'FU.Undead'}}</option>
                <option value="humanoid">{{localize 'FU.Humanoid'}}</option>
                <option value="custom">{{localize 'FU.Custom'}}</option>
                {{/if}}
                {{/select}}
              </select>
              <span class="resource-input" style="flex: 0; margin: 0">
                <input type="checkbox" id="isCompanionCheckbox" class="style-checkbox"
                  data-tooltip="{{localize 'FU.isCompanion'}}" name="system.isCompanion.value" {{checked
                  system.isCompanion.value}} />
              </span>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Start Extra Section -->
    <div class="grid grid-4col" style="align-items: baseline">

      <!-- Ultima Points -->
      <div class="resource-content flex-group-center">
        <label>
          <span class="resource-label">
            <i class="fa-solid fa-crystal-ball icon"></i>{{localize 'FU.UltimaPoints'}}
          </span>
        </label>
        <div class="buttons-inc">
          <button class="decrement-button" data-resource="fp" data-action="decrease">
            <i class="fas fa-minus"></i>
          </button>
          <input
            type="number"
            name="system.resources.fp.value"
            value="{{system.resources.fp.value}}"
            data-dtype="Number"
            id="fp-input"
            class="fp-resource-input"
          />
          <button class="increment-button" data-resource="fp" data-action="increase">
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>


      <!-- DEF -->
      <div class="resource flex-group-center">
        <label class="resource-label rollable roll-init" data-label="{{localize 'FU.Defense'}}" data-type="def"></label>
        <span class="rollable resource-label">
          <i class="fa-solid fa-shield icon"></i>{{localize 'FU.DefenseAbbr'}}
        </span>
        <div class="resource-content flex-center">
          <input class="resource-input" id="def-input" type="number" name="system.derived.def.value"
            value="{{system.derived.def.value}}" data-dtype="Number"
            data-tooltip="{{localize 'FU.Defense'}}<br>Current: {{system.derived.def.value}}<br>Bonus: {{system.derived.def.bonus}}"
            aria-describedby="tooltip" disabled />
        </div>
      </div>

      <!-- MDEF -->
      <div class="resource flex-group-center">
        <label class="resource-label rollable roll-init" data-label="{{localize 'FU.MagicDefense'}}"
          data-type="mdef"></label>
        <span class="rollable resource-label">
          <i class="fa-solid fa-shield-halved icon"></i>{{localize
          'FU.MagicDefenseAbbr'}}
        </span>
        <div class="resource-content flex-center">
          <input class="resource-input" id="mdef-input" type="number" name="system.derived.mdef.value"
            value="{{system.derived.mdef.value}}" data-dtype="Number"
            data-tooltip="{{localize 'FU.MagicDefense'}}<br>Current: {{system.derived.mdef.value}}<br>Bonus: {{system.derived.mdef.bonus}}"
            aria-describedby="tooltip" disabled />
        </div>
      </div>

      <!-- Initiative -->
      <div class="resource-content flex-group-center">
        <label class="rollable resource-label" data-roll-type="roll-init">
          <i class="fa-solid fa-clock icon"></i>{{localize 'FU.Initiative'}}
        </label>
        <div class="resource-content flex-center">
          <input class="resource-input" id="init-input" type="number" name="system.derived.init.value"
            value="{{system.derived.init.value}}" data-dtype="Number"
            data-tooltip="{{localize 'FU.Initiative'}}<br>Current: {{system.derived.init.value}}<br>Bonus: {{system.derived.init.bonus}}"
            aria-describedby="tooltip" disabled />
        </div>
      </div>

      <!-- Resource 1 -->
      <div class="resource-content flex-group-center">
        <div class="name-input">
          <input type="text" name="system.resources.rp1.name" title="{{localize 'FU.ResourcePoints'}}"
            value="{{system.resources.rp1.name}}" data-dtype="String" placeholder="Resource 1" class="resource-label" />
        </div>
        <div class="buttons-inc">
          <button class="increment-button" data-resource="rp1" data-action="decrease">
            <i class="fas fa-minus"></i>
          </button>
          <input type="number" name="system.resources.rp1.value"
            data-tooltip="Current: {{system.resources.rp1.value}}<br>Step: X<br>Max: X<br>" aria-describedby="tooltip"
            value="{{system.resources.rp1.value}}" data-dtype="Number" id="rp1-input" class="resource-input" />
          <button class="increment-button" data-resource="rp1" data-action="increase">
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>


      {{#if system.isCompanion.value}}
      <!-- [Companion] PC Level Replace Resource 2 -->
      <div class="resource-content flex-group-center">
        <div class="name-input">
          <input type="text" name="system.resources.rp2.name" data-tooltip="{{localize 'FU.PlayerLevel'}}"
            value="{{localize 'FU.PlayerLevel'}}" data-dtype="String" class="resource-label" disabled />
        </div>
        <div class="buttons-inc">
          <button class="increment-button" data-resource="rp2" data-action="decrease">
            <i class="fas fa-minus"></i>
          </button>
          <input type="number" name="system.resources.rp2.value"
            data-tooltip="Current: {{system.resources.rp2.value}}<br>Max: 50<br>" aria-describedby="tooltip"
            value="{{system.resources.rp2.value}}" data-dtype="Number" id="rp2-input" class="resource-input" />
          <button class="increment-button" data-resource="rp2" data-action="increase">
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>

      <!-- [Companion] Skill Level Replace Resource 3 -->
      <div class="resource-content flex-group-center">
        <div class="name-input">
          <input type="text" name="system.resources.rp3.name" data-tooltip="{{localize 'FU.SkillLevel'}}"
            value="{{localize 'FU.SkillLevel'}}" data-dtype="String" class="resource-label" disabled />
        </div>
        <div class="buttons-inc">
          <button class="increment-button" data-resource="rp3" data-action="decrease">
            <i class="fas fa-minus"></i>
          </button>
          <input type="number" name="system.resources.rp3.value"
            data-tooltip="Current: {{system.resources.rp3.value}}<br>Max: 5<br>" aria-describedby="tooltip"
            value="{{system.resources.rp3.value}}" data-dtype="Number" id="rp3-input" class="resource-input" />
          <button class="increment-button" data-resource="rp3" data-action="increase">
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>
      {{else}}
      <!-- Resource 2 -->
      <div class="resource-content flex-group-center">
        <div class="name-input">
          <input type="text" name="system.resources.rp2.name" title="{{localize 'FU.ResourcePoints'}}"
            value="{{system.resources.rp2.name}}" data-dtype="String" placeholder="Resource 2" class="resource-label" />
        </div>
        <div class="buttons-inc">
          <button class="increment-button" data-resource="rp2" data-action="decrease">
            <i class="fas fa-minus"></i>
          </button>
          <input type="number" name="system.resources.rp2.value"
            data-tooltip="Current: {{system.resources.rp2.value}}<br>Step: X<br>Max: X<br>" aria-describedby="tooltip"
            value="{{system.resources.rp2.value}}" data-dtype="Number" id="rp2-input" class="resource-input" />
          <button class="increment-button" data-resource="rp2" data-action="increase">
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>

      <!-- Resource 3 -->
      <div class="resource-content flex-group-center">
        <div class="name-input">
          <input type="text" name="system.resources.rp3.name" title="{{localize 'FU.ResourcePoints'}}"
            value="{{system.resources.rp3.name}}" data-dtype="String" placeholder="Resource 3" class="resource-label" />
        </div>
        <div class="buttons-inc">
          <button class="increment-button" data-resource="rp3" data-action="decrease">
            <i class="fas fa-minus"></i>
          </button>
          <input type="number" name="system.resources.rp3.value"
            data-tooltip="Current: {{system.resources.rp3.value}}<br>Step: X<br>Max: X<br>" aria-describedby="tooltip"
            value="{{system.resources.rp3.value}}" data-dtype="Number" id="rp3-input" class="resource-input" />
          <button class="increment-button" data-resource="rp3" data-action="increase">
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>
      {{/if}}

      <!-- Roll Check -->
      <div class="resource-content flex-group-center">
        <label class="resource-content rollable flex-center resource-label" data-roll-type="roll-check">
          <i class="fa-solid fa-dice icon"></i>{{localize 'FU.RollCheck'}}
        </label>
        <div class="resource-content buttons-inc">
          <span class="buttons-inc">
            <select value="{{system.rollInfo.attributes.primary.value}}" name="system.rollInfo.attributes.primary.value"
              class="resource-input">
              {{#select system.rollInfo.attributes.primary.value}}
              <option value="attributes.dex.current">
                {{localize 'FU.AttributeDexAbbr'}}
              </option>
              <option value="attributes.ins.current">
                {{localize 'FU.AttributeInsAbbr'}}
              </option>
              <option value="attributes.mig.current">
                {{localize 'FU.AttributeMigAbbr'}}
              </option>
              <option value="attributes.wlp.current">
                {{localize 'FU.AttributeWlpAbbr'}}
              </option>
              {{/select}}
            </select>
          </span>
          <span class="buttons-inc rollable" data-tooltip="Customize Roll" aria-describedby="tooltip"
            data-type="roll-check-option" data-roll-type="roll-check-option">
            <button class="roll-check-option">
              <i class="fas fa-plus"></i>
            </button>
          </span>
          <span class="buttons-inc">
            <select value="{{system.rollInfo.attributes.secondary.value}}"
              name="system.rollInfo.attributes.secondary.value" class="resource-input">
              {{#select system.rollInfo.attributes.secondary.value}}
              <option value="attributes.dex.current">
                {{localize 'FU.AttributeDexAbbr'}}
              </option>
              <option value="attributes.ins.current">
                {{localize 'FU.AttributeInsAbbr'}}
              </option>
              <option value="attributes.mig.current">
                {{localize 'FU.AttributeMigAbbr'}}
              </option>
              <option value="attributes.wlp.current">
                {{localize 'FU.AttributeWlpAbbr'}}
              </option>
              {{/select}}
            </select>
          </span>
        </div>
      </div>
    </div>
    {{!-- End Extra Section --}}

    <div class="grid grid-9col">
      {{#affinity system.resources.affinity}}
      <div class="flex-group-center resource-content">
        <label>
          <span class="resource-label">
            <i class="{{icon}} icon-aff"></i>
            <br />{{localize label}}
          </span>
        </label>
        <select value="{{value}}" name="{{name}}" class="resource-input select-dropdown">
          {{#select value}}
          <option value="NA">-</option>
          <option value="VU">VU</option>
          <option value="RS">RS</option>
          <option value="IM">IM</option>
          <option value="AB">AB</option>
          {{/select}}
        </select>
      </div>
      {{/affinity}}
    </div>
    {{!-- End Affinity Section --}}
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item rollable tab-style" data-tab="attributes">{{localize 'FU.Stats'}}</a>
    <a class="item rollable tab-style" data-tab="items">{{localize 'FU.Items'}}</a>
    <a class="item rollable tab-style" data-tab="spells">{{localize 'FU.Spells'}}</a>
    <a class="item rollable tab-style" data-tab="behavior">{{localize 'FU.Behavior'}}</a>
    <a class="item rollable tab-style" data-tab="effects" data-tooltip="{{localize 'FU.Effects'}}"
      aria-describedby="tooltip"><i class="fa-solid fa-wand-magic-sparkles"></i></a>
    <a class="item rollable tab-style" data-tab="settings" data-tooltip="{{localize 'FU.Settings'}}"
      aria-describedby="tooltip"><i class="fa-solid fa-bars"></i></a>
  </nav>
  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="attributes">
      <section class="grid grid-3col">
        <aside class="sidebar flex-group-center">
          {{!-- Abilities Section --}}
          <div class="abilities desc flexcol">
            <div class="desc-header">
              <label class="resource-label">{{localize 'FU.Attributes'}}</label>
            </div>
            {{#each system.attributes as |attribute key|}}
            <div class="ability resource-content flexrow flex-group-center">
              <label class="resource-label flexlarge align-left" data-label="{{attribute.label}}">
                <span class="resource-label">{{attribute.label}}</span>
              </label>
              <select class="resource-input" data-dtype="Number" value="{{attribute.base}}"
                name="system.attributes.{{key}}.base">
                {{#select attribute.base}}
                <option value="6">d6</option>
                <option value="8">d8</option>
                <option value="10">d10</option>
                <option value="12">d12</option>
                {{/select}}
              </select>
              <span class="ability-mod">
                <span class="resource-label">{{ attribute.current }}</span>
              </span>
            </div>
            {{/each}}
          </div>
          <div class="abilities desc flexcol">
            {{> "systems/fabulaultima/templates/actor/parts/actor-npc-skills.html"}}
          </div>
        </aside>

        <div class="stats-container grid-span-2">
          <section class="npc-border-col desc">
            <li class="flexrow flex-group-center desc-header">
              <label class="resource-label">{{localize 'FU.Traits'}}</label>
              <input class="traitdesc flex3" type="text" name="system.traits.value" value="{{system.traits.value}}"
                placeholder="Typical Traits" data-dtype="String" />
            </li>
            <section class="flex2 npc-desc">
              {{editor system.description target="system.description"
              rollData=rollData button=true owner=owner editable=editable}}
            </section>
          </section>
          <!-- Favorite Section -->
          <section class="desc"">
            {{> "systems/fabulaultima/templates/actor/parts/actor-favorite.html"
            groups=systemData.bond dtypes=dtypes}}
          </section>
        </div>
      </section>
    </div>

    {{!-- Handlebar partial template inclusion --}} {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered,
      you need to pass the actor's roll data to the rollData property. --}}
      {{editor system.biography target="system.biography" rollData=rollData
      button=true owner=owner editable=editable}}
    </div>
    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{> "systems/fabulaultima/templates/actor/parts/actor-items.html"}}
    </div>
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/fabulaultima/templates/actor/parts/actor-spells.html"}}
    </div>
    {{!-- Active Effects Tab --}}
    <div class="tab behavior" data-group="primary" data-tab="behavior">
      {{> "systems/fabulaultima/templates/actor/parts/actor-behavior.html"}}
    </div>
    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/fabulaultima/templates/actor/parts/actor-effects.html"}}
    </div>
    {{!-- Settings Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="settings">
      {{> "systems/fabulaultima/templates/actor/parts/actor-settings.html"}}
    </div>
  </section>
</form>