<div class='resource-content desc'>
	{{formInput dataFields.description
				name="system.data.description"
				value=system.data.description
				toggled=true
				enriched=enrichedHtml.description}}
</div>