<div class="bar-container">
  <div calss="resource-value-compact" style="width:100%">
    <div class="resource-text" style="width:100%">
      <div style="width:50%;display:inline-block;text-align:right">
        <i class="{{icon}}"></i>
      </div>
      <span>{{resource.value}}</span>
    </div>
  </div>
</div>