<form autocomplete="off" onsubmit="event.preventDefault();">
    <p class="instructions">{{localize "FU.ExperimentalCombatHudInstuction"}}</p>
    {{!-- experimentalCombatHud --}}
    <div class="form-group">
        <label for="experimentalCombatHud">{{localize "FU.ExperimentalCombatHudStatus"}}</label>
        <div class="form-fields">
            <input type="checkbox" name="experimentalCombatHud" id="experimentalCombatHud" {{checked experimentalCombatHud}}>
        </div>
        <p class="notes">{{localize "FU.ExperimentalCombatHudSettingsHint"}}</p>
    </div>
    <div class="form-group buttons">
        <button type="submit">
            <i class="fas fa-floppy-disk"></i> Save Changes
        </button>
        <button type="reset" name="reset">
            <i class="fas fa-undo"></i> Reset Changes
        </button>
    </div>
</form>