<form style="padding:10px" autocomplete="off" onsubmit="event.preventDefault();">
    <p class="instructions">Decide what optional rules you would like to include in your world.</p>
    <!-- optionQuirks -->
    <div class="form-group">
        <label for="optionQuirks">Enable Quirks?</label>
        <div class="form-fields">
            <input type="checkbox" name="optionQuirks" checked="">
        </div>
        <p class="notes">Play with the Quirk advanced optional rule from Atlas High Fantasy pg 114.</p>
    </div>
    <!-- optionZeroPower -->
    <div class="form-group">
        <label for="optionZeroPower">Enable Zero Powers?</label>
        <div class="form-fields">
            <input type="checkbox" name="optionZeroPower" checked="">
        </div>
        <p class="notes">Play with the Zero Power optional rule from Atlas High Fantasy pg 124.</p>
    </div>
    <!-- optionCampingRules -->
    <div class="form-group">
        <label for="optionCampingRules">Enable Camping Activities?</label>
        <div class="form-fields">
            <input type="checkbox" name="optionCampingRules" checked="">
        </div>
        <p class="notes">Play with the Camping Activities optional rule from Natural Fantasy Playtest</p>
    </div>
    <div class="form-group buttons">
        <button type="submit">
            <i class="far fa-save"></i> Save Changes
        </button>
        <button type="reset" name="reset">
            <i class="fas fa-undo"></i> Reset Changes
        </button>
    </div>
</form>