<section class="tab characters desc {{tab.cssClass}} background fu-application__content"
		 data-tab="characters" data-group="primary">
	{{#each tables as |table|}}
		{{{table}}}
	{{/each}}
</section>