<section class="tab items {{tab.cssClass}} background fu-application__browser"
		 data-tab="items" data-group="primary">
	<aside class="fu-application__sidebar">
		<section class="filter-block">
			<input
			 type="search"
			 name="search"
			 class="filter-search"
			 placeholder="Search…"
			 autocomplete="off"
			/>
		</section>

		<section class="filter-block">
			<h4>Filters</h4>
			{{!-- filter controls go here --}}
		</section>
	</aside>

	<main class="fu-application__content">
		{{{itemsTable}}}
	</main>

</section>