<aside class="fu-application__sidebar">
	<section class="">
		<label>
			<input
			 id="search"
			 type="search"
			 name="search"
			 value="{{filterText}}"
			 placeholder="Search…"
			 autocomplete="off"/>
		</label>
	</section>
</aside>