<aside class="fu-application__sidebar background">
	<section class="filter-block">
		<label>
			<input
			 type="search"
			 name="search"
			 placeholder="Search…"
			 autocomplete="off"/>
		</label>
	</section>

	<section class="filter-block">
		<h4>Filters</h4>
		{{!-- filter controls go here --}}
	</section>
</aside>