<div class="combat-hud-retro combat-hud-retro__container">
    {{#if mirrorFactionList}}
      {{> "systems/projectfu/templates/ui/combat-hud/retro/characters.hbs"}}
      {{> "systems/projectfu/templates/ui/combat-hud/retro/npcs.hbs"}}
    {{else}}
      {{> "systems/projectfu/templates/ui/combat-hud/retro/npcs.hbs"}}
      {{> "systems/projectfu/templates/ui/combat-hud/retro/characters.hbs"}}
    {{/if}}
</div>