<div class="desc mb-3">
	<div id="base-item" class="">{{> (lookup this 'template') item}}</div>
	<div style="text-align: center;"><i class="fas fa-caret-down"></i></div>
	<div id="current-item" class="">{{> (lookup this 'template') workingCopy}}</div>
</div>