<div class="form-buttons grid grid-2col gap-5 desc">
	<button type="button" class="resource-content" data-action="modify">
		<i class="fas fa-pen-to-square icon"></i>
		{{localize 'FU.Modify'}}
	</button>
	<button type="button" class="resource-content" data-action="clone">
		<i class="fas fa-copy icon"></i>
		{{localize 'FU.Clone'}}
	</button>
	<button type="button" class="resource-content" data-action="roll">
		<i class="fas fa-dice-d20 icon"></i>
		{{localize 'FU.TempRoll'}}
	</button>
	<button type="button" class="resource-content" data-action="reset">
		<i class="fas fa-reset icon"></i>
		{{localize "FU.SettingsReset"}}
	</button>
</div>