<section class="chat-prompt__message">
	{{{localize message type=type amount=amount source=source }}}
</section>

{{> 'systems/projectfu/templates/chat/partials/chat-targets.hbs' targets=targets actions=actions}}
