{{{localize 'FU.ChatInventoryRechargeMessage' actor=actorName cost=cost currency=currency }}}

<div class="fu-tags flexrow gap-5">
	<a data-action="inventoryRecharge" data-actor={{actorId}} data-cost={{cost}}>
		<span class='fu-tag button flex-group-center gap-5' style="width: 100%;white-space: nowrap;">
			{{localize "FU.InventoryRechargeIP"}}<i class="icon fa fa-university "></i>
		</span>
	</a>
</div>