
	{{{ localize 'FU.ChatStudyEvent' actor=actor target=target result=result }}}

	<div class="fu-tags flexrow gap-5">
		<a data-action="revealNpc" data-uuid="{{uuid}}">
		<span class='fu-tag button flex-group-center gap-5' style="width: 100%;white-space: nowrap;">
			{{localize "FU.Inspect"}}<i class="icon fa fa-book "></i>
		</span>
		</a>
	</div>

