<div class='exp-award projectfu'>
	<fieldset class='title-fieldset desc'>
		<legend class='resource-text-sm'>
			{{localize 'FU.Opportunity'}}
		</legend>
		<div>
			{{{opportunity}}}
		</div>
	</fieldset>
</div>

