<section class="chat-prompt__message">
	{{{localize 'FU.ChatApplyDamagePrompt' type=type amount=amount source=source }}}
</section>

{{> 'systems/projectfu/templates/chat/partials/chat-actions.hbs' targets=targets actions=actions}}
