<header class="title-desc chat-header flexrow">
    <img src="{{img}}" alt="Image" data-item-id="{{id}}" class="item-img">
    <h2 style="flex-grow: 8;">{{name}}</h2>

    <a id="universal-toggle" class="fu-tags flexrow gap-5" style="align-items:end">
        <span class="fu-tag button" style="padding: 5px;">
            <i class="fas fa-chevron-down"></i>
        </span>
    </a>
</header>