<header class="message-header flexrow">
    <span class="flavor-text">
        <div class="title-desc" style="margin: 0;">
            <div class="flex-group-center backgroundstyle">
                <p>{{flavor}}</p>
            </div>
        </div>
    </span>
</header>
<div>
    {{#if description}}
    <div class='chat-desc'>
        {{{description}}}
    </div>
    {{/if}}
</div>