<section>
    {{localize message round=round }}
</section>

<section style="margin-top: 4px; display: flex; justify-content: space-between; ">

    <div>
        <a data-action="clearEffects" data-actors="{{actors}}" data-tooltip="{{localize 'FU.ChatClearTemporaryEffects'}}">
            <span class='fu-tag button flex-group-center' style="font-size: 1rem;"><i class="icon fas fa-trash"></i></span>
        </a>
    </div>
</section>