<header class="title-desc chat-header flexrow">
    <h2>{{flavor}}</h2>
</header>
<div>
    {{#if description}}
        <div class='chat-desc'>
            {{{description}}}
        </div>
    {{/if}}
</div>