<div class="chat-effect-message">
	<header class="title-desc chat-header flexrow">
		{{!-- Image--}}
		{{> "systems/projectfu/templates/effects/active-effect-image.hbs" effect=effect}}
		<h2 style="flex-grow: 8;">{{effect.name}}</h2>
	</header>
	{{#if description}}
		<div class="chat-desc">
			{{{description}}}
		</div>
	{{/if}}
	{{#if effect.system.rules.progress.enabled}}
		{{> "systems/projectfu/templates/chat/partials/chat-clock-details.hbs" data=effect.system.rules.progress arr=effect.system.rules.progress.progressArray}}
	{{/if}}
</div>