<header class="title-desc chat-header flexrow">
	{{pfuItemAnchor item}}
	<h2 style="flex-grow: 8; margin-left: 4px;">{{item.name}}</h2>
	{{#each linked as |li|}}
		{{pfuItemAnchor li classes="fu-image__link"}}
	{{/each}}
	<a class="universal-toggle fu-tags flexrow gap-5" style="align-items:end;"
	   data-tooltip="{{localize 'FU.ChatMessageShow'}}">
			<span class="fu-tag button" style="padding: 5px;">
				<i class="fas fa-chevron-up toggle-icon"></i>
			</span>
	</a>
</header>