<section class="chat-prompt__message">
	{{{localize 'FU.ChatApplyEffectPrompt' source=source }}}
</section>

{{> 'systems/projectfu/templates/chat/partials/chat-targets.hbs' targets=targets actions=actions}}
