<div class="combineAccDmg">
	<div class="accuracy-check">
		{{#with check}}
			{{> 'systems/projectfu/templates/chat/partials/chat-accuracy-check.hbs' hideSettings=../hideSettings}}
		{{/with}}
	</div>

    {{#if damage}}
        <div class="damage-check">
			{{> 'systems/projectfu/templates/chat/partials/chat-check-damage.hbs' damage=damage check=check translation=translation hideSettings=../hideSettings}}
        </div>
    {{/if}}
</div>
