<section>
	{{localize message clock=clock source=source step=step}}
</section>
<div style="display: grid; margin-top: 4px;">
	{{> "systems/projectfu/templates/chat/partials/chat-clock-details.hbs" data=data arr=arr}}
</div>