<header class="title-desc chat-header flexrow">
	{{pfuItemAnchor item}}
	<h2 style="flex-grow: 8; margin-left: 4px;">{{item.name}}</h2>
	{{#each linked as |li|}}
		{{pfuItemAnchor li classes="fu-image__link"}}
	{{/each}}
	{{> "systems/projectfu/templates/chat/partials/chat-message-toggle.hbs"}}
</header>
{{#if subtitle}}
	<div class="chat-header" style="padding: 0;">
		<h3>{{localize subtitle}}</h3>
	</div>
{{/if}}