<div class="pfu-codex__entry__chat">
	<img class="profile-img" src="{{entry.img}}" alt="{{entry.name}}">
	<span class="name">{{entry.name}}</span>
	<span class="description">{{{enrichedDescription}}}</span>
</div>

