$size-outline: 2px; // Adjust the size of the outline
$color-outline: #000; // Define the color of the outline (change it to your desired color)
$color-text-shadow: #333; // Define the color of the text shadow (change it to your desired color)

.icon-aff {
  display: inline-block;
  padding: 2px;
  position: relative;
  z-index: 1;

  &.fa-sword {
    color: $color-icon-sword;
  }

  &.fa-wind {
    color: $color-icon-wind;
  }

  &.fa-bolt-lightning {
    color: $color-icon-bolt-lightning;
  }

  &.fa-moon {
    color: $color-icon-moon;
  }

  &.fa-hill-rockslide {
    color: $color-icon-hill-rockslide;
  }

  &.fa-fire {
    color: $color-icon-fire;
  }

  &.fa-snowflake {
    color: $color-icon-snowflake;
  }

  &.fa-sun {
    color: $color-icon-sun;
  }

  &.fa-skull-crossbones {
    color: $color-icon-skull-crossbones;
  }

  &:before {
    z-index: -1;
    text-shadow: $size-outline $size-outline 1px $color-outline;
  }
  &:after {
    z-index: 2;
    outline: $size-outline solid $color-outline;
  }
}
