.bar-progress{
    font-size:16px;
    height:1em;
    border:.125em solid #c7c7c7;
    background-color:#656565;
    box-shadow:.125em .125em 0em .0625em rgba(0,0,0,.5) inset
}
.bar-progress::after{
    content:"";
    display:block;
    clear:both
}
.bar-progress-bar{
    float:left;
    height:100%;
    max-width:100%;
    background-color:#ea9aa8;
    box-shadow:.125em .125em 0em .0625em rgba(0,0,0,.5) inset;
    transition:width 200ms
}

.bar-hp{
    background-color:#17b924;
    background-image:linear-gradient(90deg, #17b924, rgba(255, 255, 255, 0.5))
}
.bar-mp{
    background-color:#16aad6;
    background-image:linear-gradient(90deg, #16aad6, rgba(255, 255, 255, 0.5))
}
.bar-ip {
    background-color: #d68931;
    background-image: linear-gradient(90deg, #d68931, rgba(255, 255, 255, 0.5));
}
.bar-start {
    border-radius: 0 0 40% 0;
    border: inset;
}
.bar-middle {
    border-radius: 0 0 100% 100%;
    border: inset;
}
.bar-end {
    border-radius: 0 0 0 40%;
    border: inset;
}

  /* HP/MP/IP Input Bar */
  .resource-current-input {
    color: $color-primary;
    border-color: $color-primary;
    background: $color-secondary;
  }
  .resource-middle-input {
    background: $color-ternary;
    border-color: $color-primary;
  }
  .resource-max-input {
    background: $color-secondary;
    border-color: $color-primary;
  }
  .resource-max-input:disabled {
    color: $color-primary;
    background-color: $color-secondary;
    font-size: 16px;
    cursor: not-allowed;
    opacity: 0.8;
    border-color: $color-primary;
    &:hover {
      border-color: $color-primary;
      border: inset;
    }
  }
  
