.item-form {
  font-family: $font-primary;
}
 /* Sheet Background */
.backgroundstyle {
  background-image: url("/systems/fabulaultima/styles/static/ui/bg.png"), linear-gradient(to right, $color-beige, $color-faint);
  background-blend-mode: multiply;
  background-repeat: repeat-y;
  background-position: right top; 
  padding: 1em 0.5em;
}

.sheet-header {
  flex: 0 auto;
  overflow: visible;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
  .profile-img {
    flex: 0 0 150px;
    height: 150px;
    margin-right: 0;
    margin-top: 15px;
    padding: 2px;
    align-self: start;
    background-image: linear-gradient(to right, $color-secondary, $color-ternary);
    background-clip: content-box;
    border-color: #9a9a9a;
    margin: 0.5em 0 0 0.5em;
  }

  /* Character Name Input Tag */
  input.resource-input-charname {
  color: $color-primary;
  font-size: 24x;
  background: linear-gradient($color-charname-gradient);
  border-color: transparent;
  }

  .header-fields {
    flex: 1;
  }

  h1.charname {
    background-color: transparent; 
    border-color: transparent;
    color: $color-black;
    height: 50px;
    padding: 0px;
    margin: 5px 0;
    border-bottom: 0;
    input {
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
}

// Better readability for description
.npc-border-col {
  border: 4px double $color-secondary;
}

.tabs .item.active {
  text-shadow: 0 0 10px $color-shadow;
}

.sheet-tabs {
  flex: 0;
}

/* Edit */
.sheet-body,
.sheet-body .tab {
  height: 50%;
  min-height: 50%;
  max-height: 100%;

  .desc, .gm-desc{
    background: linear-gradient(to right, rgba(238, 244, 228, 0.5), rgba(226, 237, 213, 0.5));
    margin: 10px 0 5px 0;
  }
}

.npc-desc {
  margin: 0.5em;
}

.sheet-body .tab .editor {
  height: 100%;
  max-height: 100%;
}

.tox .tox-editor-container {
  background: #fff;
}
.tox .tox-edit-area {
  padding: 0 8px;
}
