<div class="item-full start gap-5 resource-content">
    <div>
        <span><strong>{{localize 'FU.ClassFeatureCookbookRecipes'}}: </strong></span>
        <span class="description-effect">{{additionalData.recipes}} / 15</span>
    </div>
</div>