<div class="item-full start gap-5 resource-content">
    <div>
        <span><strong>{{localize 'FU.Quantity'}}: </strong></span>
        <span class="description-effect">{{system.data.quantity}}</span>
    </div>
    <span>⬥</span>
    <div>
        <span><strong>{{localize 'FU.ClassFeatureIngredientTaste'}}: </strong></span>
        <span class="description-effect">{{localize (lookup additionalData.tastes system.data.taste)}}</span>
    </div>
</div>