{{!-- Core Fields --}}
<fieldset>
    <div class="form-group">
        <div class="form-fields">
            <label class="resource-label-m flexlarge">{{localize 'FU.Event'}}</label>
            <select name="effect.system.duration.event" class="resource-inputs select-dropdown-m">
                {{selectOptions effectDuration selected=effect.system.duration.event sort=true localize=true}}
            </select>
        </div>
    </div>
</fieldset>