<fieldset>
    <div class="form-group">
        <label class="resource-label-m flexlarge">{{localize 'FU.EffectType'}}</label>
        <select name="system.type" class="resource-inputs select-dropdown-m">
            {{selectOptions effectType selected=system.type sort=true localize=true}}
        </select>
    </div>

    <div class="form-group">
        <label class="resource-label-m flexlarge">{{localize 'FU.EffectCrisisInteraction'}}</label>
        <select name="system.predicate.crisisInteraction" class="resource-inputs select-dropdown-m">
            {{selectOptions crisisInteractions selected=system.predicate.crisisInteraction sort=true localize=true}}
        </select>
    </div>
</fieldset>