<label class="resource-label-l align-right rollable" data-tooltip="{{localize tooltip}}" aria-describedby="tooltip">
	<a data-action="{{action}}" data-option="{{option}}">
		<i class="{{icon}}"></i>
	</a>
</label>