.fu-chat__actor {
	width: 128px;
	height: auto;
}

.fu-chat__stagger {
	background: var(--background-critical);
	color: #ffffff;
	text-shadow:
		0 0 2px rgba(0, 0, 0, 0.8),
		0 2px 4px rgba(0, 0, 0, 0.6);

	padding: 8px;
	border-radius: 10px;
	border-top: 1px solid #c9c7b8;
	-webkit-box-shadow: 1px 2px var(--border-critical);

	font-size: x-large;
	font-weight: bolder;
	text-transform: uppercase;
}

.fu-chat__opposed-check {
	background: var(--background-opposed);
	color: #ffffff;
	text-shadow:
		0 0 2px rgba(0, 0, 0, 0.8),
		0 2px 4px rgba(0, 0, 0, 0.6);
	padding: 8px;
	border-radius: 10px;
	border-color: var(--background-opposed-border);
	border-top: 1px solid #c9c7b8;
	-webkit-box-shadow: 1px 2px #888276;
	font-size: x-large;
	font-weight: bolder;
	text-transform: uppercase;
}

.fu-chat__opposed-check__icon {
	color: #eaeaea;
}

.fu-chat__opposed-check__winner {
	filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.9)) drop-shadow(0 0 4px rgba(255, 215, 0, 0.9));
}

.fu-chat__opposed-check__loser {
	-webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
	filter: brightness(1.8) grayscale(1) opacity(0.7);
}
