<div class="flexrow item-full start">
    <span class="description-effect">{{system.summary.value}}</span>
    {{#if additionalData.isCharacter}}
        <div class="flex0">
            <a data-action="toggleActiveGarden" data-item-id="{{item.id}}">
                <i class="fas {{#if additionalData.active}}fa-circle-check{{else}}fa-circle fa-thin{{/if}}"></i>
            </a>
        </div>
    {{/if}}
</div>
