<div class="item-full start gap-5 resource-content">
    <div>
        <span><strong>{{localize 'FU.Cost'}}: </strong></span>
        <span class="description-effect">{{system.cost.value}}</span>
    </div>
</div>