/* ----------------------------------------- */
/* Inline Styles                       
/* ----------------------------------------- */
@import '../utils/colors';

.fu-tags {
	margin: 0;
	padding: 0.125rem 0;
	.fu-tag {
		font-family: $font-primary;
		font-variant: small-caps;
		font-size: 0.813rem;
		font-weight: 700;
		letter-spacing: 0.063rem;
		text-rendering: optimizeLegibility;
		align-items: center;
		background-color: $color-ternary;
		border: 0.063rem solid #f5f5dc;
		border-radius: 0.5rem;
		box-shadow: 0.063rem 0.1rem $color-secondary;
		color: $color-white;
		padding: 0 0.375rem;
		white-space: wrap;
		word-break: break-all;
		display: inline-flex;
		margin: 0.0625rem 0;
		text-shadow: $text-shadow-side;

		i {
			color: $color-white;
		}

		&:hover {
			filter: brightness(1);
			cursor: pointer;
		}

		&.button {
			padding: 0.188rem;
			letter-spacing: 0;
		}

		&:not(.button) {
			filter: grayscale(100%);
		}
	}
}

#tooltip {
	&.link-matches {
		a.content-link {
			color: $color-white;
			text-shadow: $text-shadow-side;
		}
	}
}

.locked-tooltip {
	&.link-matches {
		a.content-link {
			color: $color-white;
			text-shadow: $text-shadow-side;
		}
	}
}

a.content-link,
a.inline-roll {
	background: #3d665a;
	border: 0.063rem solid #f5f5dc;
	border-radius: 0.5rem;
	box-shadow: 0.063rem 0.125rem #2b4a42;
	color: $color-white;
	font-weight: bold;
	margin: 0.04rem 0.15rem;
	padding: 0 0.375rem;
	white-space: nowrap;
	word-break: break-all;
	text-shadow: $text-shadow-side;

	i {
		color: $color-white;
	}
}

.inline {
	display: inline-flex;
	gap: 0.025em;
	align-items: baseline;

	img {
		border: none;
		position: relative;
		top: 3px;
	}

	&.broken {
		font-size: var(--font-size-14);
		background: color-mix(in srgb, red, transparent 95%);
		padding: 0.125em 0.25em;
		border: 1px dashed var(--color-border-highlight-alt);
		border-radius: 1px;
		white-space: nowrap;
		word-break: break-all;

		.fas {
			margin-right: 0.125rem;
		}
	}

	&.inline-check,
	&.inline-damage,
	&.inline-recovery,
	&.inline-loss,
	&.inline-effect,
	&.inline-type,
	&.inline-clock,
	&.inline-weapon {
		background: #3d665a;
		border: 0.063rem solid #f5f5dc;
		border-radius: 0.5rem;
		box-shadow: 0.063rem 0.1rem #2b4a42;
		color: $color-primary;
		font-size: var(--font-size-14);
		font-weight: bold;
		margin: 0.04rem 0.15rem;
		padding: 0 0.375rem;
		text-shadow: $text-shadow-side;
		white-space: nowrap;
		word-break: break-all;
	}

	&.inline-damage {
		.fun {
			margin-left: 0.125rem;
			display: inline-block;
			width: var(--font-size-18);
			height: var(--font-size-18);
		}

		[class^='fu-'],
		[class*=' fu-'] {
			font-size: var(--font-size-18);
		}

		.fua {
			margin-left: 0.125rem;
			display: inline-block;
			width: 18px;
			height: 18px;
			text-align: center;
		}
	}

	&.inline-recovery,
	&.inline-loss {
		.fas,
		.ra {
			margin-left: 0.125rem;
			vertical-align: middle;
			font-size: var(--font-size-18);
		}

		.indicator {
			width: 0;
			height: 0;
			display: inline-block;
			vertical-align: middle;
			margin-right: 0.125em;
			border-left: calc(var(--font-size-16) / 2) solid transparent;
			border-right: calc(var(--font-size-16) / 2) solid transparent;
			filter: drop-shadow(0px 1px 1px black);
		}

		.hp {
			background: linear-gradient(to right, $color-hp, color-mix(in srgb, $color-hp, black 30%));
			background-clip: text;
		}

		.mp {
			background: linear-gradient(to right, $color-mp, color-mix(in srgb, $color-mp, black 30%));
			background-clip: text;
		}

		.ip {
			background: linear-gradient(to right, $color-ip, color-mix(in srgb, $color-ip, black 30%));
			background-clip: text;
		}
	}

	&.inline-recovery {
		.indicator {
			border-bottom: calc(var(--font-size-16) * 0.866) solid $color-success;
		}

		&:hover .indicator {
			animation: 0.5s infinite alternate linear recovery-indicator-bobbing;
		}
	}

	&.inline-loss {
		.indicator {
			border-top: calc(var(--font-size-16) * 0.866) solid $color-danger;
			border-bottom: calc(var(--font-size-16) * 0.134) solid transparent;
		}

		&:hover .indicator {
			animation: 0.5s infinite alternate linear loss-indicator-bobbing;
		}
	}

	&.inline-effect {
		.fun {
			margin-right: 0.125rem;
			display: inline-block;
			width: var(--font-size-18);
			height: var(--font-size-18);
			filter: brightness(0.5);
		}
		&:hover .fun {
			filter: brightness(1);
		}
	}
}

@keyframes recovery-indicator-bobbing {
	to {
		translate: 0 -2px;
	}
}

@keyframes loss-indicator-bobbing {
	to {
		translate: 0 2px;
	}
}
