
.inline {

    &.inline-damage, &.inline-recovery {
        font-size: var(--font-size-14);
        background: #DDD;
        padding: 1px 4px;
        border: 1px solid var(--color-border-dark-tertiary);
        border-radius: 2px;
        white-space: nowrap;
        word-break: break-all;
    }

    &.inline-damage {
        .fun {
            margin-left: 0.125rem;
            display: inline-block;
            width: var(--font-size-18);
            height: var(--font-size-18);
        }
    }

    &.inline-recovery {
        .fas, .ra {
            margin-left: 0.125rem;
            vertical-align: bottom;
            font-size: var(--font-size-18);
        }
    }

}