/* ----------------------------------------- */
/* Window Styles                     
/* ----------------------------------------- */
.app.backgroundstyle,
.application.backgroundstyle {
	background: unset;
	background-blend-mode: unset;
	background-repeat: unset;
	background-position: unset;
	background-color: unset !important;
	backdrop-filter: blur(5px);

	& .window-header {
		background: rgba($color-secondary, 0.95);
	}

	& .window-content {
		background:
			#{$background-core},
			linear-gradient(to right, $color-beige, $color-faint);
		background-size: 100% auto;

		& .section-container,
		& .desc,
		& .resource-content.level-field {
			background: url(../static/ui/Bkg_highres.png), linear-gradient(to right, #f5f5dc, #c9c7b8);
			background-blend-mode: multiply;
			background-repeat: repeat-y;
			background-position: right top;
			border: 1px solid #6f6c66;
			background-size: cover;
		}

		& .backgroundstyle {
			border-radius: 10px;
		}
	}
}

.sheet nav.sheet-tabs .item {
	margin-block: auto;
	width: fit-content;
	padding: 2px;
}

.sheet nav.sheet-tabs > [data-tab] {
	padding: 0px;
}

.tabs {
	margin: 5px 0;
}

.rollable {
	&:hover,
	&:focus {
		color: #fff79a;
		text-shadow: 2px 2px 12px #148782;
		cursor: pointer;
	}
}

@keyframes zoomOutUp {
	40% {
		opacity: 1;
		transform: scale3d(0.475) translate3d(0, 60px, 0);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	to {
		opacity: 0;
		transform: scale3d(0.1) translate3d(0, -2000px, 0);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	}
}

@keyframes floating {
	0%,
	100% {
		transform: translate(0);
	}
	50% {
		transform: translate(0, 6px);
	}
}

.zoomOutUp {
	animation: zoomOutUp;
	transform-origin: center bottom;
}

.notification {
	&.projectfu-spellname {
		animation: zoomOutUp 1.5s ease-in-out 4s;
		text-align: center;
		color: rgba(255, 255, 255, 0.9);
		font-size: 45px;
		text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
		box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.3);
		background-image: linear-gradient($color-charname-gradient);
		border: thin solid $color-secondary;
		padding: 12px;
		margin: auto;
		border-radius: 24px;

		width: 100%;
		& p {
			width: 100%;
		}
		&::after {
			content: '';
		}

		.close {
			opacity: 0;
			pointer-events: none;
		}
	}
}

.highlight-drop-zone {
	outline: 4px double #d27a29 !important;
	background-color: rgba(244, 224, 193, 0.5) !important;
	position: relative;
	z-index: 1000;
	box-shadow: 0 0 10px rgba(58, 34, 34, 0.2);
	transition:
		background-color 0.3s ease,
		border 0.3s ease;
}

.hidden {
	display: none;
}

.shown {
	display: block;
}
