<div class="inline-desc flexrow flex-group-center" style="padding: 1px;">
	{{#if displayName}}
		<label class="item-name resource-text-sm" style="flex-grow: 2;">
			{{ localize displayName }}
		</label>
	{{/if}}
	<div class="resource-text-t buttons-inc" style="padding: 0 4px;">
		<span data-resource="item.rp">{{ data.current }}</span>
		{{#if (gt data.max 0)}}
			<span>/</span>
			<span>{{ data.max }}</span>
		{{/if}}
	</div>
	{{> 'systems/projectfu/templates/common/progress/partials/progress-controls.hbs'}}
</div>