.cookbook-sheet {
	.taste-container {
		gap: 0.5em;
		margin-bottom: 0.5em;
	}

	.taste > input[type='radio'] {
		display: none;
	}

	.taste > input + * {
		display: block;
		box-shadow: 1px 2px #2b4a42;
		border-radius: 10px;
		border: 0.01em solid #148782;
		background: #2b4a42;
		color: #ebf7af;
		font-size: 17px;
		font-weight: bold;
		text-decoration: none;
		transform: translateY(1px);
	}

	.taste > input:checked + * {
		color: #fff79a;
		border: 1px solid #753002;
		background: linear-gradient(0deg, rgba(226, 128, 121, 0.8) 0%, rgba(241, 163, 114, 0.8) 100%);
		box-shadow: 0 0 5px #d8e08f;
		text-shadow:
			1px 1px 2px #753002,
			-1px -1px 2px #753002;
	}

	.taste > input:hover + * {
		background: linear-gradient(0deg, rgba(220, 211, 116, 1) 0%, rgba(255, 247, 154, 1) 100%) !important;
		color: #047470 !important;
		text-shadow: none;
	}

	.combination {
		display: none;

		&.active {
			display: revert;
		}
	}
}
