<div class="fu-rule-element__property">
	<span>{{localize 'FU.DamageSource'}}</span>
	{{formGroup trigger.schema.fields.damageSources value=trigger.damageSources options=options.damageSourceOptions name=(pfuConcat path ".damageSources") classes="fu-rule-element__set stacked"}}
</div>