<label class="fu-rule-element__property">
	<span>{{localize 'FU.Event'}}</span>
	<select name="{{pfuConcat path ".eventType"}}">
		{{selectOptions options.combatEvent selected=trigger.eventType localize=true}}
	</select>
</label>
