<div class="fu-rule-element__property">
	<span>{{localize 'FU.Traits'}}</span>
	{{formGroup trigger.schema.fields.traits value=trigger.traits name=(pfuConcat path ".traits") options=options.consumableTraitOptions classes="fu-rule-element__set stacked"}}
</div>