<div class="fu-rule-element__property">
	<span>{{localize 'FU.CheckType'}}</span>
	{{formGroup trigger.schema.fields.checkTypes value=trigger.checkTypes options=options.checkTypeOptions name=(pfuConcat path ".checkTypes") classes="fu-rule-element__set stacked"}}
</div>
