<div class="wellspring-preview">
    {{#each additionalData.activeWellsprings as | active |}}
        {{#with (lookup ../additionalData.wellsprings @key)}}
            <i class="wellspring fu-icon__container {{#unless active}}inactive{{/unless}}" data-tooltip="{{name}}" data-wellspring="{{@key}}">
				<i class="fu-icon--s {{icon}}"></i>
            </i>
        {{/with}}
    {{/each}}
</div>