<div class="flexcol gap-05 invocations-selection">
    <section class="desc">
        {{#each wellsprings}}
            <header class="items-main-header">
                <span class="items-main spin2win rollable" data-action="useInvocation">
                    <i class="{{wellspring.icon}}"></i>
                    <label class="items-label">{{ localize wellspring.name }}</label>
                </span>
            </header>
            {{{table}}}
            <p></p>
        {{/each}}
    </section>
</div>