<div class="item-full start gap-2 resource-content">
    <span class="description-effect">{{system.summary.value}}</span>
</div>

{{!-- Resource Points --}}
{{#if system.data.hasResource.value}}
	{{progress item 'system.data.rp' style='basic' type='optionalRPCounter'}}
{{/if}}

{{!-- Clocks --}}
{{#if system.data.hasClock.value}}
	{{progress item 'system.data.progress' type='featureCounter'}}
{{/if}}