{{#if resourceDataString}}
<div class="clock-display">
    {{{resourceDataString}}}
</div>
{{/if}}
{{#if clockDataString}}
<div class="clock-display">
    {{{clockDataString}}}
</div>
{{/if}}
<div class='chat-desc'>
    <details {{#unless (getGameSetting 'optionChatMessageCollapseDescription')}}open{{/unless}}>
        <summary class="collapsible-description align-center">{{localize 'FU.Description'}}</summary>
        {{{enrichedDescription}}}
    </details>
</div>