<div class='chat-desc'>
    <details {{#unless (getGameSetting 'collapseDescriptions')}}open{{/unless}}>
        <summary class="collapsible-description align-center">{{localize 'FU.Description'}}</summary>
        {{{description}}}
    </details>
</div>