<div>
    <fieldset class="title-fieldset section-container desc resource-content">
    <div>
        <label class='resource-label-m'>
            {{localize 'FU.Description'}}
        </label>
        {{editor enrichedHtml.description target='system.data.description' engine='prosemirror' button=true }}
    </div>
    </fieldset>
</div>