<label class="fu-rule-element__property">
	<span>{{localize 'FU.Bond'}}</span>
	<select name="{{pfuConcat path ".bond"}}">
		{{selectOptions options.bondPredicate selected=predicate.bond sort=true localize=true}}
	</select>
</label>