<div class="fu-rule-element__property">
	<span>{{localize 'FU.Rank'}}</span>
	{{formGroup predicate.schema.fields.ranks value=predicate.ranks options=options.rankOptions name=(pfuConcat path ".ranks") classes="fu-rule-element__set stacked"}}
</div>