<label class="fu-rule-element__property">
	<span>{{localize 'FU.Resource'}}</span>
	<select name="{{pfuConcat path ".resource"}}">
		{{selectOptions options.resources selected=predicate.resource sort=true localize=true}}
	</select>
</label>