<label class="fu-form__property">
	<span>{{localize 'FU.Species'}}</span>
	{{formGroup predicate.schema.fields.species value=predicate.species options=options.speciesOptions name=(pfuConcat path ".species") classes="fu-form__set stacked"}}
</label>
