<form class="{{cssClass}} backgroundstyle" autocomplete="off">
  {{> "systems/fabulaultima/templates/item/parts/item-header.html"
  dtypes=dtypes}} {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize 'FU.Description'}}</a>
    <a class="item" data-tab="attributes">{{localize 'FU.Attributes'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab desc" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" rollData=rollData
      button=true owner=owner editable=editable}}
    </div>
    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="item-settings">
        <label class="checkbox resource-label">
          <span>{{localize 'FU.FavoriteStatus'}}</span
          ><input
            type="checkbox"
            name="system.isFavored.value"
            {{
            checked
            system.isFavored.value
            }}
          />
        </label>
        {{!-- NPC Relevent Option --}} {{#if (eq actor.type "npc")}}
        <label class="checkbox resource-label">
          <span>{{localize "FU.BehaviorStatus"}}</span
          ><input
            type="checkbox"
            name="system.isBehavior.value"
            {{
            checked
            system.isBehavior.value
            }}
          />
        </label>
        {{/if}}
        <label class="checkbox resource-label">
          <span>{{localize 'FU.IsRoll'}}</span
          ><input
            type="checkbox"
            name="system.hasRoll.value"
            {{
            checked
            system.hasRoll.value
            }}
          />
        </label>
        <label class="checkbox resource-label">
          <span>{{localize 'FU.hasCollateral'}}</span
          ><input
            type="checkbox"
            name="system.rollInfo.impdamage.hasImpDamage.value"
            {{
            checked
            system.rollInfo.impdamage.hasImpDamage.value
            }}
          />
        </label>
      </div>
      <div class="flex1 flex-group-center desc">
        <div class="desc-header">
          <label class="resource-label">{{localize 'FU.GeneralInfo'}}</label>
        </div>
        <div class="grid grid-3col card-style">
          <div class="resource-content flexcol flex-group-center">
            <label
              for="system.rollInfo.attributes.primary.value"
              class="resource-label"
              >{{localize 'FU.Primary'}}
            </label>
            <select
              value="{{system.rollInfo.attributes.primary.value}}"
              name="system.rollInfo.attributes.primary.value"
              class="resource-input select-dropdown"
            >
              {{#select system.rollInfo.attributes.primary.value}}
              <option value="dex">DEX</option>
              <option value="ins">INS</option>
              <option value="mig">MIG</option>
              <option value="wlp">WLP</option>
              {{/select}}
            </select>
          </div>
          <div class="resource-content flexcol flex-group-center">
            <label
              for="system.rollInfo.attributes.secondary.value"
              class="resource-label"
              >{{localize 'FU.Secondary'}}
            </label>
            <select
              value="{{system.rollInfo.attributes.secondary.value}}"
              name="system.rollInfo.attributes.secondary.value"
              class="resource-input select-dropdown"
            >
              {{#select system.rollInfo.attributes.secondary.value}}
              <option value="dex">DEX</option>
              <option value="ins">INS</option>
              <option value="mig">MIG</option>
              <option value="wlp">WLP</option>
              {{/select}}
            </select>
          </div>
          <div class="resource-content flexcol flex-group-center">
            <label class="resource-label"
              >{{localize 'FU.AccuracyBonus'}}</label
            >
            <input
              type="text"
              name="system.rollInfo.accuracy.value"
              value="{{system.rollInfo.accuracy.value}}"
              class="resource-input"
              data-dtype="Number"
            />
          </div>
        </div>

        <div class="grid grid-3col card-style">
          <div class="resource-content flexcol flex-group-center">
            <label
              for="system.rollInfo.impdamage.impType.value"
              class="resource-label flexlarge align-left"
              >{{localize 'FU.DamageTypeCollateral'}}</label
            >
            <select
              value="{{system.rollInfo.impdamage.impType.value}}"
              name="system.rollInfo.impdamage.impType.value"
              class="resource-input select-dropdown-m"
            >
              {{#select system.rollInfo.impdamage.impType.value}}
              <option value="minor">Minor</option>
              <option value="heavy">Heavy</option>
              <option value="massive">Massive</option>
              {{/select}}
            </select>
          </div>
          <div class="resource-content flexcol flex-group-center">
            <label
              for="system.rollInfo.impdamage.type.value"
              class="resource-label flexlarge align-left"
              >{{localize 'FU.DamageType'}}
            </label>
            <select
              value="{{system.rollInfo.impdamage.type.value}}"
              name="system.rollInfo.impdamage.type.value"
              class="resource-input select-dropdown-m"
            >
              {{#select system.rollInfo.impdamage.type.value}}
              <option value="physical">Physical</option>
              <option value="air">Air</option>
              <option value="bolt">Bolt</option>
              <option value="dark">Dark</option>
              <option value="earth">Earth</option>
              <option value="fire">Fire</option>
              <option value="ice">Ice</option>
              <option value="light">Light</option>
              <option value="poison">Poison</option>
              <option value="">Untyped</option>
              {{/select}}
            </select>
          </div>
          <div class="resource-content flexcol flex-group-center">
            <label class="resource-label">{{localize 'FU.DamageBonus'}}</label>
            <input
              type="text"
              name="system.rollInfo.damage.value"
              value="{{system.rollInfo.damage.value}}"
              class="resource-input"
              data-dtype="Number"
              disabled
            />
          </div>
        </div>

        <div class="grid grid-2col card-style">
          <div class="resource-content flexcol flex-group-center">
            <label class="resource-label">{{localize 'FU.Potency'}}</label>
            <select
              class="resource-input select-dropdown-m"
              value="{{system.potency.value}}"
              name="system.potency.value"
            >
              {{#select system.potency.value}}
              <option value="minor">Minor</option>
              <option value="medium">Medium</option>
              <option value="major">Major</option>
              <option value="extreme">Extreme</option>
              {{/select}}
            </select>
          </div>
          <div class="resource-content flexcol flex-group-center">
            <label class="resource-label">{{localize 'FU.Area'}}</label>
            <select
              class="resource-input select-dropdown-m"
              value="{{system.area.value}}"
              name="system.area.value"
            >
              {{#select system.area.value}}
              <option value="individual">Individual</option>
              <option value="small">Small</option>
              <option value="large">Large</option>
              <option value="huge">Huge</option>
              {{/select}}
            </select>
          </div>
        </div>

        <div class="grid-3col card-style">
          <div class="resource-content flexcol flex-group-center">
            <label class="resource-label"
              >{{localize 'FU.MindPointCost'}}</label
            >
            <input
              type="text"
              name="system.mpCost.value"
              value="{{system.mpCost.value}}"
              disabled
            />
          </div>
          <div class="resource-content flexcol flex-group-center">
            <label class="resource-label">{{localize 'FU.DC'}}</label>
            <input
              type="text"
              name="system.dLevel.value"
              value="{{system.dLevel.value}}"
              disabled
            />
          </div>
          <div class="resource-content flexcol flex-group-center">
            <label class="resource-label">{{localize 'FU.Clock'}}</label>
            <input
              type="text"
              name="system.clock.value"
              value="{{system.clock.value}}"
              disabled
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
