<form class="{{cssClass}} backgroundstyle" autocomplete="off">
  {{> "systems/fabulaultima/templates/item/parts/item-header.html" dtypes=dtypes}}

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab desc" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" rollData=rollData
      button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div>
        <label class="checkbox">
          <span>Favorite?</span
          ><input
            type="checkbox"
            name="system.isFavored.value"
            {{
            checked
            system.isFavored.value
            }}
          />
        </label>
        {{!-- NPC Relevent Option --}}
        {{#if (eq actor.type "npc")}}
        <label class="checkbox">
          <span>Add to behavior roll?</span
          ><input
            type="checkbox"
            name="system.isBehavior.value"
            {{
            checked
            system.isBehavior.value
            }}
          />
        {{/if}}
      </div>
      <label class="checkbox">
        <span>Has Roll?</span
        ><input
          type="checkbox"
          name="system.hasRoll.value"
          {{
          checked
          system.hasRoll.value
          }}
        />
      </label>
      <label class="checkbox">
        <span>Use Weapon Accuracy?</span
        ><input
          type="checkbox"
          name="system.rollInfo.useWeapon.accuracy.value"
          {{
          checked
          system.rollInfo.useWeapon.accuracy.value
          }}
        />
      </label>
      <label
        for="system.rollInfo.attributes.primary.value"
        class="resource-label flexlarge align-left"
        >primary</label
      >
      <select
        value="{{system.rollInfo.attributes.primary.value}}"
        name="system.rollInfo.attributes.primary.value"
      >
        {{#select system.rollInfo.attributes.primary.value}}
        <option value="dex">DEX</option>
        <option value="ins">INS</option>
        <option value="mig">MIG</option>
        <option value="wlp">WLP</option>
        {{/select}}
      </select>
      <label
        for="system.rollInfo.attributes.secondary.value"
        class="resource-label flexlarge align-left"
        >secondary</label
      >
      <select
        value="{{system.rollInfo.attributes.secondary.value}}"
        name="system.rollInfo.attributes.secondary.value"
      >
        {{#select system.rollInfo.attributes.secondary.value}}
        <option value="dex">DEX</option>
        <option value="ins">INS</option>
        <option value="mig">MIG</option>
        <option value="wlp">WLP</option>
        {{/select}}
      </select>
      <div class="resource">
        <label class="resource-label">Bonus Accuracy</label>
        <input
          type="text"
          name="system.rollInfo.accuracy.value"
          value="{{system.rollInfo.accuracy.value}}"
          data-dtype="Number"
        />
      </div>
      <label class="checkbox">
        <span>Has Damage?</span
        ><input
          type="checkbox"
          name="system.rollInfo.damage.hasDamage.value"
          {{
          checked
          system.rollInfo.damage.hasDamage.value
          }}
        />
      </label>
      <label class="checkbox">
        <span>Use Weapon Damage?</span
        ><input
          type="checkbox"
          name="system.rollInfo.useWeapon.damage.value"
          {{
          checked
          system.rollInfo.useWeapon.damage.value
          }}
        />
      </label>
      <label class="checkbox">
        <span>HR 0?</span
        ><input
          type="checkbox"
          name="system.rollInfo.useWeapon.hrZero.value"
          {{
          checked
          system.rollInfo.useWeapon.hrZero.value
          }}
        />
      </label>
      <label
        for="system.rollInfo.damage.type.value"
        class="resource-label flexlarge align-left"
        >damage type</label
      >
      <select
        value="{{system.rollInfo.damage.type.value}}"
        name="system.rollInfo.damage.type.value"
      >
        {{#select system.rollInfo.damage.type.value}}
        <option value="physical">physical</option>
        <option value="air">air</option>
        <option value="bolt">bolt</option>
        <option value="dark">dark</option>
        <option value="earth">earth</option>
        <option value="fire">fire</option>
        <option value="ice">ice</option>
        <option value="light">light</option>
        <option value="poison">poison</option>
        <option value="">untyped</option>
        {{/select}}
      </select>
      <div class="resource">
        <label class="resource-label">Bonus Damage</label>
        <input
          type="text"
          name="system.rollInfo.damage.value"
          value="{{system.rollInfo.damage.value}}"
          data-dtype="Number"
        />
      </div>
      <label class="checkbox">
        <span>Show Title Card?</span
        ><input
          type="checkbox"
          name="system.showTitleCard.value"
          {{
          checked
          system.showTitleCard.value
          }}
        />
      </label>
    </div>
  </section>
</form>
