{{!-- This template is a fallback for when items don't have more specific
templates. --}} {{!-- Generally, you'll want to make more specific templates
when possible. --}}
<form class="{{cssClass}} backgroundstyle" autocomplete="off">
  {{> "systems/fabulaultima/templates/item/parts/item-header.html" dtypes=dtypes}}

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize 'FU.Description'}}</a>
    <a class="item" data-tab="attributes">{{localize 'FU.Attributes'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab desc" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" rollData=rollData
      button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="resource">
        <div>
          <label class="checkbox">
            <span>{{localize 'FU.FavoriteStatus'}}</span
            ><input
              type="checkbox"
              name="system.isFavored.value"
              {{
              checked
              system.isFavored.value
              }}
            />
          </label>
        </div>
        <label class="resource-label">{{localize 'FU.Cost'}}</label>
        <input
          type="text"
          name="system.cost.value"
          value="{{system.cost.value}}"
          data-dtype="Number"
        />
      </div>
      <div class="resource">
        <label class="resource-label">{{localize 'FU.Quality'}}</label>
        <input
          type="text"
          name="system.quality.value"
          value="{{system.quality.value}}"
        />
      </div>
      <div class="resource">
        <label class="resource-label">{{localize 'FU.DefenseAbbr'}}</label>
        <input
          type="text"
          name="system.def.value"
          value="{{system.def.value}}"
          data-dtype="Number"
        />
      </div>
      <div class="resource">
        <label class="resource-label">{{localize 'FU.MagicDefenseAbbr'}}</label>
        <input
          type="text"
          name="system.mdef.value"
          value="{{system.mdef.value}}"
          data-dtype="Number"
        />
      </div>
      <div class="resource">
        <label class="resource-label">{{localize 'FU.InitiativeAbbr'}}</label>
        <input
          type="text"
          name="system.init.value"
          value="{{system.init.value}}"
          data-dtype="Number"
        />
      </div>
    </div>
  </section>
</form>
