<form class="{{cssClass}} backgroundstyle" autocomplete="off">
  {{> "systems/fabulaultima/templates/item/parts/item-header.html" dtypes=dtypes}}
  
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="description">Description</a>
      <a class="item" data-tab="attributes">Attributes</a>
    </nav>
  
    {{!-- Sheet Body --}}
    <section class="sheet-body">
      {{!-- Description Tab --}}
      <div class="tab" data-group="primary" data-tab="description">
        {{editor system.description target="system.description" rollData=rollData
        button=true owner=owner editable=editable}}
      </div>
      {{!-- Attributes Tab --}}
      <div class="tab attributes" data-group="primary" data-tab="attributes">
        {{!-- As you add new fields, add them in here! --}}
        <div>
          <label class="checkbox">
            <span>Favorite?</span
            ><input
              type="checkbox"
              name="system.isFavored.value"
              {{
              checked
              system.isFavored.value
              }}
            />
          </label>
          {{!-- NPC Relevent Option --}}
          {{#if (eq actor.type "npc")}}
          <label class="checkbox">
            <span>Add to behavior roll?</span
            ><input
              type="checkbox"
              name="system.isBehavior.value"
              {{
              checked
              system.isBehavior.value
              }}
            />
          {{/if}}
        </div>
        <div class="row-resource flex-group-center grid-3col">
          <div class="tri-row-resource">
            <label class="row-resource-label">Potency</label>
            <select value="{{system.potency.value}}" name="system.potency.value">
              {{#select system.potency.value}}
              <option value="minor">Minor</option>
              <option value="medium">Medium</option>
              <option value="major">Major</option>
              <option value="extreme">Extreme</option>
              {{/select}}
            </select>
          </div>
        
          <div class="tri-row-resource">
            <label class="row-resource-label">Area</label>
            <select value="{{system.area.value}}" name="system.area.value">
              {{#select system.area.value}}
              <option value="individual">Individual</option>
              <option value="small">Small</option>
              <option value="large">Large</option>
              <option value="huge">Huge</option>
              {{/select}}
            </select>
          </div>
        
          <div class="tri-row-resource">
            <label class="row-resource-label">Uses</label>
            <select value="{{system.use.value}}" name="system.use.value">
              {{#select system.use.value}}
              <option value="consumable">Consumable</option>
              <option value="permanent">Permanent</option>
              {{/select}}
            </select>
          </div>
        </div>
        
        <div class="row-resource flex-group-center grid-3col">
          <div class="tri-row-resource">
            <label class="row-resource-label"># of Tinkerers</label>
            <input
              type="text"
              name="system.numTinker.value"
              value="{{system.numTinker.value}}"
              data-dtype="Number"
            />
          </div>
        
          <div class="tri-row-resource">
            <label class="row-resource-label"># of Hired Helpers</label>
            <input
              type="text"
              name="system.numHelper.value"
              value="{{system.numHelper.value}}"
              data-dtype="Number"
            />
          </div>
        
          <div class="tri-row-resource">
            <label class="row-resource-label">Level in Visionary</label>
            <input
              type="text"
              name="system.lvlVision.value"
              value="{{system.lvlVision.value}}"
              data-dtype="Number"
            />
          </div>
        </div>        
          
        <div class="row-resource grid-4col">
          <div class="quad-row-resource">
            <label class="row-resource-label">Cost</label>
            <input
              type="text"
              name="system.cost.value"
              value="{{system.cost.value}}"
              data-dtype="Number"

            />
          </div>
        
          <div class="quad-row-resource">
            <label class="row-resource-label">Progress</label>
            <input
              type="text"
              name="system.progress.value"
              value="{{system.progress.value}}"
              data-dtype="Number"
              
            />
          </div>
        
          <div class="quad-row-resource">
            <label class="row-resource-label">Progress Per Days</label>
            <input
              type="text"
              name="system.progressPerDay.value"
              value="{{system.progressPerDay.value}}"
              data-dtype="Number"
              
            />
          </div>
        
          <div class="quad-row-resource">
            <label class="row-resource-label">Days</label>
            <input
              type="text"
              name="system.days.value"
              value="{{system.days.value}}"
              data-dtype="Number"
              
            />
          </div>
        </div>        
        
        <div class="quad-row-resource">
          <label class="row-resource-label">Cost Covered</label>
          <input
            type="text"
            name="system.discount.value"
            value="{{system.discount.value}}"
            data-dtype="Number"
          />
        </div>

        <label class="checkbox">
          <span>Flawed?</span>
          <input
            type="checkbox"
            name="system.isFlawed.value"
            {{ checked system.isFlawed.value }}
          />
        </label>        

    </section>
  </form>