<div class="fu-tags">
    <div class="fu-tag gap-5">
        {{localize 'FU.ClassFeatureDanceDuration'}}: {{localize duration}}
    </div>
</div>
<div class='chat-desc'>
    <details {{#unless (getGameSetting 'optionChatMessageCollapseDescription')}}open{{/unless}}>
        <summary class="collapsible-description align-center">{{localize 'FU.Description'}}</summary>
        {{{description}}}
    </details>
</div>