<div>
    <div class='detail-desc flex-group-center'>
        {{localize 'FU.ClassFeatureDanceDuration'}}: {{localize duration}}
    </div>
    <div class="detail-desc flex-group-center">
        {{{description}}}
    </div>
</div>