<div>
<label>
    <span class="d-block">{{localize "FU.DamageType"}}</span>
    <select name="guided.changes.{{@index}}.damageType">
        {{selectOptions templateData.damageTypes selected=damageType localize=true}}
    </select>
</label>
</div>