<div>
    <label>
        <span>{{localize "FU.StatusEffectImmunity"}}</span>
        <select name="guided.changes.{{@index}}.temporaryEffect" class="resource-current-input">
            {{selectOptions templateData.temporaryEffects selected=temporaryEffect localize=true}}
        </select>
    </label>
</div>