<div>
<label>
    <span class="d-block">{{localize "FU.Attribute"}}</span>
    <select name="custom.changes.{{@index}}.attribute">
        {{selectOptions templateData.attributes selected=attribute localize=true}}
    </select>
</label>
</div>