<div>
    <label>
        <span>{{localize "FU.DamageType"}}</span>
        <select name="guided.changes.{{@index}}.damageType" class="resource-current-input">
            {{selectOptions templateData.damageTypes selected=damageType localize=true}}
        </select>
    </label>
</div>