<div>
	<label>
		<span>{{localize "FU.Attribute"}}</span>
		<select name="guided.changes.{{@index}}.attribute" class="resource-current-input">
			{{selectOptions templateData.attributes selected=attribute localize=true}}
		</select>
	</label>
</div>