.projectfu-combat-hud {
	&__header {
		position: relative;
	}
}

.projectfu-combat-hud--disabled {
	color: gray;
	pointer-events: none;
}

@-webkit-keyframes effects-marquee {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}

	100% {
		-webkit-transform: translate(-150%, 0);
		transform: translate(-150%, 0);
	}
}

@keyframes effects-marquee {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}

	100% {
		-webkit-transform: translate(-150%, 0);
		transform: translate(-150%, 0);
	}
}
