/* ----------------------------------------- */
/* Retro Style                       
/* ----------------------------------------- */

.projectfu.combat-hud-retro {
	--hud-height: auto;
	--npc-width-percent: 30%;
	--character-width-percent: calc(100% - var(--npc-width-percent));
	--combat-info-height: auto;
	--combat-info-content-padding: 5px;
	--combat-info-image-size: calc(3.5em - var(--combat-info-content-padding) * 2);
	--combat-info-image-size-compact: calc(2em - var(--combat-info-content-padding) * 2);
	--combat-info-effects-icon-size: 1.5em;
	--combat-bars-right-margin: 2.5em;
	--combat-info-character-width-none: 100%;
	--combat-bars-width-none: 0;
	--combat-info-character-width-one: 65%;
	--combat-bars-width-one: calc(100% - var(--combat-info-character-width-one) - var(--combat-info-image-size) - var(--combat-bars-right-margin));
	--combat-info-character-width-two: 50%;
	--combat-bars-width-two: calc(100% - var(--combat-info-character-width-two) - var(--combat-info-image-size) - var(--combat-bars-right-margin));
	--combat-info-character-width-three: 30%;
	--combat-bars-width-three: calc(100% - var(--combat-info-character-width-three) - var(--combat-info-image-size) - var(--combat-bars-right-margin));
	--combat-bars-icon-width: 45%;
	--combat-bars-text-width: calc(100% - var(--combat-bars-icon-width));
	--hud-buttons-height: 2.2em;
	--hud-buttons-width: 3em;
	--hud-opacity: 1;
	--hud-background-gradient: linear-gradient(to bottom, rgba(44, 88, 77, var(--hud-opacity)), rgba(160, 205, 188, var(--hud-opacity))), rgba(43, 74, 66, var(--hud-opacity));
	--hud-boxshadow-color: rgba(43, 74, 66, var(--hud-opacity));
	--combatant-control-z-index: 99;
	position: fixed;
	left: 0;
	height: var(--hud-height);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 4px;

	.combat-hud-retro__window-button {
		position: absolute;
		color: var(--pfu-color-app-item-header-content);
		text-shadow: 1px 1px var(--pfu-color-app-item-header-content-shadow, black);
		box-shadow: 3px 3px var(--pfu-color-app-item-header-shadow);
		background: var(--pfu-color-app-item-header-fill);

		z-index: 99;
		/*
  Set !important because some themes will set pointer-events to none on the main application
  element, and the selector for that is more specific than this one.
   */
		pointer-events: initial !important;
		-webkit-box-shadow: 3px 3px #2b4a42;
		border-radius: 10px;
		padding: 0.5em 1em 0.5em 1em;
		height: var(--hud-buttons-height);
		width: var(--hud-buttons-width);
	}
	.combat-hud-retro__window-button--top {
		top: -2em;
	}
	.combat-hud-retro__window-button--bottom {
		bottom: -2em;
	}
	.combat-hud-retro__window-button--hidden {
		display: none;
	}
	.combat-hud-retro__window-button a {
		padding: 0;
		margin: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		height: 100%;
		width: 100%;
	}
	.combat-hud-retro__window-button--minimize {
		right: 0.5em;
	}
	.combat-hud-retro__window-button--popout {
		right: 15em;
	}
	.combat-hud-retro__window-button--refresh {
		right: 7.5em;
	}
	.combat-hud-retro__window-button--compact {
		right: 4em;
	}
	.combat-hud-retro__window-button--hidden {
		display: none;
	}
	.combat-hud-retro__window-button--drag {
		left: 0em;
	}
	.combat-hud-retro__window-button--start,
	.combat-hud-retro__window-button--stop {
		left: 3.5em;
	}

	.combat-hud-retro__container {
		display: flex;
		flex-direction: row;
		width: 100%;
		gap: 2px;
	}

	.combat-hud-retro__faction-list {
		color: #ebf7af;
		text-shadow: 1px 1px 1px #000000;
		-webkit-box-shadow: 2px 4px var(--hud-boxshadow-color);
		box-shadow: 2px 4px var(--hud-boxshadow-color);
		border-radius: 10px;
		background: var(--pfu-color-app-item-header-fill);

		padding: 0.25em;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-line-pack: center;
		align-content: center;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		gap: 2px;
	}

	.combat-hud-retro__faction-list--npcs {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 var(--npc-width-percent);
		flex: 0 0 var(--npc-width-percent);
	}

	.combat-hud-retro__faction-list--characters {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 var(--character-width-percent);
		flex: 0 0 var(--character-width-percent);
	}

	.combat-hud-retro__combatant-row {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		height: var(--combat-info-height);
		border-radius: 10px;
		margin: 0 auto;
		padding: var(--combat-info-content-padding);
		background: #2b4a42;
		color: #ebf7af;
		text-transform: uppercase;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		gap: 4px;
		position: relative;
		pointer-events: initial;

		color: var(--pfu-color-control-content);
		text-shadow: 1px 1px var(--pfu-color-app-item-header-content-shadow, black);
		background: var(--pfu-color-control-fill-1);
	}

	.combat-hud-retro__combatant-info {
		flex-direction: column;
		gap: 0;
		flex-grow: 1;
	}

	.combat-hud-retro__portrait {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 var(--combat-info-image-size);
		flex: 0 0 var(--combat-info-image-size);
		height: var(--combat-info-image-size);
		width: var(--combat-info-image-size);
		-o-object-fit: cover;
		object-fit: cover;
		-o-object-position: 50% 0;
		object-position: 50% 0;
		border: none;
	}

	.combat-hud-retro__portrait img:hover {
		cursor: pointer;
	}

	.combat-hud-retro__portrait--compact {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 var(--combat-info-image-size-compact);
		flex: 0 0 var(--combat-info-image-size-compact);
		height: var(--combat-info-image-size-compact);
		width: var(--combat-info-image-size-compact);
	}

	.combat-hud-retro__combatant-name {
		overflow: hidden;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		height: auto;

		h2 {
			font-size: 1.1em;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			border: none;
			margin-bottom: 0;
		}
	}

	.combat-hud-retro__secondary-row {
		display: flex;
		flex-direction: row;
	}

	.combat-hud-retro__combatant-effects {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		gap: 1px;
		height: auto;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row;
		flex-flow: row;
		overflow: hidden;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		width: calc(var(--combat-info-effects-icon-size) * 5);
		max-width: calc(var(--combat-info-effects-icon-size) * 5);
	}

	.combat-hud-retro__combatant-resources {
		display: flex;
		flex-direction: row;
		flex-grow: 1;
		column-gap: 4px;
	}

	.combat-hud-retro__combatant-effects--marquee {
		white-space: nowrap;
		display: inline-block;
		-webkit-animation-name: effects-marquee;
		animation-name: effects-marquee;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		-webkit-animation-delay: 0.5s;
		animation-delay: 0.5s;
		-webkit-animation-play-state: running;
		animation-play-state: running;
	}

	.combat-hud-retro__effect-icon {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 var(--combat-info-effects-icon-size);
		flex: 0 0 var(--combat-info-effects-icon-size);
		height: var(--combat-info-effects-icon-size);
		width: var(--combat-info-effects-icon-size);
		-o-object-fit: cover;
		object-fit: cover;
		-o-object-position: 50% 0;
		object-position: 50% 0;
		border: none;
	}

	.combat-hud-retro__resource-value-bar {
		position: relative;
		text-align: center;
		padding: 2px;

		.resource-text {
			display: grid;
			grid-template-columns: 1fr auto 1fr;

			:first-child {
				text-align: right;
			}

			:last-child {
				text-align: left;
			}
		}
	}

	.combat-hud-retro__resource-value-icon {
		position: absolute;
		left: 4px;
	}

	.combat-hud-retro__resource-value-image {
		width: 16px;
	}

	.bar-container {
		flex-grow: 1;
	}
}
